{% extends 'terms/web/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'public/web/css/marketing-terms-web.css' %}">
{% endblock %}
{% block title %}틴플 :: 개인정보 수집 및 이용 · 제공에 관한 동의서{% endblock %}
{% block content %}
    <div class="screen-all-wrap">
        <div class="screen-wrap">
            <section class="title-container">
                <h3>틴플레이 광고성정보 수신동의서비스를 위한</h3>
                <h2>개인정보 수집 및 이용 · 제공에 관한 동의서</h2>
                <div class="title-item">
                    <span>주식회사 틴플레이</span>
                </div>
                <p>
                    주식회사 틴플레이는 수집한 개인정보를 관리함에 있어서 「정보통신망 이용촉진 및 정보보호등에 관한법률」에서 규정하고 있는 책임과 의무를 준수하고 있습니다.
                    개인 정보 수집 및 이용과 관련하여 다음의 몇 가지 사항을 안내 드리오니, 관련내용을 숙지하신 후 해당 내용에 동의하여 주시기 바랍니다.
                </p>
            </section>
            <section>
                <h4>◼ 개인정보 수집·이용 동의(선택)</h4>
                <p>틴플레이 광고성정보 수신동의 서비스 이용자의 개인정보를 수집하는 목적은 다음과 같습니다.</p>
                <table>
                    <thead>
                        <tr>
                            <th width="300px">수집목적</th>
                            <th>수집항목</th>

                            <th width="134px">보유/이용기간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                - 정기 뉴스레터 발송 <br>
                                - 신규 기능 및 서비스 홍보 및 이용 권유<br>
                            </td>
                            <td>이메일, 이름, 회사명</td>

                            <td>회원탈퇴 또는 동의철회 시</td>
                        </tr>
                    </tbody>
                </table>
                <p>- 동의를 거부할 권리가 있으며, 동의 거부 시 회원가입을 통한 기본서비스 이용은 가능하나, 광고 및 이벤트 안내 등의 서비스가 제한됩니다.</p>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}