body {
    opacity: 1;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

* {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

:root {
    --swiper-theme-color: #007aff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

[class*="hover\:"], a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
}

input, select, textarea {
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
}

.sud-header-wrap {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    height: 3.5rem;
}

.sud-header-container {
    white-space: nowrap;
    overflow: auto;
    justify-content: space-between;
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.sud-header-box {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    flex-direction: row;
    display: flex;
}

.sud-header-category {
    --tw-text-opacity: 1;
}

.sud-header-box .sud-header-category:not(:first-child) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3.5rem*var(--tw-space-x-reverse));
    margin-left: calc(3.5rem*(1 - var(--tw-space-x-reverse)));
    cursor: pointer;
}

.select-category {
    color: #CE201B;
}

.select-category:hover {
    color: #9F0D08;
}

.club-detail-link {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem*var(--tw-space-x-reverse));
    margin-left: calc(2.5rem*(1 - var(--tw-space-x-reverse)));
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.club-detail-link:hover {
    font-weight: 700;
}

.move-svg {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem*var(--tw-space-x-reverse));
    margin-left: calc(0.25rem*(1 - var(--tw-space-x-reverse)));
    width: 1rem;
    height: 1rem;
}

.notice-write-form {
    padding-top: 3rem;
    padding-bottom: 5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.notice-write-msg-wrap {
    max-width: 42rem;
    margin-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.notice-write-msg-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.notice-write-msg-boxes {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.notice-write-msg-title-wrap {
    position: relative;
    align-items: center;
}

.notice-write-msg-desc {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-weight: 400;
}

.notice-write-input-wrap {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.notice-write-buttons-wrap {
    font-size: .8125rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.notice-write-back-btn {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    align-items: center;
    display: flex;
}

.notice-write-back-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.notice-write-back-text {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem*var(--tw-space-x-reverse));
    margin-left: calc(0.25rem*(1 - var(--tw-space-x-reverse)));
}

.notice-write-button {
    --tw-border-opacity: 1;
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.notice-write-button:hover {
    background-color: #9F0D08;
    border-color: #9F0D08;
}

.notice-write-button:disabled {
    background-color: rgb(248 250 251);
    color: rgb(200 200 200);
    border-color: rgb(200 200 200);
    cursor: not-allowed;
}

.notice-write-title-wrap {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
    padding: 1.5rem;
    align-items: center;
    display: flex;
}

.notice-write-title {
    width: 100%;
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.notice-write-title::placeholder {
    --tw-text-opacity: 1;
    color: rgb(206 211 214/var(--tw-text-opacity));
    opacity: 1;
}

.notice-write-content-wrap {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
    padding: 1.5rem;
}

.notice-write-content {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
    padding: 0;
    width: 100%;
    font-size: .9375rem;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    resize: vertical;
}

.notice-write-content::placeholder {
    --tw-text-opacity: 1;
    color: rgb(206 211 214/var(--tw-text-opacity));
    opacity: 1;
}

