<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>틴플 :: 결제 내역</title>
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet" />
        <link rel="stylesheet" href="/staticfiles/css/mypage/app/my-payment-app.css" />
    </head>
    <body loaded style="position: relative; min-height: 100%; top: 0px">
        <!-- 마이페이지 헤더 부분 -->
        <header></header>
        <!-- 메인 부분 -->
        <main class="mypage-main">
            <div class="mypage-wrap">
                <div class="mypage-container">
                    <div class="mypage-box">
                        <div class="contents">
                            <div class="payment-title-box">
                                <div class="payment-title">결제 내역</div>
                            </div>
                            <div class="payment-activity-list">
                                <div class="payment-activity-box">
                                    <div class="payment-activity-items">
                                        <div class="payment-activity-details">
                                            <div class="payment-activity-inside">
                                                <div class="payment-activity-thumbnail-wrap">
                                                    <div class="payment-activity-thumbnail-container">
                                                        <!-- 해당 활동 상세보기 주소 필요 -->
                                                        <a href="" target="_blank">
                                                            <!-- 해당 활동의 썸네일 경로 필요 -->
                                                            <img class="payment-activity-thumbnail" src="/staticfiles/images/mypage/event-default-img.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="club-activity-content">
                                                    <div class="club-name-time">
                                                        <div class="club-name-box">
                                                            <span>해당 활동을 개설한 모임의 이름이 들어가야합니다.</span>
                                                        </div>
                                                        <div class="open-time-box">
                                                            <div class="open-time">결제일 24.02.13</div>
                                                        </div>
                                                    </div>
                                                    <div class="payment-activity-info">
                                                        <div class="payment-activity-title">모임에서 만든 활동의 제목이 들어가야합니다.</div>
                                                        <div class="payment-activity-oneline-info">
                                                            <span>모임장이 활동 개설 시 작성한 한줄 소개가 들어가는 자리입니다.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="payment-info-box">
                                            <div class="payment-info-inside">
                                                <div class="payment-info">
                                                    <div class="payment-amount-box">
                                                        <div class="payment-amount-title">결제 금액</div>
                                                        <span style="font-size: 1.3rem; padding-bottom: 1.2rem">|</span>
                                                        <div class="payment-amount">
                                                            <div>20,000원</div>
                                                        </div>
                                                    </div>
                                                    <div class="payment-cancle-box">
                                                        <!-- 활동 결제 취소하면 어케하지?  -->
                                                        <button class="payment-cancle" type="button">결제 취소</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="payment-activity-box">
                                    <div class="payment-activity-items">
                                        <div class="payment-activity-details">
                                            <div class="payment-activity-inside">
                                                <div class="payment-activity-thumbnail-wrap">
                                                    <div class="payment-activity-thumbnail-container">
                                                        <!-- 해당 활동 상세보기 주소 필요 -->
                                                        <a href="" target="_blank">
                                                            <!-- 해당 활동의 썸네일 경로 필요 -->
                                                            <img class="payment-activity-thumbnail" src="/staticfiles/images/mypage/event-default-img.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="club-activity-content">
                                                    <div class="club-name-time">
                                                        <div class="club-name-box">
                                                            <span>해당 활동을 개설한 모임의 이름이 들어가야합니다.</span>
                                                        </div>
                                                        <div class="open-time-box">
                                                            <div class="open-time">결제일 24.02.13</div>
                                                        </div>
                                                    </div>
                                                    <div class="payment-activity-info">
                                                        <div class="payment-activity-title">모임에서 만든 활동의 제목이 들어가야합니다.</div>
                                                        <div class="payment-activity-oneline-info">
                                                            <span>모임장이 활동 개설 시 작성한 한줄 소개가 들어가는 자리입니다.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="payment-info-box">
                                            <div class="payment-info-inside">
                                                <div class="payment-info">
                                                    <div class="payment-amount-box">
                                                        <div class="payment-amount-title">결제 금액</div>
                                                        <span style="font-size: 1.3rem; padding-bottom: 1.2rem">|</span>
                                                        <div class="payment-amount">
                                                            <div>20,000원</div>
                                                        </div>
                                                    </div>
                                                    <div class="payment-cancle-box">
                                                        <!-- 활동 결제 취소하면 어케하지?  -->
                                                        <button class="payment-cancle" type="button">결제 취소</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="payment-activity-box">
                                    <div class="payment-activity-items">
                                        <div class="payment-activity-details">
                                            <div class="payment-activity-inside">
                                                <div class="payment-activity-thumbnail-wrap">
                                                    <div class="payment-activity-thumbnail-container">
                                                        <!-- 해당 활동 상세보기 주소 필요 -->
                                                        <a href="" target="_blank">
                                                            <!-- 해당 활동의 썸네일 경로 필요 -->
                                                            <img class="payment-activity-thumbnail" src="/staticfiles/images/mypage/event-default-img.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="club-activity-content">
                                                    <div class="club-name-time">
                                                        <div class="club-name-box">
                                                            <span>해당 활동을 개설한 모임의 이름이 들어가야합니다.</span>
                                                        </div>
                                                        <div class="open-time-box">
                                                            <div class="open-time">결제일 24.02.13</div>
                                                        </div>
                                                    </div>
                                                    <div class="payment-activity-info">
                                                        <div class="payment-activity-title">모임에서 만든 활동의 제목이 들어가야합니다.</div>
                                                        <div class="payment-activity-oneline-info">
                                                            <span>모임장이 활동 개설 시 작성한 한줄 소개가 들어가는 자리입니다.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="payment-info-box">
                                            <div class="payment-info-inside">
                                                <div class="payment-info">
                                                    <div class="payment-amount-box">
                                                        <div class="payment-amount-title">결제 금액</div>
                                                        <span style="font-size: 1.3rem; padding-bottom: 1.2rem">|</span>
                                                        <div class="payment-amount">
                                                            <div>20,000원</div>
                                                        </div>
                                                    </div>
                                                    <div class="payment-cancle-box">
                                                        <!-- 활동 결제 취소하면 어케하지?  -->
                                                        <button class="payment-cancle" type="button">결제 취소</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 푸터 부분 -->
        <footer></footer>
        <!-- 모달 부분 -->
        <div>
            <!-- 결제 취소 클릭 시 나타나는 모달 -->
            <div class="cancle-modal-wrap">
                <div class="cancle-modal-shadow"></div>
                <div class="cancle-modal-container">
                    <div class="cancle-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="cancle-modal-title">취소 사유<span class="red">*</span></div>
                            </h2>
                        </div>
                        <div class="cancle-content-area">
                            <textarea name="cancle-content" rows="10" placeholder="취소 사유를 작성해 주세요."></textarea>
                        </div>
                        <div class="modal-btn-box">
                            <button class="cancle-close-btn" type="button">닫기</button>
                            <button class="cancle-check-btn" type="button" disabled>결제 취소</button>
                        </div>
                    </div>
                </div>
                <div class="check-modal-container" style="display: none">
                    <div class="check-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="cancle-check-svg-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="cancle-check-svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="modal-header-title">결제 취소가 요청 되었습니다.</div>
                            </h2>
                        </div>
                        <div class="check-modal-btn-box">
                            <button class="check-btn" type="button">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/staticfiles/js/mypage/app/my-payment-app.js"></script>
</html>
