<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link rel="stylesheet" href="/staticfiles/css/company-info/app/company-app.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!-- 폰트 어썸 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <title>주식회사 틴플</title>
    </head>
    <body>
        <div class="website-wrap">
            <div class="layout-wrap">
                <div class="layout-application-wrap">
                    <div class="application-wrap">
                        <div>
                            <div class="template-wrap">
                                <div class="header-wrap">
                                    <div class="header-wrap-margin"></div>
                                    <header class="header">
                                        <div class="header-container">
                                            <div class="h-left-box">
                                                <div class="logo-box" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
                                                    <div class="logo">
                                                        <img class="logo-icon" src="/staticfiles/images/teenplay_logo/logo2.png" alt="company-logo" />
                                                    </div>
                                                    <div class="logo-name">주식회사 틴플</div>
                                                </div>
                                            </div>
                                            <div class="h-right-box">
                                                <div class="menu-button-open">
                                                    <i class="fas fa-bars"></i>
                                                </div>
                                                <div class="menu-box">
                                                    <div class="dimming"></div>
                                                    <div class="main-box-inner">
                                                        <ul class="menu">
                                                            <li class="menu-item-history">
                                                                <div class="history-background"></div>
                                                                <div class="history-text">History</div>
                                                            </li>
                                                            <li class="menu-item-teams">
                                                                <div class="teams-background"></div>
                                                                <div class="teams-text">Team</div>
                                                            </li>
                                                            <li class="menu-item-news">
                                                                <div class="news-background"></div>
                                                                <div class="news-text">News</div>
                                                            </li>
                                                            <li class="menu-item-contact-us">
                                                                <div class="contact-us-background"></div>
                                                                <div class="contact-us-text">Contact Us</div>
                                                            </li>
                                                        </ul>
                                                        <div class="menu-button-close"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <div class="description-wrap">
                                    <div class="description-background"></div>
                                    <div class="description-color"></div>
                                    <div class="description-cover"></div>
                                    <div class="description-container">
                                        <pre class="description-text">
이벤터스는 기업 및 기관에서 주최하는 비즈니스 이벤트(MICE)에서 발생하는 과도한 비용, 비효율성, 불명확한 데이터 3가지의 문제를 디지털 전환(Platform, SaaS 도입)을 통해 해결하는 이벤트 테크 스타트업입니다.

행사를 개설하여 참가자를 모집하고 행사를 홍보할 수 있는 No.1 Event Platform과 행사 운영 과정에서의 업무들을 자동화하고 데이터를 축적할 수 있는 No.1 Event SaaS(소프트웨어)를 국내에서 유일하게 All-in-one으로 제공하고 있습니다.

이벤터스는 온라인ㆍ오프라인ㆍ하이브리드 모든 형식의 행사에서 사용할 수 있습니다. IBM, Wework, 삼성SDS, 야놀자, 경기도, 한국관광공사, KAIST, 동아일보, 농협은행, 신한카드, 삼성병원, 화우, 코엑스 등 14,000명의 고객을 보유하고 있습니다.
                                </pre
                                        >
                                    </div>
                                </div>
                                <section class="section">
                                    <div class="section-history">
                                        <div class="history-container">
                                            <div class="history-name-box">
                                                <div class="history-name"># History Timeline</div>
                                            </div>
                                            <div class="history-content-box">
                                                <div class="histroy-crop-line"></div>
                                                <div class="history-vertical-line"></div>
                                                <div class="history-content-group">
                                                    <div class="year-base-history-group-one">
                                                        <div class="year-base-history-group-year">
                                                            <span class="year-line"></span>
                                                            <span class="year-pointer"></span>
                                                            <span class="year-year">2022</span>
                                                        </div>
                                                        <div class="history-item">
                                                            <div class="history-item-year">11</div>
                                                            <div class="history-item-content">제20회 대한민국 MICE대상, 디지털 MICE 부문 수상</div>
                                                        </div>
                                                        <div class="history-item">
                                                            <div class="history-item-year">05</div>
                                                            <div class="history-item-content">한국MICE협회, “MICE 공로상” 수상</div>
                                                        </div>
                                                        <div class="history-item">
                                                            <div class="history-item-year">03</div>
                                                            <div class="history-item-content">중소벤처기업부, 비대면 바우처 서비스 공급 기업 선정</div>
                                                        </div>
                                                        <div class="history-item">
                                                            <div class="history-item-year">01</div>
                                                            <div class="history-item-content">“대한민국 퍼스트 브랜드 대상 : 웨비나 부문” 수상</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-two">
                                                        <div class="year-base-history-group-year-two">
                                                            <span class="year-line-two"></span>
                                                            <span class="year-pointer-two"></span>
                                                            <span class="year-year-two">2020</span>
                                                        </div>
                                                        <div class="history-item-two">
                                                            <div class="history-item-two-year">12</div>
                                                            <div class="history-item-two-content">네이버 클라우드 SaaS 육성 기업으로 선정</div>
                                                        </div>
                                                        <div class="history-item-two">
                                                            <div class="history-item-two-year">05</div>
                                                            <div class="history-item-two-content">Microsoft for Startups 프로그램, 한국 50개 기업에 선정</div>
                                                        </div>
                                                        <div class="history-item-two">
                                                            <div class="history-item-two-year">03</div>
                                                            <div class="history-item-two-content">온라인으로 행사 진행이 가능한 "이벤터스 웨비나" 신규 런칭</div>
                                                        </div>
                                                        <div class="history-item-two">
                                                            <div class="history-item-two-year">03</div>
                                                            <div class="history-item-two-content">서울 마이스 얼라이언스(SMA) 회원사 선정</div>
                                                        </div>
                                                        <div class="history-item-two">
                                                            <div class="history-item-two-year">03</div>
                                                            <div class="history-item-two-content">한국 MICE 협회 회원사 등록</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-three">
                                                        <div class="year-base-history-group-year-three">
                                                            <span class="year-line-three"></span>
                                                            <span class="year-pointer-three"></span>
                                                            <span class="year-year-three">2019</span>
                                                        </div>
                                                        <div class="history-item-three">
                                                            <div class="history-item-three-year">07</div>
                                                            <div class="history-item-three-content">서울시, 서울창업허브 보육기업 선정</div>
                                                        </div>
                                                        <div class="history-item-three">
                                                            <div class="history-item-three-year">07</div>
                                                            <div class="history-item-three-content">Global VC "스트롱벤처스"로부터 Pre-Series A 투자유치</div>
                                                        </div>
                                                        <div class="history-item-three">
                                                            <div class="history-item-three-year">04</div>
                                                            <div class="history-item-three-content">서울시, 관광스타트업 보육기업 선정 및 경연대회 '최우수상' 수상</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-four">
                                                        <div class="year-base-history-group-year-four">
                                                            <span class="year-line-four"></span>
                                                            <span class="year-pointer-four"></span>
                                                            <span class="year-year-four">2018</span>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">10</div>
                                                            <div class="history-item-four-content">과학기술정보통신부, "대한민국 모바일 어워드" 우수 모바일 수상</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">07</div>
                                                            <div class="history-item-four-content">서울창조경제혁신센터, 우수기업 데모데이 최우수상 수상</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">07</div>
                                                            <div class="history-item-four-content">중소벤처기업부, "창업도약 패키지" 지원사업 선정</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">05</div>
                                                            <div class="history-item-four-content">이벤터스(구 위딧소프트)로 상호 변경</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">04</div>
                                                            <div class="history-item-four-content">Global VC "스트롱벤처스"로부터 엔젤 투자유치</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">04</div>
                                                            <div class="history-item-four-content">롯데그룹의 투자법인 "롯데벤처스"로부터 엔젤 투자유치</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">03</div>
                                                            <div class="history-item-four-content">서울산업진흥원(SBA) 액셀러레이팅 기업 선정</div>
                                                        </div>
                                                        <div class="history-item-four">
                                                            <div class="history-item-four-year">01</div>
                                                            <div class="history-item-four-content">이벤터스, 행사 홍보 및 참가자 모집 플랫폼 무료로 변경</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-five">
                                                        <div class="year-base-history-group-year-five">
                                                            <span class="year-line-five"></span>
                                                            <span class="year-pointer-five"></span>
                                                            <span class="year-year-five">2017</span>
                                                        </div>
                                                        <div class="history-item-five">
                                                            <div class="history-item-five-year">11</div>
                                                            <div class="history-item-five-content">한국청년기업가정신재단, "청년기업인상" 수상</div>
                                                        </div>
                                                        <div class="history-item-five">
                                                            <div class="history-item-five-year">11</div>
                                                            <div class="history-item-five-content">국내 대표 액셀러레이터 "프라이머"로부터 시드 투자유치</div>
                                                        </div>
                                                        <div class="history-item-five">
                                                            <div class="history-item-five-year">07</div>
                                                            <div class="history-item-five-content">EvSquare, 맞춤형 행사지원 플랫폼 "이벤터스"로 브랜드 리뉴얼 및 서비스 확장</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-six">
                                                        <div class="year-base-history-group-year-six">
                                                            <span class="year-line-six"></span>
                                                            <span class="year-pointer-six"></span>
                                                            <span class="year-year-six">2016</span>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">11</div>
                                                            <div class="history-item-six-content">중소벤처기업부, "창업맞춤형사업화" 창업 지원사업 선정</div>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">09</div>
                                                            <div class="history-item-six-content">SK, "청년비상" 창업 지원사업 선정</div>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">07</div>
                                                            <div class="history-item-six-content">한국청년기업가정신재단, "K-Global 창업 멘토링" 기업 선정</div>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">05</div>
                                                            <div class="history-item-six-content">교육부, K-스타트업 "전국 창업유망 300팀" 선정</div>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">04</div>
                                                            <div class="history-item-six-content">행사전용 클라우드 서비스 "EvSquare" 서비스 시작</div>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">04</div>
                                                            <div class="history-item-six-content">한국연구재단, 쌍방향 소통 교육환경 조성을 위한 국책연구과제 선정</div>
                                                        </div>
                                                        <div class="history-item-six">
                                                            <div class="history-item-six-year">01</div>
                                                            <div class="history-item-six-content">서울창조경제혁신센터 인큐베이팅센터, 독립공간 보육기업 선정</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-seven">
                                                        <div class="year-base-history-group-year-seven">
                                                            <span class="year-line-seven"></span>
                                                            <span class="year-pointer-seven"></span>
                                                            <span class="year-year-seven">2015</span>
                                                        </div>
                                                        <div class="history-item-seven">
                                                            <div class="history-item-seven-year">06</div>
                                                            <div class="history-item-seven-content">서울시, "서울 앱 창업센터" 보육기업 선정</div>
                                                        </div>
                                                        <div class="history-item-seven">
                                                            <div class="history-item-seven-year">04</div>
                                                            <div class="history-item-seven-content">실시간 질의응답 시스템 "큐에이(QA)" 서비스 시작</div>
                                                        </div>
                                                        <div class="history-item-seven">
                                                            <div class="history-item-seven-year">01</div>
                                                            <div class="history-item-seven-content">SK텔레콤, "T-Open-Lab" 보육기업 선정</div>
                                                        </div>
                                                    </div>
                                                    <div class="year-base-history-group-eight">
                                                        <div class="year-base-history-group-year-eight">
                                                            <span class="year-line-eight"></span>
                                                            <span class="year-pointer-eight"></span>
                                                            <span class="year-year-eight">2014</span>
                                                        </div>
                                                        <div class="history-item-eight">
                                                            <div class="history-item-eight-year">12</div>
                                                            <div class="history-item-eight-content">SK텔레콤, 스마트 서비스 개발 공모전 장려상 수상</div>
                                                        </div>
                                                        <div class="history-item-eight">
                                                            <div class="history-item-eight-year">10</div>
                                                            <div class="history-item-eight-content">Microsoft, "BizSpark" 회원사 선정</div>
                                                        </div>
                                                        <div class="history-item-eight">
                                                            <div class="history-item-eight-year">09</div>
                                                            <div class="history-item-eight-content">위딧소프트(현 이벤터스) 법인 설립</div>
                                                        </div>
                                                        <div class="history-item-eight">
                                                            <div class="history-item-eight-year">07</div>
                                                            <div class="history-item-eight-content">중소벤처기업부, "스마트창작터" 창업 지원사업 선정</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="history-content-more-btn">
                                                <div class="more-btn">More Histories..</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-teams">
                                        <div class="teams-container">
                                            <div class="teams-container-inner">
                                                <div class="teams-inner-top">
                                                    <div class="teams-top-box"># The Team</div>
                                                </div>
                                                <div class="teams-all-member-box">
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/08129030c4072b9c1fd1cfe9833cd8a2_A4Jw9gZglgNgpgSQLYHMg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/08129030c4072b9c1fd1cfe9833cd8a2_A4Jw9gZglgNgpgSQLYHMg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Younghak Ahn</div>
                                                        <div class="member-position">플랫폼 사업팀</div>
                                                        <div class="member-appointment">총괄 리더 & 대표</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/08129030c4072b9c1fd1cfe9833cd8a2_A4Jw9gZglgNgpgSQLYHMg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/cae97f5bc6e16a73c6b4281fee322701_profileImg.png')"></div>
                                                        </div>
                                                        <div class="member-name">HyunNa Cho</div>
                                                        <div class="member-position">플랫폼 사업팀</div>
                                                        <div class="member-appointment">세일즈 매니저</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/08129030c4072b9c1fd1cfe9833cd8a2_A4Jw9gZglgNgpgSQLYHMg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/8d48d6872403631efa7dea3673574ed2_A4Jw9gZglgNgpgSQLYHMg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Juhyeon Lee</div>
                                                        <div class="member-position">플랫폼 사업팀</div>
                                                        <div class="member-appointment">마케팅 매니저</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/e6c9c88846934bdd91496b4e52613104_profileImg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/e6c9c88846934bdd91496b4e52613104_profileImg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Jeongeun Kim</div>
                                                        <div class="member-position">플랫폼 사업팀</div>
                                                        <div class="member-appointment">CX 매니저</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/e6c9c88846934bdd91496b4e52613104_profileImg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/d8ce74089b5bb58f114f050194456979_profileImg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Jeongho Choi</div>
                                                        <div class="member-position">플랫폼 사업팀</div>
                                                        <div class="member-appointment">개발 리더</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/e6c9c88846934bdd91496b4e52613104_profileImg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/a3c2e690ff264a06f3b6891efdc968bc_A4Jw9gZglgNgpgSQLYHMg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Junho Moon</div>
                                                        <div class="member-position">플랫폼 사업팀</div>
                                                        <div class="member-appointment">개발 매니저</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/e6c9c88846934bdd91496b4e52613104_profileImg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/6e4a3c0a42c397d95ea19f30d200658e_profileImg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Byoungmoon Hwang</div>
                                                        <div class="member-position">솔루션 사업팀</div>
                                                        <div class="member-appointment">총괄 리더</div>
                                                    </div>
                                                    <div class="member">
                                                        <div class="member-profile-image-box">
                                                            <div class="member-image-background">
                                                                <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/e6c9c88846934bdd91496b4e52613104_profileImg.png" alt="주식회사 이벤터스" />
                                                            </div>
                                                            <div class="member-image-picture" style="background-image: url('https://file.zillinks.com/prod/uploads/6fd393f5de0fa5fd6c871b1b79a1cfeb_profileImg.png')"></div>
                                                        </div>
                                                        <div class="member-name">Jihye Seo</div>
                                                        <div class="member-position">솔루션 사업팀</div>
                                                        <div class="member-appointment">세일즈 매니저</div>
                                                    </div>
                                                </div>
                                                <div class="member-more-btn-box">
                                                    <div class="more-btn">More Team.. (8/15)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="teams-member-pop">
                                            <div class="member-pop-background"></div>
                                            <div class="member-pop-inner">
                                                <div class="pop-member-profile-image">
                                                    <div class="pop-member-profile-image-bg">
                                                        <img class="image-background-logo" src="https://file.zillinks.com/prod/uploads/f971269c751088071975992133e3d423_company-logo.png" alt="주식회사 이벤터스" />
                                                    </div>
                                                    <div class="pop-member-image-picture" style="background-image: url('')"></div>
                                                </div>
                                                <div class="pop-member-name"></div>
                                                <div class="pop-member-position"></div>
                                                <div class="pop-member-appointment"></div>
                                                <div class="pop-member-detail-content">
                                                    <pre class="detail-content-list"></pre>
                                                </div>
                                                <div class="pop-member-btn-close"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-news">
                                        <div class="news-container">
                                            <div class="news-title-box">
                                                <div class="news-title"># News</div>
                                            </div>
                                            <div class="news-box">
                                                <a class="news-list" href="http://www.edaily.co.kr/news/newspath.asp?newsid=01292326638757064" target="_blank">
                                                    <div class="news-head">
                                                        <div class="news-press">이데일리</div>
                                                        <div class="news-date">2024-01-12</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">"'마이스 테크' 스타트업 첫 해외 진출 목표…타깃은 싱가포르" [MICE]</div>
                                                        <div class="news-description">
                                                            안영학 이벤터스 대표 (사진=이선우 기자) “병이 나으려면 반드시 복용해야 하는 아스피린(진통제)처럼 행사에 꼭 필요한 온라인 솔루션 제공이 목표입니다.” 마이스 테크 스타트업 이벤터스 안영학(사진) 대표는 “2024년 청룡의 해를 ‘해외 진출의 원년’으로
                                                            삼겠다”며 ...
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="news-list" href="https://www.mstoday.co.kr/news/articleView.html?idxno=86662" target="_blank">
                                                    <div class="news-head">
                                                        <div class="news-press">MS투데이</div>
                                                        <div class="news-date">2023-11-29</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">춘천에 '스타트업 업계 큰손' 떴다⋯창업도시의 한 해 마무리</div>
                                                        <div class="news-description">
                                                            없다"며 "이를 극복하려면 협업 빈도를 높여야 하며, 그렇게 함으로써 최신 경영 트렌드인 '인재 밀도'의 상승이 이뤄진다"고 강조했다. 강원지역을 대표하는 창업 커뮤니티로 자리매김한 춘천벤처클럽은 올해 일정을 마무리하고, 내년 3월 안영학 이벤터스
                                                            대표를 강연자로 초청 ...
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="news-list" href="https://platum.kr/archives/216400" target="_blank">
                                                    <div class="news-head">
                                                        <div class="news-press">플레텀</div>
                                                        <div class="news-date">2023-11-03</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">이벤터스, 싱가포르에서 네트워킹 행사 개최… 현지 MICE/관광 업계 관계자 참석</div>
                                                        <div class="news-description">
                                                            이벤터스 안영학 대표는 “아시아에서 가장 많은 글로벌 비즈니스 이벤트가 열리는 나라가 싱가포르이기 때문에, 한국보다 72배가 큰 아시아 시장으로 확장하기 위해서 첫번째 진출 국가로 싱가포르를 선택했다. 글로벌 서비스 고도화를 통해 싱가포르 진출뿐
                                                            아니라 국내에서 열리는 ...
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="news-list" href="https://www.ttimes.co.kr/article/2023102715017753249" target="_blank">
                                                    <div class="news-head">
                                                        <div class="news-press"></div>
                                                        <div class="news-date">2023-10-29</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">행사의 모든 프로세스를 디지털화한 ‘이벤터스’ - 티타임즈</div>
                                                        <div class="news-description">
                                                            행사 한번 열 때마다 골치아픕니다. 그래서 소개합니다. 요즘 스타트업 분야에서는 웬만하면 이 회사의 툴을 이용한다는 ‘이벤터스’.모객, 홍보, 진행, 참가자 데이터 관리까지 모든 프로세스를 디지털화한 서비스입니다. 행사가 매출의 출발점인데
                                                            참석자들의 데이터가 개최 회사 ...
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="news-list" href="https://www.discoverynews.kr/news/articleView.html?idxno=1032215" target="_blank">
                                                    <div class="news-head">
                                                        <div class="news-press">디스커버리뉴스</div>
                                                        <div class="news-date">2023-08-30</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">(사)한국MICE협회, 디지털혁신위원회 통한 디지털 혁신 기술 확산과 육성 주도</div>
                                                        <div class="news-description">대표이사, 이벤터스 안영학 대표이사 위원회는 지난 8월 23일(수), 올림플래닛에서 첫 회의를 가졌다. 이 날 회의에는 권재현 위원장을 비롯해 6명의 위원이 모두 참석한 가운데, 협회 디지털 사업 신규 발굴, MICE 기술...</div>
                                                    </div>
                                                </a>
                                                <a class="news-list" href="http://www.datanet.co.kr/news/articleView.html?idxno=184241" target="_blank">
                                                    <div class="news-head">
                                                        <div class="news-press">데이터넷</div>
                                                        <div class="news-date">2023-06-14</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">MICE 기업들, 디지털 전환·데이터 활용방안 모색</div>
                                                        <div class="news-description">안영학 이벤터스 대표의 '디지털 마케팅 트렌드와 이벤트 참가자 모객 전략' 발표에 이어, 김한결 루북 대표가 '이벤트 베뉴의 디지털 전환과 효과적인 베뉴 탐색'을 소개한다. 이어 이나래 마이페어 책임이...</div>
                                                    </div>
                                                </a>
                                                <a
                                                    class="news-list"
                                                    href="https://www.tech42.co.kr/%EC%9D%B4%EB%B2%A4%ED%84%B0%EC%8A%A4-2023-%ED%96%89%EC%82%AC-%ED%8A%B8%EB%A0%8C%EB%93%9C-%EB%8B%B4%EC%9D%80-2023-%ED%96%89%EC%82%AC-%ED%8A%B8%EB%A0%8C%EB%93%9C-%EB%A6%AC%ED%8F%AC%ED%8A%B8/"
                                                    target="_blank"
                                                >
                                                    <div class="news-head">
                                                        <div class="news-press"></div>
                                                        <div class="news-date">2023-02-24</div>
                                                    </div>
                                                    <div class="news-body">
                                                        <div class="news-subject">이벤터스, 2023 행사 트렌드 담은 ‘2023 행사 트렌드 리포트’ 무료 발간 - 테크42</div>
                                                        <div class="news-description">
                                                            이벤트 테크 스타트업 이벤터스(대표 안영학)가 행사 데이터를 분석해 행사 기획자들의 행사 계획 수립에 도움을 주고자 2023 행사 트렌드 리포트를 발간했다. 이벤터스는 행사 기획자들을 위해 참고할 수 있는 데이터를 정리하여 콘텐츠를 발행하고 있다.
                                                            이번 리포트는 202 ...
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="news-more-btn-box">
                                                    <div class="news-more-btn">More News.. (7/78)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-contact-us">
                                        <div class="contact-us-container">
                                            <div class="map"></div>
                                            <div class="contact-us-address">서울 마포구 마포대로 122(공덕동, 신용보증기금빌딩) 프론트원 16층 이벤터스</div>
                                            <div class="contact-us-email">business@event-us.kr</div>
                                        </div>
                                    </div>
                                </section>
                                <footer class="footer">
                                    <div class="footer-container">
                                        <div class="footer-box-left">
                                            <div class="copyright">
                                                <a class="advertise" href="https://app.zillinks.com/" target="_blank"> @Zillinks </a>
                                                @CorporateIdentityWeb
                                            </div>
                                        </div>
                                        <div id="footer-box-right">
                                            <div class="company-name">주식회사 이벤터스</div>
                                            <div class="footer-action-box">
                                                <div class="footer-btn">
                                                    회사소개서
                                                    <i class="fa-arrow-circle-down"></i>
                                                </div>
                                                <a class="footer-company-detail-btn" href="https://app.zillinks.com/company/xd7MF9ZIbp" target="_blank">
                                                    기업 상세 정보
                                                    <i class="fa-link-company-detail"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                                <div class="scroll-to-top" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
                                    <i class="fa-arrow-up"></i>
                                </div>
                            </div>
                        </div>
                        <div class="z-alert">
                            <ul class="z-alert-ul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/staticfiles/js/company-info/app/company-app.js"></script>
</html>
