{% extends 'admin/web/base-web.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'admin/web/css/user/user-web.css' %}">
{% endblock %}
{% block title %}틴플 :: 관리자 페이지{% endblock %}
{% block content %}
            <!-- 메뉴 선택할수 있는 칸 -->
            <ul class="main-admin-select">
                <!-- 유저관리 -->
                <li class="main-user">
                    <a href="/admin/user/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/admin-user-img.png' %}" alt="user-image" />
                        <span class="main-user-texta">유저 관리</span>
                    </a>
                </li>
                <!-- 쪽지 관리 -->
                <li class="main-user-other">
                    <a href="/admin/message/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/message-img.png' %}" alt="user-image" />
                        <span class="main-user-text">쪽지 관리</span>
                    </a>
                </li>
                <!-- 틴플레이관리 -->
{#                <li class="main-user-other">#}
{#                    <a href="/admin/teenplay/" class="main-user-warp">#}
{#                        <img class="main-user-image" src="{% static 'admin/web/images/play-img.png' %}" alt="user-image" />#}
{#                        <span class="main-user-text">틴 플레이 관리</span>#}
{#                    </a>#}
{#                </li>#}
                <!-- 게시글 관리 -->
                <li class="main-user-other">
                    <a href="/admin/promote/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/post-img.png' %}" alt="user-image" />
                        <span class="main-user-text">게시글 관리</span>
                    </a>
                </li>
                <!-- 전체모임 관리 -->
                <li class="main-user-other">
                    <a href="/admin/meeting/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/meeting-img.png' %}" alt="user-image" />
                        <span class="main-user-text">전체 모임관리</span>
                    </a>
                </li>
                <!-- 축제관리 -->
                <li class="main-user-other">
                    <a href="/admin/festival/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/festival-img.png' %}" alt="user-image" />
                        <span class="main-user-text">축제 관리</span>
                    </a>
                </li>
                <!-- 공지사항 관리 -->
                <li class="main-user-other">
                    <a href="/admin/notice/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/loudspeaker-img.png' %}" alt="user-image" />
                        <span class="main-user-text">공지사항 관리</span>
                    </a>
                </li>
                <!-- 댓글관리 -->
                <li class="main-user-other">
                    <a href="/admin/comment/" class="main-user-warp">
                        <img class="main-user-image" src="{% static 'admin/web/images/comment-img.png' %}" alt="user-image" />
                        <span class="main-user-text">댓글 관리</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- 사실상 여기만 수정하면 모든게 끝입니다! -->
        <div class="main-user-info-warp">
            <div class="main-user-info-container">
                <div class="main-user-info-box">
                    <div class="main-user-info-top">
                        <!-- 유저관리, 검색하는곳 -->
                        <header class="main-user-info-text">
                            <h1 class="main-user-info-tag">유저 관리</h1>
                            <div>
                                <div class="main-user-info-seach">
                                    <label class="main-user-info-label">
                                        <input class="main-user-info-input" placeholder="유저 검색" type="search" value="" id="member-search" />
                                        <button class="main-user-search-button" id="member-button">
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="main-user-search-box">
                                                <path id="member-search-cansle" fill-rule="evenodd" clip-rule="evenodd" d="M15.83 16.561a7.8 7.8 0 1 1 1.233-1.312l3.465 3.465a.9.9 0 1 1-1.272 1.273L15.83 16.56Zm1.13-5.961a6.16 6.16 0 1 1-12.32 0 6.16 6.16 0 0 1 12.32 0Z"></path>
                                            </svg>
                                        </button>
                                    </label>
                                </div>
                            </div>
                        </header>
                        <!-- 전체 목록 갯수확인 -->
                        <div class="main-user-total">
                            <!-- 첫번째(왼쪽 전체0) -->
                            <div class="main-user-total-list">
                                <span class="main-user-total-text">전체</span>
                                <span class="main-user-total-number" id="total-count">0</span>
                            </div>
                            <!-- 상태 나타내는 창 -->
                            <div class="main-bet">
                                <div class="main-wish-sellect">
                                    <div class="main-wish-sellect-warp">
                                        <div class="main-wish-sellect-container">
                                            <button type="button" class="main-wish-sellect-button" aria-label="filter">
                                                <div class="div-size">
                                                    <span class="main-wish-sellect-button-span">전체</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="main-comment-info-button-svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.27 8.42a1.076 1.076 0 0 1 1.587-.13L12 14.832l7.143-6.544a1.076 1.076 0 0 1 1.586.13 1.26 1.26 0 0 1-.122 1.696L12 18l-8.607-7.885A1.26 1.26 0 0 1 3.27 8.42Z"></path>
                                                    </svg>
                                                </div>
                                            </button>
                                            <!-- 공개 비공개 모달창 -->
                                            <ul id="admin-message-modal-search" class="admin-message-modal-search hidden">
                                                <button class="admin-message-modal-search-receive category" value="">전체</button>
                                                <button class="admin-message-modal-search-send category" value="1">활동중</button>
                                                <button class="admin-message-modal-search-donotreceive category" value="-1">정지</button>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-user-list-ston">
                                    <button class="member-user-list-button toggle-button disabled">상태변경</button>
                                </div>
                            </div>
                        </div>
                        <!-- 전체 밑에 상태, 이름 등등 나타내는곳 -->
                        <div class="main-user-status">
                            <!-- 여기에 넣으면 추가할수있습니다(가로넓이 width만 수정)) -->
                            <div class="main-user-status-name">전체선택</div>
                            <div class="main-user-status-date">이름</div>
                            <div class="main-user-status-pay">가입일</div>
                            <div class="main-user-status-recent">개설 모임 수</div>
                            <div class="main-user-status-paycount">참여중인 모임 수</div>
                            <div class="main-user-status-status">누적 활동 수</div>
                            <div class="main-user-status-stop">상태</div>
                        </div>
                    </div>
                    <!-- 맴버 정보 들어가야함 (지금은 없고 나중에어떤식인지 배워봅시다.) -->
                    <!-- 일단 하나 만들어봅시다. -->
                    {% if member|length != 0 %}
                        <!-- 유저가 없다면 아래 -->
                        <div class="main-user-status-list">
                            <!-- 이거말고 차라리 로고로? -->
                            <svg width="53" height="56" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-user-status-list-svg">
                                <path
                                    d="M27.516 1.62c-6.654-4.436-21.823.626-21.821 10.475 0 5.567 1.956 10.31 3.889 14.205-1.403-.463-2.853-1.072-3.8-2.095-.466-.502-1.151-1.115-1.802-1.35-.993-.358-2.035.135-2.572.923-1.212 1.776-1.071 2.717-.403 4.643 4.364 5.647 8.167 5.53 11.275 5.435.286-.009.566-.017.84-.021.897 3.13 2.706 6.042 4.099 8.965 1.617 5.694 9.313 4.544 12.913 1.697 2.3-1.819 5.187-2.36 8.117-1.475 2.303.419 3.88-.68 5.236-1.624 1.031-.72 1.934-1.348 2.93-1.149 1.19.238 2.511.191 2.718-1.307.521-3.781-8.391-5.535-11.284-7.062 4.98-2.883 7.416-7.67 6.968-10.861-.31-2.2-2.168-2.967-4.076-1.773-2.206 1.38-2.758 3.32-5.42 4.348 1.822-6.821 3.386-14.515-7.807-21.975Z"
                                    fill="#9D8DFF"
                                ></path>
                                <path d="M15.33 17.017c.03.784-.382 1.385-.92 1.344-.54-.042-1.001-.71-1.032-1.494-.03-.784.382-1.385.921-1.343.54.041 1 .71 1.031 1.493ZM19.599 16.868c.03.784-.382 1.385-.921 1.344-.54-.042-1-.71-1.031-1.494-.03-.784.382-1.385.92-1.343.54.041 1.001.71 1.032 1.493Z" fill="#060606"></path>
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.457 29.625a.7.7 0 0 1 .755.64c.036.44.242.87.57 1.304.322.428.721.81 1.107 1.178l.027.026a.7.7 0 1 1-.967 1.012l-.05-.048c-.37-.353-.842-.804-1.235-1.325-.414-.55-.782-1.23-.847-2.033a.7.7 0 0 1 .64-.754ZM35.844 23.41a.7.7 0 0 0-.968.205 25.97 25.97 0 0 1-.389.571c-.235.34-.487.704-.68 1.032-.33.559-.626 1.212-.626 1.941a.7.7 0 1 0 1.4 0c0-.354.145-.745.43-1.228.18-.303.368-.573.573-.868.146-.21.3-.431.465-.684a.7.7 0 0 0-.205-.969Z"
                                    fill="#000"
                                ></path>
                                <path d="M17.917 19.838c-.158-.342-2.435-.62-2.138.915 1.156 3.742 2.834.598 2.138-.915Z" fill="#030303"></path>
                                <path d="M51.901 52.983c0 1.223-7.433 2.214-16.602 2.214-9.17 0-16.603-.991-16.603-2.214 0-1.222 7.433-2.213 16.603-2.213 9.17 0 16.602.99 16.602 2.213Z" fill="#E3E3E3"></path>
                            </svg>
                            <p class="main-user-status-list-text">유저가 없습니다.</p>
                        </div>
                    {% else %}
                        <div class="user-data">
{#                                <li class="main-user-list" data-id="{{ user.id }}">#}
{#                                    <div class="main-user-list-check">#}
{#                                        <input type="checkbox" class="main-comment-list-checkbox" id="checkbox" data-user-id="{{ user.id }}">#}
{#                                    </div>#}
{#                                    <div class="main-user-list-name">{{ user.member_nickname }}</div>#}
{#                                    <div class="main-user-list-status">{{ user.created_date }}</div>#}
{#                                    <div class="main-user-list-date">{{ user.club_count }}</div>#}
{#                                    <div class="main-user-list-pay">{{ user.club_action_count }}</div>#}
{#                                    <div class="main-user-list-paycount">{{ user.activity_count }}</div>#}
{#                                    <div class="main-user-list-message" data-user-status="{{ user.status }}">#}
{#                                        {% if user.status == -1 %}#}
{#                                            정지#}
{#                                        {% elif user.status == 0 %}#}
{#                                            탈퇴#}
{#                                        {% elif user.status == 1 %}#}
{#                                            활동중#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="main-user-list" data-number="2">#}
{#                                    <div class="main-user-list-check">#}
{#                                        <input type="checkbox" class="main-comment-list-checkbox" />#}
{#                                    </div>#}
{#                                    <div class="main-user-list-name">박씨</div>#}
{#                                    <div class="main-user-list-status">23.01.01</div>#}
{#                                    <div class="main-user-list-date">4</div>#}
{#                                    <div class="main-user-list-pay">0</div>#}
{#                                    <div class="main-user-list-paycount">3</div>#}
{#                                    <div data-id="2" class="main-user-list-message">활동중</div>#}
{#                                </li>#}
{#                                <li class="main-user-list" data-number="3">#}
{#                                    <div class="main-user-list-check">#}
{#                                        <input type="checkbox" class="main-comment-list-checkbox" />#}
{#                                    </div>#}
{#                                    <div class="main-user-list-name">김씨</div>#}
{#                                    <div class="main-user-list-status">23.05.01</div>#}
{#                                    <div class="main-user-list-date">2</div>#}
{#                                    <div class="main-user-list-pay">1</div>#}
{#                                    <div class="main-user-list-paycount">0</div>#}
{#                                    <div data-id="3" class="main-user-list-message">활동중</div>#}
{#                                </li>#}
                        </div>
                    {% endif %}
                    <!-- 페이지 이동 -->
                    <div class="main-user-bottom-box">
                        <ul class="main-user-bottom-ul">
{#                            <!-- 왼쪽 -->#}
{#                            {% if start_page > 1 %}#}
{#                                {% if order == 'popular' %}#}
{#                                    <li>#}
{#                                        <a href="/admin/user/?page={{ start_page|add:-1 }}&order=popular" class="main-user-bottom-reft">#}
{#                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="main-user-bottom-svg">#}
{#                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z"></path>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% else %}#}
{#                                    <li>#}
{#                                        <a href="/admin/user/?page={{ start_page|add:-1 }}" class="main-user-bottom-reft">#}
{#                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="main-user-bottom-svg">#}
{#                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z"></path>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endif %}#}
{##}
{#                            {% endif %}#}
{##}
{#                            <!-- 숫자 -->#}
{#                            {% for i in "x"|rjust:page_count %}#}
{#                                {% if forloop.counter0|add:start_page <= real_end%}#}
{#                                    {% if page == forloop.counter0|add:start_page %}#}
{#                                        <li class="main-margin">#}
{#                                            <a href="javascript:void(0)" class="main-user-bottom">#}
{#                                                <span class="main-user-number" style="color: #CE201B;">{{ forloop.counter0|add:start_page}}</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    {% else %}#}
{#                                        {% if order == 'popular' %}#}
{#                                            <li class="main-margin">#}
{#                                                <a href="/admin/user/?page={{ forloop.counter0|add:start_page }}&order=popular" class="main-user-bottom" aria-label="page number button">#}
{#                                                    <span class="main-user-number">{{ forloop.counter0|add:start_page}}</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% else %}#}
{#                                            <li class="main-margin">#}
{#                                                <a href="/admin/user/?page={{ forloop.counter0|add:start_page }}" class="main-user-bottom" aria-label="page number button">#}
{#                                                    <span class="main-user-number">{{ forloop.counter0|add:start_page}}</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{##}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{##}
{#                            <!-- 오른쪽 -->#}
{#                            {% if end_page < real_end %}#}
{#                                {% if order == 'popular' %}#}
{#                                    <li class="main-margin">#}
{#                                        <a href="/admin/user/?page={{ end_page|add:1 }}&order=popular" class="main-user-bottom-right">#}
{#                                            <svg class="main-user-bottom-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
{#                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z"></path>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% else %}#}
{#                                    <li class="main-margin">#}
{#                                        <a href="/admin/user/?page={{ end_page|add:1 }}" class="main-user-bottom-right">#}
{#                                            <svg class="main-user-bottom-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
{#                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z"></path>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endif %}#}
{##}
{#                            {% endif %}#}
{#                            <li>#}
{#                                <button aria-label="page turning button" disabled type="button" class="main-user-bottom-reft">#}
{#                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="main-user-bottom-svg">#}
{#                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z"></path>#}
{#                                    </svg>#}
{#                                </button>#}
{#                            </li>#}
{#                            <!-- 숫자 -->#}
{#                            <li class="main-margin">#}
{#                                <button type="button" class="main-user-bottom add-color" id="button1">#}
{#                                    <span class="main-user-number">1</span>#}
{#                                </button>#}
{#                            </li>#}
{#                            <li class="main-margin">#}
{#                                <button aria-label="page number button" type="button" class="main-user-bottom" id="button2">#}
{#                                    <span class="main-user-number">2</span>#}
{#                                </button>#}
{#                            </li>#}
{#                            <li class="main-margin">#}
{#                                <button aria-label="page number button" type="button" class="main-user-bottom" id="button3">#}
{#                                    <span class="main-user-number">3</span>#}
{#                                </button>#}
{#                            </li>#}
{#                            <!-- 오른쪽 -->#}
{#                            <li class="main-margin">#}
{#                                <button aria-label="page turning button" disabled type="button" class="main-user-bottom-right">#}
{#                                    <svg class="main-user-bottom-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
{#                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z"></path>#}
{#                                    </svg>#}
{#                                </button>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
                <!-- 밑에 페이지 선택 -->
            </div>
        </div>
        <!-- 모달창 -->
        <div id="admin-user-modal" class="admin-user-modal hidden">
            <h4 class="admin-user-modal-title">정말 변경하시겠습니까?</h4>
{#            <div>#}
{#                <div>#}
{#                    <textarea class="admin-user-modal-text" id="modal-text" oninput="resizeTextarea()"></textarea>#}
{#                </div>#}
{#            </div>#}
            <div class="admin-user-modal-button">
                <div class="admin-user-modal-left">
                    <button class="admin-user-modal-left-button" id="modalCloseButton">취소</button>
                </div>
                <div class="admin-user-modal-right">
{#                    {% for user in users %}#}
{#                        <a href="/admin/user/update/?id={{ user.id }}" class="admin-user-modal-right-button" id="modalApplyButton">적용하기</a>#}
{#                    {% endfor %}#}
                    <button class="admin-user-modal-right-button" id="modalApplyButton">변경하기</button>
                </div>
            </div>
        </div>
        <div id="admin-user-modal-backdrop" class="hidden"></div>
    </main>
{% endblock %}
{% block js %}
    <script>
        const csrf_token = '{{ csrf_token }}';
        const total = `{{ total }}`
        {#const memberId = '{{ request.session.member.id }}'#}
    </script>
    <script src="{% static 'admin/web/js/user/admin-user-module-web.js' %}"></script>
    <script src="{% static 'admin/web/js/user/admin-user-web.js' %}"></script>
{#    <script src="{% static 'admin/web/js/user/admin-user-bottem-web.js' %}"></script>#}
{#    <script src="{% static 'admin/web/js/user/admin-user-delete-web.js' %}"></script>#}
{#    <script src="{% static 'admin/web/js/user/admin-user-modal-web.js' %}"></script>#}
{#    <script src="{% static 'admin/web/js/user/admin-user-search-web.js' %}"></script>#}
{#    <script src="{% static 'admin/web/js/user/admin-user-info-web.js' %}"></script>#}
{#    <script src="{% static 'admin/web/js/user/admin-user-checkbox-web.js' %}"></script>#}
{% endblock %}
