{% extends 'festival/web/base-web.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'festival/web/css/festival-detail-web.css' %}" />
{% endblock %}
{% block title %}지역축제{% endblock %}
{% block main %}
    <div class="main-festival">
        <div class="main-festival-top">
            <div class="main-festival-top-sub">진행중</div>
            <!-- 축제 제목 -->
            <h2 class="main-festival-top-title">포천백운계곡 동장군축제</h2>
        </div>
        <div class="main-festival-main">
            <div class="main-festival-main-right">
                <img class="main-festival-main-left-img" src="https://tong.visitkorea.or.kr/cms/resource/48/3073148_image2_1.jpg" alt="축제사진" />
                <!-- 축제내용 -->
                <div>
                    <div>
                        <div class="main-festival-main-right-top">
                            <!-- 세부 내용? 들어가는 부분 -->
                            <dl class="main-festival-main-right-top-cost">
                                <dt class="main-festival-main-right-top-cost-left">이용요금</dt>
                                <dt class="main-festival-main-right-top-cost-right">입장료 1,000 (프로그램별 별도 요금)</dt>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">개요</dt>
                                <dd class="main-festival-main-right-top-content-right">
                                    산과 계곡이 어우러져 경치가 아름다운 포천백운계곡에서 마을 주민이 주관한 제19회 포천백운계곡 동장군 축제가 열린다. "흰눈 펑펑! 얼음 꽁꽁! 가자! 포천 백운계곡!" 슬로건으로 2023. 12. 22. ~ 2024. 2. 12.(53일간) 축제를 개최한다. 약 3천평 부지 내에서 이루어지는 축제는 겨울 여행의 테마가 있는 놀이와 체험프로그램, 먹거리 등 다양한 프로그램이 진행되며, 특히 눌썰매장의 길이가 약120m로 계곡과 주변 경관이 어우러져 눈썰매를 타며 아름다운 경치를 감상할 수 있어
                                    수도권 최고의 겨울 축제임을 자랑한다.
                                </dd>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">주소</dt>
                                <dd class="main-festival-main-right-top-content-right">경기도 포천시 포화로 236-11</dd>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">상세주소</dt>
                                <dd class="main-festival-main-right-top-content-right">포천 백운계곡</dd>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">상세주소</dt>
                                <dd class="main-festival-main-right-top-content-right">포천 백운계곡</dd>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">행사 장소</dt>
                                <dd class="main-festival-main-right-top-content-right">포천 백운계곡</dd>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">행사시작일</dt>
                                <dd class="main-festival-main-right-top-content-right">2023.12.22</dd>
                            </dl>
                            <dl class="main-festival-main-right-top-content">
                                <dt class="main-festival-main-right-top-cost-left">행사 종료일</dt>
                                <dd class="main-festival-main-right-top-content-right">2024.02.12</dd>
                            </dl>
                            <div class="main-festival-main-right-top-line"></div>
                        </div>
                        <div class="main-festival-main-right-mid">
                            <dl class="main-festival-main-right-mid-content">
                                <dt class="main-festival-main-right-mid-content-dt">공연시간</dt>
                                <dd class="main-festival-main-right-mid-content-dd">10:00 ~ 17:00</dd>
                            </dl>
                            <div class="main-festival-main-right-mid-line"></div>
                            <dl class="main-festival-main-right-mid-bottem-content">
                                <dt class="main-festival-main-right-mid-content-bottem-dt">주최자 정보</dt>
                                <dd class="main-festival-main-right-mid-content-bottem-dd">백운계곡상인협동조합</dd>
                            </dl>
                            <dl class="main-festival-main-right-mid-bottem-content">
                                <dt class="main-festival-main-right-mid-content-bottem-dt">주최자 연락처</dt>
                                <dd class="main-festival-main-right-mid-content-bottem-dd">031-536-9917</dd>
                            </dl>
                            <dl class="main-festival-main-right-mid-bottem-content">
                                <dt class="main-festival-main-right-mid-content-bottem-dt">주관사 정보</dt>
                                <dd class="main-festival-main-right-mid-content-bottem-dd">백운계곡상인협동조합</dd>
                            </dl>
                            <div class="main-festival-main-right-mid-line"></div>
                        </div>
                        <div class="main-festival-main-right-bot-content">
                            <dl class="main-festival-main-right-bot-content-dl">
                                <dt class="main-festival-main-right-bot-content-dt">제공</dt>
                                <dd class="main-festival-main-right-bot-content-dd">
                                    <a href="" class="main-festival-main-right-bot-content-a">한국관광공사</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="main-festival-main-tag">
                        <a href="" class="main-festival-main-tag-a">
                            <span class="main-festival-main-tag-span"> www.dongjangkun.co.kr </span>
                            <svg class="main-festival-main-tag-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
                                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- 아래 배너 -->
                <div class="main-festival-banner">
                    <div class="main-festival-banner-warp">
                        <div class="main-festival-banner-warp-title">
                            <div class="main-festival-banner-warp-title-warp">
                                <div class="main-festival-banner-warp-title-warp-text">틴플에서 지금! 추천하는 행사</div>
                            </div>
                            <div>
                                <a href="" class="main-festival-banner-warp-title-warp-a">
                                    <span class="main-festival-banner-warp-title-warp-span">더 많은 행사 보기</span>
                                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="main-festival-banner-warp-title-warp-svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="main-festival-banner-container">
                            <div class="main-festival-banner-container-top">
                                <!-- 여기에 광고들 들어갑니당 -->
                                <div class="main-festival-banner-ad">
                                    <div class="main-festival-banner-ad-warp">
                                        <!-- 이미지 -->
                                        <div class="main-festival-banner-ad-img">
                                            <a href="" class="main-festival-banner-ad-img-a">
                                                <img class="main-festival-banner-ad-img-photo" src="https://tong.visitkorea.or.kr/cms/resource/48/3073148_image2_1.jpg" alt="" />
                                            </a>
                                            <!-- 좋아요 버튼 -->
                                            <div class="main-festival-banner-ad-like">
                                                <button type="button" id="likeButton" class="main-festival-banner-ad-like-button">
                                                    <span class="unlike-status" style="display: none">
                                                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="like-status-svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"></path>
                                                        </svg>
                                                    </span>
                                                    <span class="like-status">
                                                        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="unlike-status-svg">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="main-festival-banner-ad-content">
                                            <div class="main-festival-banner-ad-content-date">
                                                <div>
                                                    <span class="main-festival-banner-ad-content-date-date">02월20일(화)</span>
                                                </div>
                                                <div class="main-festival-banner-ad-content-date-place">
                                                    <span>강서구</span>
                                                </div>
                                            </div>
                                            <div class="main-festival-banner-ad-content-content">
                                                <a href="" class="main-festival-banner-ad-content-content-a">신춘저자특강 - 커리어코치협회 주관 - 취업비법 정철상 교수/ 코딩진로 류채윤 대표 / 평범한 직장인 특별한 책쓰기 이주형 작가</a>
                                            </div>
                                            <div class="main-festival-banner-ad-cost">
                                                <div class="main-festival-banner-ad-cost-pay">
                                                    <span>유료</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-festival-banner-ad">
                                    <div class="main-festival-banner-ad-warp">
                                        <!-- 이미지 -->
                                        <div class="main-festival-banner-ad-img">
                                            <a href="" class="main-festival-banner-ad-img-a">
                                                <img class="main-festival-banner-ad-img-photo" src="https://tong.visitkorea.or.kr/cms/resource/48/3073148_image2_1.jpg" alt="" />
                                            </a>
                                            <!-- 좋아요 버튼 -->
                                            <div class="main-festival-banner-ad-like">
                                                <button type="button" id="likeButton" class="main-festival-banner-ad-like-button">
                                                    <span class="unlike-status" style="display: none">
                                                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="like-status-svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"></path>
                                                        </svg>
                                                    </span>
                                                    <span class="like-status">
                                                        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="unlike-status-svg">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="main-festival-banner-ad-content">
                                            <div class="main-festival-banner-ad-content-date">
                                                <div>
                                                    <span class="main-festival-banner-ad-content-date-date">02월20일(화)</span>
                                                </div>
                                                <div class="main-festival-banner-ad-content-date-place">
                                                    <span>강서구</span>
                                                </div>
                                            </div>
                                            <div class="main-festival-banner-ad-content-content">
                                                <a href="" class="main-festival-banner-ad-content-content-a">신춘저자특강 - 커리어코치협회 주관 - 취업비법 정철상 교수/ 코딩진로 류채윤 대표 / 평범한 직장인 특별한 책쓰기 이주형 작가</a>
                                            </div>
                                            <div class="main-festival-banner-ad-cost">
                                                <div class="main-festival-banner-ad-cost-pay">
                                                    <span>유료</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-festival-banner-ad">
                                    <div class="main-festival-banner-ad-warp">
                                        <!-- 이미지 -->
                                        <div class="main-festival-banner-ad-img">
                                            <a href="" class="main-festival-banner-ad-img-a">
                                                <img class="main-festival-banner-ad-img-photo" src="https://tong.visitkorea.or.kr/cms/resource/48/3073148_image2_1.jpg" alt="" />
                                            </a>
                                            <!-- 좋아요 버튼 -->
                                            <div class="main-festival-banner-ad-like">
                                                <button type="button" id="likeButton" class="main-festival-banner-ad-like-button">
                                                    <span class="unlike-status" style="display: none">
                                                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="like-status-svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"></path>
                                                        </svg>
                                                    </span>
                                                    <span class="like-status">
                                                        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="unlike-status-svg">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="main-festival-banner-ad-content">
                                            <div class="main-festival-banner-ad-content-date">
                                                <div>
                                                    <span class="main-festival-banner-ad-content-date-date">02월20일(화)</span>
                                                </div>
                                                <div class="main-festival-banner-ad-content-date-place">
                                                    <span>강서구</span>
                                                </div>
                                            </div>
                                            <div class="main-festival-banner-ad-content-content">
                                                <a href="" class="main-festival-banner-ad-content-content-a">신춘저자특강 - 커리어코치협회 주관 - 취업비법 정철상 교수/ 코딩진로 류채윤 대표 / 평범한 직장인 특별한 책쓰기 이주형 작가</a>
                                            </div>
                                            <div class="main-festival-banner-ad-cost">
                                                <div class="main-festival-banner-ad-cost-pay">
                                                    <span>유료</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-festival-banner-ad">
                                    <div class="main-festival-banner-ad-warp">
                                        <!--  이미지 -->
                                        <div class="main-festival-banner-ad-img">
                                            <a href="" class="main-festival-banner-ad-img-a">
                                                <img class="main-festival-banner-ad-img-photo" src="https://tong.visitkorea.or.kr/cms/resource/48/3073148_image2_1.jpg" alt="" />
                                            </a>
                                            <!-- 좋아요 버튼 -->
                                            <div class="main-festival-banner-ad-like">
                                                <button type="button" id="likeButton" class="main-festival-banner-ad-like-button">
                                                    <span class="unlike-status" style="display: none">
                                                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="like-status-svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"></path>
                                                        </svg>
                                                    </span>
                                                    <span class="like-status">
                                                        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="unlike-status-svg">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="main-festival-banner-ad-content">
                                            <div class="main-festival-banner-ad-content-date">
                                                <div>
                                                    <span class="main-festival-banner-ad-content-date-date">02월20일(화)</span>
                                                </div>
                                                <div class="main-festival-banner-ad-content-date-place">
                                                    <span>강서구</span>
                                                </div>
                                            </div>
                                            <div class="main-festival-banner-ad-content-content">
                                                <a href="" class="main-festival-banner-ad-content-content-a">신춘저자특강 - 커리어코치협회 주관 - 취업비법 정철상 교수/ 코딩진로 류채윤 대표 / 평범한 직장인 특별한 책쓰기 이주형 작가</a>
                                            </div>
                                            <div class="main-festival-banner-ad-cost">
                                                <div class="main-festival-banner-ad-cost-pay">
                                                    <span>유료</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-festival-banner-ad-button">
                                <div class="main-festival-banner-ad-button-warp">
                                    <div class="main-festival-banner-ad-button-container">
                                        <button class="main-festival-button-left" type="button">
                                            <svg class="main-festival-button-left-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"></path>
                                            </svg>
                                        </button>
                                        <div class="main-festival-banner-ad-button-number">
                                            <button class="main-festival-banner-ad-button-number-one">
                                                <div class="main-festival-banner-ad-button-number-one-all">1</div>
                                            </button>
                                            <button class="main-festival-banner-ad-button-number-two">
                                                <div class="main-festival-banner-ad-button-number-one-all">2</div>
                                            </button>
                                            <button class="main-festival-banner-ad-button-number-tr">
                                                <div class="main-festival-banner-ad-button-number-one-all">3</div>
                                            </button>
                                        </div>
                                        <button class="main-festival-button-right" type="button">
                                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="main-festival-button-right-svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-create-container">
            <button class="extra-create-button">
                <svg class="extra-create-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{%  static 'festival/web/js/festival-detail/festival-detail-button-web.js' %}"></script>
    <script src="{%  static 'festival/web/js/festival-detail/festival-detail-like-web.js' %}"></script>
{% endblock %}
