{% load static %}
<footer id="footer">
    <!-- 신규 공지사항 표시 공간 -->
    <div class="new-notice-wrap">
        <div class="new-notice-container">
            <div class="new-notice-box">
                <!-- 최근에 추가된 공지사항 링크 필요 -->
                <a class="post-category" href="/notice/list/">
                    <span>공지사항</span>
                </a>
                <a class="new-notice-title" href="/notice/list/"></a>
            </div>
        </div>
    </div>
    <!-- footer 내용 -->
    <div class="footer-wrap">
        <div class="footer-container">
            <div class="footer-main-box">
                <div class="company-service-box">
                    <!-- 각 이동할 페이지 링크 필요 -->
                    <a href="/company/" target="_blank">
                        <span>회사 소개</span>
                    </a>
                    <a href="/club/intro/">
                        <span>모임 소개</span>
                    </a>
                    <a href="/notice/list/">
                        <span>공지사항</span>
                    </a>
                    <a href="/notice/list?view=faq">
                        <span>자주 묻는 질문</span>
                    </a>
                </div>
                <div class="inquiry-service-box">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span>서비스 이용 문의</span>
                                </td>
                                <td class="inquiry-service-chetbot">
                                    <!-- 챗봇 링크 필요 -->
                                    <a class="chetbot-link" href="" target="_blank">
                                        <span>채팅상담</span>
                                    </a>
                                    <span class="available-time">
                                        <span>(평일 10:00~17:00)</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>사업 제휴 문의</span>
                                </td>
                                <td class="inquiry-service-email">
                                    <!-- 문의 받을 메일주소 작성 필요 -->
                                    <a class="send-email-link" href="mailto:teenplay.help@gmail.com">teenplay.help@gmail.com</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 회사 소개 블록 -->
                <div class="company-info-box">
                    <div>
                        <!-- 메인 페이지 주소 필요 -->
                        <a class="company-name" href="/">
                            <span>틴플</span>
                        </a>
                    </div>
                    <div class="company-infos">
                        <div>
                            <span>(주)틴플</span>
                            <span>|</span>
                            <span>사업자등록번호 000-00-00000</span>
                        </div>
                        <div>
                            <span>통신판매업 신고번호 제2024-서울강남-0000호</span>
                        </div>
                        <div>
                            <span>대표 송서경</span>
                            <span>|</span>
                            <span>개인정보책임자 양현</span>
                        </div>
                        <div>
                            <span>서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층</span>
                        </div>
                    </div>
                    <div class="warning-message">
                        <span> 틴플은 통신판매중개자이며 활동/모임에 대한 당사자 및 주최자가 아닙니다. 따라서 틴플은 등록된 활동/모임에 대해 책임지지 않습니다. </span>
                    </div>
                </div>
                <div class="terms-box">
                    <!-- 서비스 이용 약관 링크 필요 -->
                    <a href="{% url 'terms:service' %}" target="_blank">
                        <span>서비스 이용 약관</span>
                    </a>
                    <!-- 개인정보처리방침 링크 필요 -->
                    <a href="{% url 'terms:privacy' %}" target="_blank" style="font-weight: 700">
                        <span>개인정보처리방침</span>
                    </a>
                    <!-- 전자금융거래 이용약관 링크 필요 -->
                    <a href="{% url 'terms:e-banking' %}" target="_blank">
                        <span>전자금융거래 이용약관</span>
                    </a>
                    <!-- 취소 및 환불 약관 링크 필요 -->
                    <a href="{% url 'terms:refund' %}" target="_blank">
                        <span>취소 및 환불 약관</span>
                    </a>
                    <!-- 이메일 주소 무단수집 거부 링크 필요 -->
                    <a href="{% url 'terms:email' %}" target="_blank">
                        <span>이메일 주소 무단수집 거부</span>
                    </a>
                </div>
            </div>
            <div class="english-bulabula-box">
                <div class="english-bulabula">Copyright ⓒ TEENPLAY Co.,Ltd. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'public/web/js/footer-web.js' %}"></script>
