<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>틴플 :: 틴플레이</title>
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet" />
        <link rel="stylesheet" href="/staticfiles/css/teenplay/app/teenplay-play-app.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
    </head>
    <body class="play-body">
        <main class="play-main">
            <div class="play-wrap">
                <div class="play-container">
                    <div class="play-boxes">
                        <div class="play-box">
                            <section class="play-section">
                                <div class="play-items" id="touchable">
                                    <div class="play-item">
                                        <!-- 아래 div가 반복 -->
                                        <!-- 서버 작업 시에는 4-5개씩 받아오면 될 것 같습니다.. -->
                                        <!-- 현재 재생중 -->
                                        <div class="play-each playing">
                                            <section class="play-each-wrap">
                                                <div class="play-each-container">
                                                    <div class="video-wrap">
                                                        <!-- 비디오 -->
                                                        <video class="play-video" preload="auto" loop autoplay muted playsinline>
                                                            <source src="/staticfiles/video/teenplay/teenplay_example_1.MOV" type="video/mp4" />
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- 틴플레이 정보 -->
                                                <div class="play-info-wrap">
                                                    <div class="play-info-container">
                                                        <!-- 작성자(모임) 정보 -->
                                                        <div class="play-writer-wrap">
                                                            <a href="" class="play-writer-image-wrap">
                                                                <div class="play-writer-image-container">
                                                                    <!-- 모임 프사 -->
                                                                    <img src="/staticfiles/images/teenplay/teenplay_example_1_profile.jpg" class="play-writer-image" />
                                                                </div>
                                                            </a>
                                                            <div class="play-writer-container">
                                                                <div class="play-writer-boxes">
                                                                    <div class="play-writer-box">
                                                                        <!-- 모임 이름 -->
                                                                        <a href="" class="play-writer-name">TEEN_PLAYERS</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="play-like-info-wrap">
                                                                <div class="play-like-wrap">
                                                                    <button class="play-like-btn">
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon empty" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path data-v-e13ecf0e="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                                        </svg>
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon full" viewBox="0 0 20 20" fill="currentColor">
                                                                            <path data-v-e13ecf0e="" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                                <div class="play-like-count">1.3천</div>
                                                            </div>
                                                        </div>
                                                        <!-- 제목(내용) -->
                                                        <h2 class="play-info-title-wrap">
                                                            <div class="play-info-title-container">
                                                                <span class="play-info-title">틴친들과 함께한 일본여행 VLOG😘</span>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- 재생, 음소거 버튼 -->
                                            <div class="play-control-wrap">
                                                <div class="play-control-container">
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes pause">
                                                                        <!-- 일시정지 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes restart">
                                                                        <!-- 재생 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M8 5v14l11-7z"></path></svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes mute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes unmute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%">
                                                                            <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- progress bar -->
                                            <div class="play-progress-bar-wrap">
                                                <div class="play-progress-bar-container">
                                                    <div class="progress-bar-background"></div>
                                                    <div class="progress-bar-now"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 다음 대기열 -->
                                        <div class="play-each">
                                            <section class="play-each-wrap">
                                                <div class="play-each-container">
                                                    <div class="video-wrap">
                                                        <!-- 비디오 -->
                                                        <video class="play-video" preload="auto" loop="" autoplay="" muted playsinline>
                                                            <source src="/staticfiles/video/teenplay/teenplay_example_2.MOV" type="video/mp4" />
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- 틴플레이 정보 -->
                                                <div class="play-info-wrap">
                                                    <div class="play-info-container">
                                                        <!-- 작성자(모임) 정보 -->
                                                        <div class="play-writer-wrap">
                                                            <a href="" class="play-writer-image-wrap">
                                                                <div class="play-writer-image-container">
                                                                    <!-- 모임 프사 -->
                                                                    <img src="/staticfiles/images/teenplay/teenplay_example_1_profile.jpg" class="play-writer-image" />
                                                                </div>
                                                            </a>
                                                            <div class="play-writer-container">
                                                                <div class="play-writer-boxes">
                                                                    <div class="play-writer-box">
                                                                        <!-- 모임 이름 -->
                                                                        <a href="" class="play-writer-name">TEEN_PLAYERS</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="play-like-info-wrap">
                                                                <div class="play-like-wrap">
                                                                    <button class="play-like-btn">
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon empty" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path data-v-e13ecf0e="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                                        </svg>
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon full" viewBox="0 0 20 20" fill="currentColor">
                                                                            <path data-v-e13ecf0e="" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                                <div class="play-like-count">1.3천</div>
                                                            </div>
                                                        </div>
                                                        <!-- 제목(내용) -->
                                                        <h2 class="play-info-title-wrap">
                                                            <div class="play-info-title-container">
                                                                <span class="play-info-title">틴친들과 함께한 일본여행 VLOG😘</span>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- 재생, 음소거 버튼 -->
                                            <div class="play-control-wrap">
                                                <div class="play-control-container">
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes pause">
                                                                        <!-- 일시정지 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes restart">
                                                                        <!-- 재생 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M8 5v14l11-7z"></path></svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes mute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes unmute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%">
                                                                            <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- progress bar -->
                                            <div class="play-progress-bar-wrap">
                                                <div class="play-progress-bar-container">
                                                    <div class="progress-bar-background"></div>
                                                    <div class="progress-bar-now"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 3번째 -->
                                        <div class="play-each">
                                            <section class="play-each-wrap">
                                                <div class="play-each-container">
                                                    <div class="video-wrap">
                                                        <!-- 비디오 -->
                                                        <video class="play-video" preload="auto" loop="" autoplay="" muted playsinline>
                                                            <source src="/staticfiles/video/teenplay/teenplay_example_2.MOV" type="video/mp4" />
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- 틴플레이 정보 -->
                                                <div class="play-info-wrap">
                                                    <div class="play-info-container">
                                                        <!-- 작성자(모임) 정보 -->
                                                        <div class="play-writer-wrap">
                                                            <a href="" class="play-writer-image-wrap">
                                                                <div class="play-writer-image-container">
                                                                    <!-- 모임 프사 -->
                                                                    <img src="/staticfiles/images/teenplay/teenplay_example_1_profile.jpg" class="play-writer-image" />
                                                                </div>
                                                            </a>
                                                            <div class="play-writer-container">
                                                                <div class="play-writer-boxes">
                                                                    <div class="play-writer-box">
                                                                        <!-- 모임 이름 -->
                                                                        <a href="" class="play-writer-name">TEEN_PLAYERS</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="play-like-info-wrap">
                                                                <div class="play-like-wrap">
                                                                    <button class="play-like-btn">
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon empty" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path data-v-e13ecf0e="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                                        </svg>
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon full" viewBox="0 0 20 20" fill="currentColor">
                                                                            <path data-v-e13ecf0e="" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                                <div class="play-like-count">1.3천</div>
                                                            </div>
                                                        </div>
                                                        <!-- 제목(내용) -->
                                                        <h2 class="play-info-title-wrap">
                                                            <div class="play-info-title-container">
                                                                <span class="play-info-title">틴친들과 함께한 일본여행 VLOG😘</span>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- 재생, 음소거 버튼 -->
                                            <div class="play-control-wrap">
                                                <div class="play-control-container">
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes pause">
                                                                        <!-- 일시정지 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes restart">
                                                                        <!-- 재생 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M8 5v14l11-7z"></path></svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes mute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes unmute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%">
                                                                            <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- progress bar -->
                                            <div class="play-progress-bar-wrap">
                                                <div class="play-progress-bar-container">
                                                    <div class="progress-bar-background"></div>
                                                    <div class="progress-bar-now"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 4번째 -->
                                        <div class="play-each">
                                            <section class="play-each-wrap">
                                                <div class="play-each-container">
                                                    <div class="video-wrap">
                                                        <!-- 비디오 -->
                                                        <video class="play-video" preload="auto" loop="" autoplay="" muted playsinline>
                                                            <source src="/staticfiles/video/teenplay/teenplay_example_2.MOV" type="video/mp4" />
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- 틴플레이 정보 -->
                                                <div class="play-info-wrap">
                                                    <div class="play-info-container">
                                                        <!-- 작성자(모임) 정보 -->
                                                        <div class="play-writer-wrap">
                                                            <a href="" class="play-writer-image-wrap">
                                                                <div class="play-writer-image-container">
                                                                    <!-- 모임 프사 -->
                                                                    <img src="/staticfiles/images/teenplay/teenplay_example_1_profile.jpg" class="play-writer-image" />
                                                                </div>
                                                            </a>
                                                            <div class="play-writer-container">
                                                                <div class="play-writer-boxes">
                                                                    <div class="play-writer-box">
                                                                        <!-- 모임 이름 -->
                                                                        <a href="" class="play-writer-name">TEEN_PLAYERS</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="play-like-info-wrap">
                                                                <div class="play-like-wrap">
                                                                    <button class="play-like-btn">
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon empty" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path data-v-e13ecf0e="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                                        </svg>
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon full" viewBox="0 0 20 20" fill="currentColor">
                                                                            <path data-v-e13ecf0e="" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                                <div class="play-like-count">1.3천</div>
                                                            </div>
                                                        </div>
                                                        <!-- 제목(내용) -->
                                                        <h2 class="play-info-title-wrap">
                                                            <div class="play-info-title-container">
                                                                <span class="play-info-title">틴친들과 함께한 일본여행 VLOG😘</span>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- 재생, 음소거 버튼 -->
                                            <div class="play-control-wrap">
                                                <div class="play-control-container">
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes pause">
                                                                        <!-- 일시정지 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes restart">
                                                                        <!-- 재생 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M8 5v14l11-7z"></path></svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes mute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes unmute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%">
                                                                            <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- progress bar -->
                                            <div class="play-progress-bar-wrap">
                                                <div class="play-progress-bar-container">
                                                    <div class="progress-bar-background"></div>
                                                    <div class="progress-bar-now"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 5번째 -->
                                        <div class="play-each">
                                            <section class="play-each-wrap">
                                                <div class="play-each-container">
                                                    <div class="video-wrap">
                                                        <!-- 비디오 -->
                                                        <video class="play-video" preload="auto" loop="" autoplay="" muted playsinline>
                                                            <source src="/staticfiles/video/teenplay/teenplay_example_2.MOV" type="video/mp4" />
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- 틴플레이 정보 -->
                                                <div class="play-info-wrap">
                                                    <div class="play-info-container">
                                                        <!-- 작성자(모임) 정보 -->
                                                        <div class="play-writer-wrap">
                                                            <a href="" class="play-writer-image-wrap">
                                                                <div class="play-writer-image-container">
                                                                    <!-- 모임 프사 -->
                                                                    <img src="/staticfiles/images/teenplay/teenplay_example_1_profile.jpg" class="play-writer-image" />
                                                                </div>
                                                            </a>
                                                            <div class="play-writer-container">
                                                                <div class="play-writer-boxes">
                                                                    <div class="play-writer-box">
                                                                        <!-- 모임 이름 -->
                                                                        <a href="" class="play-writer-name">TEEN_PLAYERS</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="play-like-info-wrap">
                                                                <div class="play-like-wrap">
                                                                    <button class="play-like-btn">
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon empty" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path data-v-e13ecf0e="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                                                        </svg>
                                                                        <svg data-v-e13ecf0e="" xmlns="http://www.w3.org/2000/svg" class="play-like-icon full" viewBox="0 0 20 20" fill="currentColor">
                                                                            <path data-v-e13ecf0e="" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                                <div class="play-like-count">1.3천</div>
                                                            </div>
                                                        </div>
                                                        <!-- 제목(내용) -->
                                                        <h2 class="play-info-title-wrap">
                                                            <div class="play-info-title-container">
                                                                <span class="play-info-title">틴친들과 함께한 일본여행 VLOG😘</span>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- 재생, 음소거 버튼 -->
                                            <div class="play-control-wrap">
                                                <div class="play-control-container">
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes pause">
                                                                        <!-- 일시정지 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes restart">
                                                                        <!-- 재생 버튼 -->
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M8 5v14l11-7z"></path></svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="play-btn-wrap">
                                                        <button class="play-btn">
                                                            <div class="play-btn-icon-wrap">
                                                                <div class="play-btn-icon-container">
                                                                    <div class="play-btn-icon-boxes mute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path></svg>
                                                                    </div>
                                                                    <div class="play-btn-icon-boxes unmute">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%">
                                                                            <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- progress bar -->
                                            <div class="play-progress-bar-wrap">
                                                <div class="play-progress-bar-container">
                                                    <div class="progress-bar-background"></div>
                                                    <div class="progress-bar-now"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 틴플레이 로고 (메인페이지로 이동 링크) -->
                                <div class="play-logo-wrap">
                                    <a href="" class="play-logo-container">
                                        <img src="/staticfiles/images/teenplay_logo/logo2.png" class="play-logo" />
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/staticfiles/js/teenplay/app/teenplay-play-app.js"></script>
</html>
