@import url('https://webfontworld.github.io/sunn/SUIT.css');

[type=checkbox]:checked {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2016%2016%27%20fill%3D%27%23fff%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M12.207%204.793a1%201%200%200%201%200%201.414l-5%205a1%201%200%200%201-1.414%200l-2-2a1%201%200%200%201%201.414-1.414L6.5%209.086l4.293-4.293a1%201%200%200%201%201.414%200z%27%2F%3E%3C%2Fsvg%3E');
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
   
}

*{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    scrollbar-color: auto;
    scrollbar-width: auto;
    letter-spacing: -.03125em;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
    font-family: SUIT,sans-serif;
}

html{
    font-size: 16px;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    font-family: SUIT,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    overflow-y: scroll; 
}

body{
    position: relative;
    min-height: 100%;
    
    opacity: 1;
    top: 0 !important;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    margin: 0;
    line-height: inherit;
    top: 0px;
}

main{
    min-height: 100vh;
}

.main-notice-all{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.main-notice-top{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.main-notice-content-warp{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-top-width: 1px;
}

.main-notice-content-container{
    cursor: pointer;
}

.main-notice-content-container-title{
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.main-notice-content-container-title-in{
    display: flex;
    margin-bottom: 0.5rem;
}

.main-notice-content-container-title-text{
    margin-right: 1rem;
}

.main-notice-content-container-title-svg{
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity));
    font-weight: 700;
    width: 1rem;
    height: 1rem;
    display: block;
    vertical-align: middle;
}

.main-notice-content-container-date{
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .8125rem;
}

.main-notice-content-container-content{
    --tw-text-opacity: 1!important;
    color: rgb(135 141 145/var(--tw-text-opacity))!important;
    font-size: .9375rem!important;
    margin-top: 1.5rem;
    display: none;
}

.main-notice-text{
    font-size: 14px;
    color: rgb(135, 141, 145);
    background-color: white;
    margin: 0;
}

.main-notice-button{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-weight: 400;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
    -webkit-appearance: button;
    background-image: none;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-notice-content-container-content.active {
    display: block;
}

.main-notice-choice{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}

.main-notice-choice-pick{
    border-radius: 20px;
    padding: 6px 18px;
    background-color: #CE201B;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: -.025em;
    text-align: center;
    left: 0;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    -webkit-box-sizing: border-box;
}

.main-notice-choice-nonpick{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: -.025em;
    text-align: center;
    color: #767676;
    right: 0;
    padding: 6px 18px 6px 14px;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    -webkit-box-sizing: border-box;
}

/* 자주묻는 질문 */
.main-notice-qu-warp{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-top-width: 1px;
}

.main-qu-button{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-weight: 400;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
    -webkit-appearance: button;
    background-image: none;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hidden{
    display: none;
}

