<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>틴플 :: 모임 소개</title>
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet" />
        <link rel="stylesheet" href="/club/app/css/club-intro-app.css" />
        <link rel="stylesheet" href="/staticfiles/css/fix/header.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
    </head>
    <body class loaded style="position: relative; min-height: 100%; top: 0px">
        <!-- 헤더 -->
        <header id="header"></header>
        <!-- 모임 소개 페이지 반응형 시작 -->
        <main class="intro-wrap">
            <section class="top-banner">
                <div class="top-banner-wrap">
                    <div class="top-banner-container">
                        <div class="top-banner-text-wrap">
                            <span>
                                모임원 모집을 위한
                                <br />
                                가장 확실한 선택
                                <br />
                                <span class="bold">틴플레이 모임</span>
                            </span>
                        </div>
                        <div class="top-banner-desc-wrap">
                            <span>틴플레이 모임으로 사람들과 취미를 함께하세요</span>
                        </div>
                        <div class="top-banner-space"></div>
                        <div class="top-banner-button-wrap">
                            <a href="" class="top-banner-left-button">
                                <span>모임 생성하기</span>
                            </a>
                            <a href="" class="top-banner-right-button">
                                <span>모임 보러가기</span>
                            </a>
                        </div>
                    </div>
                    <div class="top-banner-img-wrap">
                        <div class="top-banner-img-container">
                            <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/%EA%B4%91%EA%B3%A0_header.png" alt="배너이미지" class="top-banner-img" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="main-content">
                <article class="main-introduction">
                    <div class="main-intro-wrap">
                        <div class="main-intro-container">
                            <div class="main-intro-text-wrap">
                                <div class="main-intro-text-container">
                                    <span>
                                        월간 활성 이용자 30만 명
                                        <br />
                                        틴플레이에서 만나는 수많은 틴친들
                                    </span>
                                </div>
                            </div>
                            <div class="main-intro-img-wrap">
                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/ad_1.png" alt="콘텐츠 이미지" class="main-intro-img" />
                            </div>
                        </div>
                        <div class="main-intro-container">
                            <div class="main-intro-text-wrap">
                                <div class="main-intro-text-container">
                                    <span>
                                        다양한 취미를 공유하며
                                        <br />
                                        소규모 활동부터 단체 활동,
                                        <br />
                                        함께 방방곡곡 여행까지
                                    </span>
                                </div>
                            </div>
                            <div class="main-intro-img-wrap">
                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/product_2.png" alt="콘텐츠 이미지" class="main-intro-img" />
                            </div>
                        </div>
                        <div class="main-intro-container">
                            <div class="main-intro-text-wrap">
                                <div class="main-intro-text-container">
                                    <span>
                                        같은 위시리스트 틴친 추천 기능으로
                                        <br />
                                        함께하고 싶은 모임원을 쉽고 빠르게 모집
                                    </span>
                                </div>
                            </div>
                            <div class="main-intro-img-wrap">
                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/ad_3.png" alt="콘텐츠 이미지" class="main-intro-img" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="main-slide">
                    <div class="main-slide-wrap">
                        <div class="main-slide-text-wrap">
                            <div class="main-slide-title-wrap">
                                <span>
                                    우리 모임을 알릴 수 있는
                                    <br />
                                    다양한 서비스가 준비되어 있어요
                                </span>
                            </div>
                            <div class="main-slide-desc-wrap">
                                <span>
                                    원하는 서비스를 통해 모임을 홍보해보세요
                                    <br />
                                    홍보게시판에 게시물을 작성하면 메인페이지에도 노출됩니다.
                                </span>
                            </div>
                            <a class="main-slide-link" target="_blank">
                                <span>홍보게시판 가기</span>
                            </a>
                        </div>
                        <!-- 슬라이드배너 -->
                        <div class="main-slide-container">
                            <div fixed>
                                <div class="main-slide-swiper-wrap">
                                    <div class="main-slide-swiper">
                                        <!-- 아래 div가 반복 -->
                                        <!-- 첫 번째 이미지 -->
                                        <div id="first-slide-banner" class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_1.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">플랫폼 메인 배너</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 두 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_2.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">메인 추천 행사</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 세 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_3.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">검색 페이지 배너</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 네 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_4.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">검색창 추천 행사</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 다섯 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_5.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">신청 완료 페이지 추천 행사</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 여섯 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_6.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">회원 팝업 배너</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 일곱 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_7.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">카카오톡</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 여덟 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_8.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">뉴스레터</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 아홉 번째 -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_9.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">행사 페이지 추천 행사</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 열 번째(마지막) -->
                                        <div class="main-slide-content-wrap">
                                            <div class="main-slide-content-container">
                                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/service/marketing/solution_10.png" alt="슬라이드이미지" class="main-slide-content-img" />
                                                <div class="main-slide-content-text-wrap">
                                                    <div class="main-slide-content-text">단독 EDM</div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-left-arrow-wrap">
                                <button type="button" class="slide-left-arrow slide-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="slide-left-arrow-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 19l-7-7 7-7"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="slide-right-arrow-wrap">
                                <button type="button" class="slide-right-arrow slide-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="slide-arrow-right-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <!-- 그룹 생성하기 버튼  -->
            <!-- 문구는 아직 저희 서비스에 맞도록 수정하지 않았습니다. -->
            <section class="bottom-form">
                <div class="form-wrap">
                    <div class="form-container">
                        <div class="form-title-wrap">
                            <div class="form-title-container">
                                <span>지금 바로 생성해보세요</span>
                            </div>
                        </div>
                        <div class="form-flow-wrap">
                            <div class="form-flow-text-wrap">
                                <span>광고 센터</span>
                            </div>
                            <?xml version="1.0" ?><svg class="form-flow-arrow" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <g data-name="Layer 2" id="Layer_2"><path d="M23.05,22a1,1,0,0,0-1.41,0L17,26.56V3a1,1,0,1,0-2,0V26.53L10.47,22a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l6.37,6.37a.9.9,0,0,0,1.27,0l6.36-6.37A1,1,0,0,0,23.05,22Z" /></g>
                            </svg>
                            <div class="form-flow-text-wrap">
                                <span>광고 상품 선택</span>
                            </div>
                            <?xml version="1.0" ?><svg class="form-flow-arrow" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <g data-name="Layer 2" id="Layer_2"><path d="M23.05,22a1,1,0,0,0-1.41,0L17,26.56V3a1,1,0,1,0-2,0V26.53L10.47,22a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l6.37,6.37a.9.9,0,0,0,1.27,0l6.36-6.37A1,1,0,0,0,23.05,22Z" /></g>
                            </svg>
                            <div class="form-flow-text-wrap">
                                <span>광고 신청</span>
                            </div>
                            <?xml version="1.0" ?><svg class="form-flow-arrow" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <g data-name="Layer 2" id="Layer_2"><path d="M23.05,22a1,1,0,0,0-1.41,0L17,26.56V3a1,1,0,1,0-2,0V26.53L10.47,22a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l6.37,6.37a.9.9,0,0,0,1.27,0l6.36-6.37A1,1,0,0,0,23.05,22Z" /></g>
                            </svg>
                            <div class="form-flow-text-wrap">
                                <span>소재 업로드</span>
                            </div>
                            <?xml version="1.0" ?><svg class="form-flow-arrow" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <g data-name="Layer 2" id="Layer_2"><path d="M23.05,22a1,1,0,0,0-1.41,0L17,26.56V3a1,1,0,1,0-2,0V26.53L10.47,22a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l6.37,6.37a.9.9,0,0,0,1.27,0l6.36-6.37A1,1,0,0,0,23.05,22Z" /></g>
                            </svg>
                            <div class="form-flow-text-wrap">
                                <span>담당자 컨펌</span>
                            </div>
                            <?xml version="1.0" ?><svg class="form-flow-arrow" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title />
                                <g data-name="Layer 2" id="Layer_2"><path d="M23.05,22a1,1,0,0,0-1.41,0L17,26.56V3a1,1,0,1,0-2,0V26.53L10.47,22a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l6.37,6.37a.9.9,0,0,0,1.27,0l6.36-6.37A1,1,0,0,0,23.05,22Z" /></g>
                            </svg>
                            <div class="form-flow-last">
                                <img src="https://event-us.kr/Content/neweventus/image/landing/hostcenter/contactform/contact_form_firework.png" alt="폭죽아이콘" class="form-flow-last-icon" />
                                <span class="form-flow-last-text">광고 집행</span>
                            </div>
                        </div>
                        <div class="form-desc-wrap">
                            <span>
                                단독 EDM 광고의 경우
                                <br />
                                담당자 확인 후, 메일로 진행됩니다.
                            </span>
                        </div>
                        <a href="" class="form-link">
                            <span>모임 생성하기</span>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <!-- 푸터 들어갈 자리 -->
        <footer></footer>
    </body>
    <script src="/club/app/js/club-intro-app.js"></script>
</html>
