:root {
    --swiper-theme-color: #007aff;
}

[class*="hover\:"], a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

body[loaded] {
    opacity: 1;
}

body {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button {
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-color: auto;
    scrollbar-width: auto;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

img, video {
    max-width: 100%;
    height: auto;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
}

[type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pr-detail-main {
    padding-top: 80px;
    min-height: 100vh;
}

.pr-detail-wrap {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 245/var(--tw-bg-opacity));
    height: 100%;
}

.pr-detail-banner-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/staticfiles/images/club/club-pr-posts/pr-posts-example-img.png);
    background-size: cover;
    background-position: center center;
    height: 500px;
}

.pr-detail-banner-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: flex-end;
    height: 100%;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.pr-detail-banner-boxes { 
    width: 100%;
    z-index: 10;
}

.pr-detail-banner-field {
    opacity: .6;
    --tw-text-opacity: 1;
    color: rgb(248 250 251/var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
}

.pr-detail-banner-title {
    font-size: 2rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    line-height: 1.5!important;
    margin-top: 1rem;
}

.pr-detail-banner-date {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.pr-detail-content-wrap {
    padding-left: 22px;
    padding-right: 22px;
    --tw-text-opacity: 1;
    color: rgb(41 42 43/var(--tw-text-opacity));
    padding-top: 80px;
    padding-bottom: 80px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    max-width: 1064px;
    margin-bottom: 2.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pr-detail-content-container {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    margin-bottom: 3rem;
}

p {
    margin: 16px 0px;
}

.pr-detail-content-img-wrap {
    width: 100%;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    clear: both;
    text-align: center;
    margin: 0.9em auto;
    min-width: 50px;
}

.pr-detail-content-img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}

.pr-detail-group-wrap {
    --tw-space-y-reverse: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.pr-detail-group-title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.pr-detail-group-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.pr-detail-group-boxes {
    display: flex;
}

.pr-detail-group-img-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pr-detail-group-img {
    object-fit: cover;
    border-width: 1px;
    border-radius: 9999px;
    max-width: fit-content;
    width: 4rem;
    height: 4rem;
    aspect-ratio: 1;
}

.pr-detail-group-box {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: 30px;
    align-items: center;
    display: flex;
}

.pr-detail-group-name-wrap {
    align-items: center;
    display: flex;
    color: #CE201B;
}

.pr-detail-group-name-link {
    align-items: center;
    display: inline-flex;
}

.pr-detail-group-name {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #CE201B;
}

.pr-detail-group-name-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.pr-detail-group-msg-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .8125rem;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.pr-detail-back-wrap {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .9375rem;
    cursor: pointer;
    display: flex;
    margin-bottom: 50px;
}

.pr-detail-back-wrap:hover {
    --tw-text-opacity: 1;
    color: rgb(41 42 43/var(--tw-text-opacity));
}

.pr-detail-back-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.pr-detail-back-text {
    margin-top: -2px;
}

.comment-menu-open-wrap {
    position: relative;
}

.pr-border {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom-width: 1px;
    width: 100%;
}

.comment-all-wrap {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.comment-modal-wrap {
    position: fixed;
    top: 0;
    z-index: 1004;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
}

.comment-modal-bg {
    background-color: rgba(0,0,0,.5);
    inset: 0;
    position: fixed;
    height: 100vh;
}

.comment-menu-open-wrap.app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.comment-menu-open-container.app {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.comment-menu-open-divison.app {
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.comment-menu-open-choice.app {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 10vh;
    text-align: center;
}

.comment-menu-open-choice.app:first-of-type {
    border-bottom: 1px solid #e1e4e6;
}