
:root {
    --swiper-theme-color: #007aff;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

body[loaded] {
    opacity: 1;
}

body {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button {
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-color: auto;
    scrollbar-width: auto;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

.header-wrap {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    height: 5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(252 252 252/var(--tw-bg-opacity));
    width: 100%;
    z-index: 40;
    position: fixed;
}

.header-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left-link {
    display: flex;
    align-items: center;
}

.header-left-logo {
    max-width: 100%;
    height: auto;
    width: 2rem;
    margin-right: 0.75rem;
}

.header-left-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-links {
    display: block;
    font-size: .9375rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}

.header-right-home {
    margin-left: 1.25rem;
}

.header-right-home-link {
    --tw-border-opacity: 1;
    border-color: rgb(245 242 255);
    --tw-text-opacity: 1;
    color: #CE201B;
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: 0 0 #0000;
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #FFF0EE;
    border-width: 1px;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
}

.header-right-home-link:hover {
    background-color: #ffb6ac;
}

.intro-wrap {
    padding-top: 4rem;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
    min-height: 100vh;
}

.top-banner {
    padding-top: 6rem;
    padding-left: 22px;
    padding-right: 22px;
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
    position: relative;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.top-banner-wrap {
    gap: 3.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, minmax(0,1fr));
    position: relative;
}

.top-banner-container {
    text-align: center;
    align-items: center;
    grid-column: span 6/span 6;
    flex-direction: column;
    display: flex;
}

.top-banner-text-wrap {
    font-size: 32px;
    line-height: 1.25!important;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.top-banner-desc-wrap {
    font-size: 1rem;
    max-width: 200px;
    line-height: 1.5!important;
    font-weight: 700;
    margin-top: 2rem;
}

.top-banner-space {
    width: 100%;
    margin-top: 3.5rem;
    font-weight: 700;
}

.top-banner-button-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    font-weight: 700;
    width: 100%;
}

.top-banner-left-button {
    width: 100%;
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    line-height: 1;
    font-weight: 700;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.top-banner-right-button {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    line-height: 1;
    font-weight: 700;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border-width: 1px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.top-banner-img-wrap {
    grid-column: span 6/span 6;
    height: 100%;
}

.top-banner-img-container {
    width: 100%;
    min-height: 200px;
    height: 100%;
}

.top-banner-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.main-content {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.main-introduction {
    margin-top: 5rem;
    margin-bottom: 72px;
    padding-left: 22px;
    padding-right: 22px;
}

.main-intro-wrap {
    display: flex;
    flex-direction: column;
}

.main-intro-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    transition-timing-function: linear;
    transition-duration: .7s;
    transition-property: all;
    opacity: 1;
    align-items: center;
}

.main-intro-container:not(:first-of-type) {
    --tw-space-y-reverse: 0;
    margin-top: calc(3.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3.5rem*var(--tw-space-y-reverse));
}

.main-intro-text-wrap {
    width: 100%;
    margin-top: 2.5rem;
    text-align: center;
    max-width: 408px;
}

.main-intro-text-container {
    font-size: 1.25rem;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    font-weight: 700;
}

.main-intro-img-wrap {
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
}

.main-intro-img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.main-slide {
    padding-left: 0!important;
    padding-right: 0!important;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.main-slide-wrap {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    align-items: center;
    flex-direction: column;
    display: flex;
}

.main-slide-text-wrap {
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.main-slide-title-wrap {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.25!important;
    font-weight: 700;
}

.main-slide-desc-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    font-size: 0.9375rem;
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
}

.main-slide-link {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 700;
    font-size: .9375rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    border-style: none;
    border-width: 1px;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 278px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.main-slide-container {
    max-width: 40%;
    margin-top: 3.5rem;
    position: relative;
}

.main-slide-swiper-wrap {
    touch-action: pan-y;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.main-slide-swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.main-slide-content-wrap {
    margin-right: 16px;
    width: 82%;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.main-slide-content-container {
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.main-slide-content-img {
    border-width: 1px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.main-slide-content-text-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem*var(--tw-space-y-reverse));
    flex-direction: column;
    display: flex;
}

.main-slide-content-text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.slide-left-arrow-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    top: 25%;
    left: -75px;
    position: absolute;
}

.slide-left-arrow {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.slide-left-arrow-icon {
    width: 3.5rem;
    height: 3.5rem;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

.slide-right-arrow-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    top: 25%;
    right: -75px;
    position: absolute;
}

.slide-right-arrow {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.slide-arrow-right-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.form-wrap {
    padding-top: 6rem;
    padding-bottom: 83px;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(58 132 232/var(--tw-bg-opacity));
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.form-container {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.form-title-wrap {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.form-title-container {
    line-height: 1.25!important;
    font-weight: 700;
    font-size: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.form-flow-wrap {
    --tw-space-y-reverse: 0;
    margin-top: 2.5rem!important;
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    text-align: center;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}

.form-flow-text-wrap {
    font-size: .8125rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(58 132 232/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 9999px;
}

.form-flow-arrow {
    fill: #fff;
    width: 1.25rem;
    height: 1.25rem;
}

.form-flow-last {
    --tw-text-opacity: 1;
    color: rgb(58 132 232/var(--tw-text-opacity));
    font-weight: 700;
    font-size: .8125rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 9999px;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.form-flow-last-icon {
    width: 1rem;
    height: 1rem;
}

.form-flow-last-text {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
}

.form-desc-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    line-height: 1.5!important;
    font-weight: 300;
    font-size: 1.25rem;
}

.form-link {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 0;
    border-radius: 0.75rem;
    cursor: pointer;
    width: fit-content;
}