:root {
    --swiper-theme-color: #007aff;
}

[class*="hover\:"], a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

body[loaded] {
    opacity: 1;
}

body {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button {
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-color: auto;
    scrollbar-width: auto;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

img, video {
    max-width: 100%;
    height: auto;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
}

[type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}


.pr-write-main {
    margin-top: 5rem;
    height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.pr-write-form {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.pr-write-msg-wrap {
    max-width: 42rem;
    margin-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
}

.pr-write-msg-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.pr-write-msg-boxes {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.pr-write-msg-title-wrap {
    position: relative;
    align-items: center;
}

.pr-write-msg-desc {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-weight: 400;
}

.pr-write-input-wrap {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.pr-write-buttons-wrap {
    font-size: .8125rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.pr-write-back-btn {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    align-items: center;
    display: flex;
}

.pr-write-back-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.pr-write-back-text {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem*var(--tw-space-x-reverse));
    margin-left: calc(0.25rem*(1 - var(--tw-space-x-reverse)));
}

.pr-write-button {
    --tw-border-opacity: 1;
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.pr-write-button:hover {
    background-color: #9F0D08;
    border-color: #9F0D08;
}

.pr-write-button:disabled {
    background-color: rgb(248 250 251);
    color: rgb(200 200 200);
    border-color: rgb(200 200 200);
    cursor: not-allowed;
}

.pr-write-title-wrap {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
    padding: 1.5rem;
    align-items: center;
    display: flex;
}

option {
    font-size: 0.8rem;
    height: 20px;
}

.pr-write-fields {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23878D91' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 1.5rem;
    -webkit-print-color-adjust: exact;
    appearance: none;
    font-size: 0.8125rem;
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    text-transform: none;
    background-color: #fff;
    border-radius: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    --tw-shadow: 0 0 #0000;
    width: 100px;
}

.pr-write-default {
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
}

.pr-write-default:disabled {
    cursor: default;
}

.pr-write-title {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem*var(--tw-space-x-reverse));
    margin-left: calc(2rem*(1 - var(--tw-space-x-reverse)));
    width: 100%;
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.pr-write-title::placeholder {
    --tw-text-opacity: 1;
    color: rgb(206 211 214/var(--tw-text-opacity));
    opacity: 1;
}

.pr-write-content-wrap {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
    padding: 1.5rem;
}

.pr-write-content {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
    padding: 0;
    width: 100%;
    font-size: .9375rem;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    resize: vertical;
}

.pr-write-content::placeholder {
    --tw-text-opacity: 1;
    color: rgb(206 211 214/var(--tw-text-opacity));
    opacity: 1;
}

.pr-write-image-wrap {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
    padding: 1rem;
}

.pr-write-image-container {
    max-width: 100%;
}

.pr-write-image-hidden {
    display: none;
    appearance: none;
    font-size: .9375rem;
}

.pr-write-image-msg-wrap {
    font-size: .9375rem;
    flex-direction: row;
    display: flex;
}

.pr-write-image-msg {
    font-weight: 700;
}

.pr-write-image-modal-wrap {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem*var(--tw-space-x-reverse));
    margin-left: calc(0.25rem*(1 - var(--tw-space-x-reverse)));
    position: relative;
}

.pr-write-image-modal-btn {
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

.pr-write-image-modal-container {
    display: none;
}

.pr-write-image-modal-boxes {
    z-index: 200;
    left: 0;
    position: absolute;
}

.pr-write-image-modal {
    --tw-text-opacity: 1;
    color: rgb(248 250 251/var(--tw-text-opacity));
    font-size: .8125rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    white-space: nowrap;
}

.pr-write-box-wrap {
    margin-top: 0.75rem;
}

.pr-write-box-container {
    font-size: .8125rem;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
    border-style: dashed;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 8rem;
    display: flex;
}

.pr-write-box-button {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.pr-write-box-button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.pr-write-box-text-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
    text-align: center;
}

.pr-write-box-text {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .8125rem;
}

.pr-write-error {
    color: #CE201B;
    display: none;
}

.pr-write-size-error {
    color: #CE201B;
    display: none;
}

.pr-write-uploaded-image-wrap {
    margin-top: 1rem;
    display: none;
}

.pr-write-uploaded-image-container {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.pr-file-name-wrap {
    align-items: center;
    display: flex;
}

.pr-file-icon {
    --tw-text-opacity: 1;
    color: #CE201B;
    width: 1rem;
    height: 1rem;
}

.pr-file-name {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    flex-basis: auto;
}

.pr-file-info-wrap {
    align-items: center;
    display: flex;
}

.pr-file-size {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .8125rem;
    min-width: max-content;
}

.pr-remove-btn {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    padding: 0.25rem;
}

.pr-file-remove-icon {
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
    width: 1rem;
    height: 1rem;
}