html {
    height: 100%;
    font-family: SUIT,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

body {
    position: relative;
    min-height: 100%;
    opacity: 1;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

button {
    text-align: left;
}

[role=button], button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    color: #CE201B;
}

input[type=checkbox]:hover {
    background-color: #F2F4F5;
}

input[type=checkbox]:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: #CE201B;
}

[type=checkbox]:focus, [type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #CE201B;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

[type=checkbox] {
    border-radius: 0;
}

[type=checkbox], [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563EB;
    background-color: #fff;
    border-color: #878d91;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}

[type=checkbox]:checked:focus, [type=checkbox]:checked:hover, [type=radio]:checked:focus, [type=radio]:checked:hover {
    border-color: transparent;
    background-color: currentColor;
}

[type=checkbox]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

[type=checkbox]:checked, [type=radio]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.hidden {
    display: none!important;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

* {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

/* 화면 부분 */
.screen-all-wrap {
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.screen-full-wrap {
    align-items: center;
    flex: 1 1 0%;
    width: 100%;
    display: flex;
}

.screen-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.app-screen-wrap {
    max-width: 24rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* 회원가입 텍스트 부분 */
.join-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* SNS 회원가입 부분 */
.sns-join-container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

/* sns버튼 속성 모음 */
.sns-button {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

/* 카카오 버튼 */
.kakao:hover {
    background-color: #F2F4F5;
}

.kakao-img {
    height: 1.25rem;
}

.kakao-text {
    margin-left: 0.5rem;
}

/* 네이버 버튼 */
.naver {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse));
}

.naver:hover {
    background-color: #F2F4F5;
}

.naver-img{
    height: 1.25rem;
}

.naver-text {
    margin-left: 0.5rem;
}

/* 구글 버튼 */
.google {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse));
}

.google:hover {
    background-color: #F2F4F5;
}

.google-img {
    height: 1.6rem;
}

.google-text {
    margin-left: 0.3rem;
}

/* 구분선 */
.line-container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    align-items: center;
    display: flex;
}

.line {
    border-top-width: 1px;
    flex: 1 1 0%;
}

.line-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* 회원가입 부분 */
.input-all-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

/* 이메일 입력 부분 */
.email-text-divison {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

.email-text {
    display: block;
}

/* 이름 입력 부분 */
.name-container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

.name-text-divison {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

.name-text {
    display: block;
}

.name-explain {
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    font-size: .8125rem;
}

/* 비밀번호 입력 부분 */
.password-container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

.password-text-divison {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

.password-text {
    display: block;
}

.password-explain {
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    font-size: .8125rem;
}

/* 입력 창 공통 스타일 */
.input {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-size: .9375rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    width: 100%;
    display: block;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    border-width: 1px;
}

.input:active {
    opacity: .8;
}

.input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #2563eb;
    --tw-ring-color: #2563eb;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.input:hover {
    background-color: #F2F4F5;
}

/* 입력창 에러 시 공통 스타일 */
.input.color:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #CE201B;
    --tw-ring-color: #CE201B;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
} 


/* 입력창 에러 메세지 부분 */
.input-error {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    color: #CE201B;
    margin-top: 0.5rem!important;
}

.email-length-error {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    color: #CE201B;
    margin-top: 0.5rem!important;
}

.name-length-error {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    color: #CE201B;
    margin-top: 0.5rem!important;
}

.password-length-error {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    color: #CE201B;
    margin-top: 0.5rem!important;
}

/* 약관동의 부분 */
.agreement-container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

/* 약관동의 공통 부분 */
.agreement-content {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
}

.agreement-divison-content {
    justify-content: space-between;
    display: flex;
}

.agreement-divison {
    align-items: center;
    display: flex;
}

.agreement-text {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    font-size: .9375rem;
    cursor: pointer;
    display: block;
}

.agreement-error {
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
    font-size: .8125rem;
    margin-top: 0.25rem;
}

.agreement-add-text {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .8125rem;
    margin-left: 0.25rem!important;
}

.agreement-add-link {
    text-decoration-line: underline;
    color: #CE201B;
}

/* 회원가입 버튼 */
.join-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.join-wrap:hover {
    background-color:  #9F0D08;
}

.join-wrap.disabled {
    border-color: #F2F4F5;
    background-color: #F2F4F5;
}

.join-wrap.disabled:hover {
    border-color: #C2C2C2;
    background-color: #C2C2C2;
}

/* 하단 부분 */
.width-full {
    width: 100%;
}

/* 푸터 부분 */
.footer-wrap {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.fotter-divison-wrap {
    padding: 0.75rem;
    border-top-width: 1px;
    justify-content: center;
    display: flex;
}

/* 푸터 로고 부분 */
.footer-logo-item {
    justify-content: center;
    display: flex;
}

.footer-logo {
    margin-top: .3rem;
    height: 1.5rem;
    display: block;
    vertical-align: middle;
}

.footer-text {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    border-radius: 0.375rem;
    width: 100%;
    display: block;
    font-size: smaller;
}