body {
    font-size: 0.9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23 / var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
    opacity: 1;
}

html > body {
    top: 0 !important;
}

* {
    letter-spacing: -0.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT, sans-serif;
    font-size: 16px;
}

body,
html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

[class*="hover\:"],
a,
button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

[class*="hover\:"],
a,
button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
    appearance: button;
    background-color: transparent;
    background-image: none;
}

button {
    text-align: left;
}

button,
select {
    text-transform: none;
}

[role="button"],
button {
    cursor: pointer;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

.mypage-main {
    min-height: 100vh;
}

.mypage-wrap {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230 / var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 1px;
}

.mypage-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 72px;
    padding-bottom: 72px;
    padding-top: 2rem;
}

.mypage-box {
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;
}

.side-bar {
    grid-column: span 1 / span 1;
    display: block;
}

.side-bar-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 2.25rem;
}

.side-bar-items {
    font-size: 1rem;
    line-height: 1.5rem;
}

.side-bar-items > div:not(:first-child) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.target-color {
    --tw-text-opacity: 1;
    color: rgb(92 63 191 / var(--tw-text-opacity));
}

.activity-tit {
    --tw-text-opacity: 1;
    color: rgb(23 23 23 / var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.categori {
    display: flex;
    color: rgb(169 175 179 / var(--tw-text-opacity));
    margin-bottom: 2rem;
}

.categori-btn {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
}

.activity-list-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    display: grid;
}

.activity-wrap {
    grid-column: span 1 / span 1;
}
.activity-wrap-interest {
    grid-column: span 1 / span 1;
}

.activity-box {
    grid-column: span 1 / span 1;
}

.activity-img-box {
    position: relative;
}

.activity-img-link {
    border-width: 1px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: block;
    isolation: isolate;
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 16;
    --tw-aspect-h: 9;
}

.activity-img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition-duration: 0.3s;
    object-position: center;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s linear;
}

.activity-img:hover {
    transform: scale(1.1);
}

.like-btn-wrap {
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
}

.like-btn {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
        var(--tw-sepia) var(--tw-drop-shadow);
    --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    align-items: center;
    display: flex;
}
.like-button {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
        var(--tw-sepia) var(--tw-drop-shadow);
    --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    align-items: center;
    display: flex;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.unlike-img-wrap {
    --tw-text-opacity: 1;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
}

.like-img-wrap {
    --tw-text-opacity: 1;
    color: rgb(232 103 98 / var(--tw-text-opacity));
    width: 1.5rem;
    height: 1.5rem;
}

.content-txt-box {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.middle-txt {
    --tw-text-opacity: 1;
    color: rgb(135 141 145 / var(--tw-text-opacity));
    font-size: 0.8125rem;
    border-radius: 0.375rem;
    align-items: center;
    height: 1.5rem;
    display: flex;
}

.txt-head {
    display: inline;
}

.middle-txt-online {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * (1 - var(--tw-space-x-reverse)));
}

.content-tit-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
    font-weight: 700;
    height: 3rem;
}

.content-tit {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.passivity-content-tit {
    opacity: 0.5;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.bottom-content-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
    justify-content: space-between;
    align-items: center;
    display: flex;
    float: right;
}

.bottom-content-ahead {
    --tw-text-opacity: 1;
    color: rgb(141 113 221 / var(--tw-text-opacity));
    font-weight: 700;
}

.bottom-content-back {
    align-items: center;
    display: flex;
}

.bottom-content-views {
    --tw-text-opacity: 1;
    color: rgb(206 211 214 / var(--tw-text-opacity));
    font-size: 0.8125rem;
}

.passivity-img {
    opacity: 0.5;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    transition-duration: .3s;
    object-position: center;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.passivity-img:hover {
    transform: scale(1.1);
}

.txt-head-end {
    margin-right: 5px;
    display: inline;
    --tw-text-opacity: 1;
    color:  #878D91;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color:  #E1E1E1;
}

.txt-head-wait {
    --tw-text-opacity: 1;
    color: rgb(216 156 0 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 0.8125rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 250 232 / var(--tw-bg-opacity));
    border-radius: 0.375rem;
    align-items: center;
    display: flex;
    margin-right: 5px;
}

.txt-head-confirm {
    margin-right: 5px;
    --tw-text-opacity: 1;
    color: #CE201B;
    font-size: 0.8125rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-bg-opacity: 1;
    background-color:  #FFB6AC;
    border-radius: 0.375rem;
    align-items: center;
    display: flex;
}

.activity-categori-on {
    color: #171717;
}

#activity-list {
    gap: 1rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: block;
}

#interest-activity {
    display: none;
}

.like-none {
    display: none;
}

.like-modal-container {
    opacity: 1 !important;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
    inset: 0;
    position: fixed;
}

.unlike-modal-container {
    opacity: 1 !important;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
    inset: 0;
    position: fixed;
}

.like-modal-wrap {
    border: 1px solid rgb(196, 196, 196);
    padding: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    overflow-y: auto;
    max-width: 24rem;
    width: 100%;
    max-height: calc(100vh - 40px);
    margin-left: 1rem;
    margin-right: 1rem;
  }

.unlike-modal-wrap {
    border: 1px solid rgb(196, 196, 196);
    padding: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    overflow-y: auto;
    max-width: 24rem;
    width: 100%;
    max-height: calc(100vh - 40px);
    margin-left: 1rem;
    margin-right: 1rem;
}

.like-modal-tit-wrap {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
  }

.unlike-modal-tit-wrap {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.like-modal-tit {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
  }

.unlike-modal-tit {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.like-button-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: flex;
  }

.unlike-btn-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: flex;
}

.modal-like-button {
    --tw-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: 0.8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #E1E1E1;
    border-width: 1px;
    border-radius: 0.375rem;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    width: 100%;
    height: 2.5rem;
    display: flex;
    -webkit-appearance: button;
    appearance: button;
    background-image: none;
    color: #878D91;
  }

.unlike-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: 0.8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #E1E1E1;
    border-width: 1px;
    border-radius: 0.375rem;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    width: 100%;
    height: 2.5rem;
    display: flex;
    -webkit-appearance: button;
    appearance: button;
    background-image: none;
    color: #878D91;
}
