html {
    height: 100%;
    font-family: SUIT,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

body {
    position: relative;
    min-height: 100%;
    opacity: 1;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    font-size: .9375rem;
}

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    background-color: #fff;
    border-color: #878d91;
    border-width: 1px;
    border-radius: 0;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
    --tw-border-opacity: 1;
    border-color: rgb(92 63 191/var(--tw-border-opacity));
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(92 63 191/var(--tw-ring-opacity));
}

[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb;
}

[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

button {
    text-align: left;
}

[role=button], button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.hidden {
    display: none!important;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

* {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

/* 화면 부분 */
.screen-all-wrap {
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.screen-full-wrap {
    flex: 1 1 0%;
    width: 100%;
    display: flex;
}

.screen-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.app-screen-divison-wrap {
    max-width: 24rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* 타이틀 부분 */
.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.title-explain {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem*var(--tw-space-y-reverse));
}

/* 내용 부분 */
.content-all-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

/* 이메일 글씨 부분 */
.input-text-item {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

.input-text {
    display: block;
}

/* 이메일 입력 부분 */
.input {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-size: .9375rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    width: 100%;
    display: block;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    border-width: 1px;
}

.input:active {
    opacity: .8;
}

.input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #2563eb;
    --tw-ring-color: #2563eb;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.input:hover {
    background-color: #F2F4F5;
}

.input.color:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #CE201B;
    --tw-ring-color: #CE201B;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
} 

/* 이메일 미입력 에러 메세지 */
.input-error {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
    margin-top: 0.5rem!important;
}

/* 재설정 메일 받기 버튼 부분 */
.email-send {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.email-send:hover {
    background-color: #9F0D08;
}

.email-send.disabled {
    border-color: #F2F4F5;
    background-color: #F2F4F5;
}

.email-send.disabled:hover {
    border-color: #C2C2C2;
    background-color: #C2C2C2;
}

/* 하단 부분 */
.width-full {
    width: 100%;
}

/* 푸터 부분 */
.footer-wrap {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.fotter-divison-wrap {
    padding: 0.75rem;
    border-top-width: 1px;
    justify-content: center;
    display: flex;
}

/* 푸터 로고 부분 */
.footer-logo-item {
    justify-content: center;
    display: flex;
}

.footer-logo {
    margin-top: .3rem;
    height: 1.5rem;
    display: block;
    vertical-align: middle;
}

.footer-text {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: smaller;
}