{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{% static 'public/web/images/logo/logo1.png' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'public/web/css/company-web.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <title>주식회사 틴플</title>
    </head>
    <body>
        <div class="website-wrap">
            <div class="layout-wrap">
                <div class="layout-application-wrap">
                    <div class="application-wrap">
                        <div class="template-wrap">
                            <div class="header-wrap">
                                <div class="header-wrap-margin"></div>
                                <header class="header">
                                    <div class="header-container">
                                        <div class="h-left-box">
                                            <div class="logo-box" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
                                                <div class="logo">
                                                    <img class="logo-icon" src="{% static 'public/web/images/logo/logo2.png' %}" alt="company-logo" />
                                                </div>
                                                <div class="logo-name">주식회사 틴플</div>
                                            </div>
                                        </div>
                                        <div class="h-right-box">
                                            <div class="menu-button-open">
                                                <i class="bar-open"></i>
                                            </div>
                                            <div class="menu-box">
                                                <div class="main-box-inner">
                                                    <ul class="menu">
                                                        <li class="menu-item-history">
                                                            <div class="history-background"></div>
                                                            <div class="history-text">History</div>
                                                        </li>
                                                        <li class="menu-item-teams">
                                                            <div class="teams-background"></div>
                                                            <div class="teams-text">Team</div>
                                                        </li>
                                                        <li class="menu-item-news">
                                                            <div class="news-background"></div>
                                                            <div class="news-text">Notices</div>
                                                        </li>
                                                        <li class="menu-item-contact-us">
                                                            <div class="contact-us-background"></div>
                                                            <div class="contact-us-text">Contact Us</div>
                                                        </li>
                                                    </ul>
                                                    <div class="menu-button-close"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <div class="description-wrap">
                                <div class="description-background"></div>
                                <div class="description-color"></div>
                                <div class="description-cover"></div>
                                <div class="description-container">
                                    <pre class="description-text">
틴플레이는 기업 및 기관에서 주최하는 비즈니스 이벤트(MICE)에서 발생하는 과도한 비용, 비효율성, 불명확한 데이터 3가지의 문제를 디지털 전환(Platform, SaaS 도입)을 통해 해결하는 모임/활동 테크 스타트업입니다.

활동을 개설하여 참가자를 모집하고 활동을 홍보할 수 있는 No.1 Activity Platform과 활동 운영 과정에서의 업무들을 자동화하고 데이터를 축적할 수 있는 No.1 Activity SaaS(소프트웨어)를 국내에서 유일하게 All-in-one으로 제공하고 있습니다.

틴플레이는 온라인ㆍ오프라인ㆍ하이브리드 모든 형식의 활동에서 사용할 수 있습니다. IBM, Wework, 삼성SDS, 야놀자, 경기도, 한국관광공사, KAIST, 동아일보, 농협은행, 신한카드, 삼성병원, 화우, 코엑스 등 14,000명의 고객을 보유하고 있습니다.
                                </pre
                                    >
                                </div>
                            </div>
                            <section class="section">
                                <div class="section-history">
                                    <div class="history-container">
                                        <div class="history-name-box">
                                            <div class="history-name"># History Timeline</div>
                                        </div>
                                        <div class="history-content-box">
                                            <div class="histroy-crop-line"></div>
                                            <div class="history-vertical-line"></div>
                                            <div class="history-content-group">
                                                <div class="year-base-history-group-one">
                                                    <div class="year-base-history-group-year">
                                                        <span class="year-line"></span>
                                                        <span class="year-pointer"></span>
                                                        <span class="year-year">2022</span>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">11</div>
                                                        <div class="history-item-content">제20회 대한민국 MICE대상, 디지털 MICE 부문 수상</div>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">05</div>
                                                        <div class="history-item-content">한국MICE협회, “MICE 공로상” 수상</div>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">03</div>
                                                        <div class="history-item-content">중소벤처기업부, 비대면 바우처 서비스 공급 기업 선정</div>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">01</div>
                                                        <div class="history-item-content">“대한민국 퍼스트 브랜드 대상 : 웨비나 부문” 수상</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-two">
                                                    <div class="year-base-history-group-year-two">
                                                        <span class="year-line-two"></span>
                                                        <span class="year-pointer-two"></span>
                                                        <span class="year-year-two">2020</span>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">12</div>
                                                        <div class="history-item-two-content">네이버 클라우드 SaaS 육성 기업으로 선정</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">05</div>
                                                        <div class="history-item-two-content">Microsoft for Startups 프로그램, 한국 50개 기업에 선정</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">03</div>
                                                        <div class="history-item-two-content">온라인으로 활동 진행이 가능한 "틴플레이 웨비나" 신규 런칭</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">03</div>
                                                        <div class="history-item-two-content">서울 마이스 얼라이언스(SMA) 회원사 선정</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">03</div>
                                                        <div class="history-item-two-content">한국 MICE 협회 회원사 등록</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-three">
                                                    <div class="year-base-history-group-year-three">
                                                        <span class="year-line-three"></span>
                                                        <span class="year-pointer-three"></span>
                                                        <span class="year-year-three">2019</span>
                                                    </div>
                                                    <div class="history-item-three">
                                                        <div class="history-item-three-year">07</div>
                                                        <div class="history-item-three-content">서울시, 서울창업허브 보육기업 선정</div>
                                                    </div>
                                                    <div class="history-item-three">
                                                        <div class="history-item-three-year">07</div>
                                                        <div class="history-item-three-content">Global VC "스트롱벤처스"로부터 Pre-Series A 투자유치</div>
                                                    </div>
                                                    <div class="history-item-three">
                                                        <div class="history-item-three-year">04</div>
                                                        <div class="history-item-three-content">서울시, 관광스타트업 보육기업 선정 및 경연대회 '최우수상' 수상</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-four">
                                                    <div class="year-base-history-group-year-four">
                                                        <span class="year-line-four"></span>
                                                        <span class="year-pointer-four"></span>
                                                        <span class="year-year-four">2018</span>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">10</div>
                                                        <div class="history-item-four-content">과학기술정보통신부, "대한민국 모바일 어워드" 우수 모바일 수상</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">07</div>
                                                        <div class="history-item-four-content">서울창조경제혁신센터, 우수기업 데모데이 최우수상 수상</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">07</div>
                                                        <div class="history-item-four-content">중소벤처기업부, "창업도약 패키지" 지원사업 선정</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">05</div>
                                                        <div class="history-item-four-content">틴플레이(구 틴플)로 상호 변경</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">04</div>
                                                        <div class="history-item-four-content">Global VC "스트롱벤처스"로부터 엔젤 투자유치</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">04</div>
                                                        <div class="history-item-four-content">롯데그룹의 투자법인 "롯데벤처스"로부터 엔젤 투자유치</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">03</div>
                                                        <div class="history-item-four-content">서울산업진흥원(SBA) 액셀러레이팅 기업 선정</div>
                                                    </div>
                                                    <div class="history-item-four">
                                                        <div class="history-item-four-year">01</div>
                                                        <div class="history-item-four-content">틴플레이, 행사 홍보 및 참가자 모집 플랫폼 무료로 변경</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-five">
                                                    <div class="year-base-history-group-year-five">
                                                        <span class="year-line-five"></span>
                                                        <span class="year-pointer-five"></span>
                                                        <span class="year-year-five">2017</span>
                                                    </div>
                                                    <div class="history-item-five">
                                                        <div class="history-item-five-year">11</div>
                                                        <div class="history-item-five-content">한국청년기업가정신재단, "청년기업인상" 수상</div>
                                                    </div>
                                                    <div class="history-item-five">
                                                        <div class="history-item-five-year">11</div>
                                                        <div class="history-item-five-content">국내 대표 액셀러레이터 "프라이머"로부터 시드 투자유치</div>
                                                    </div>
                                                    <div class="history-item-five">
                                                        <div class="history-item-five-year">07</div>
                                                        <div class="history-item-five-content">TpSquare, 맞춤형 행사지원 플랫폼 "틴플레이"로 브랜드 리뉴얼 및 서비스 확장</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-six">
                                                    <div class="year-base-history-group-year-six">
                                                        <span class="year-line-six"></span>
                                                        <span class="year-pointer-six"></span>
                                                        <span class="year-year-six">2016</span>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">11</div>
                                                        <div class="history-item-six-content">중소벤처기업부, "창업맞춤형사업화" 창업 지원사업 선정</div>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">09</div>
                                                        <div class="history-item-six-content">SK, "청년비상" 창업 지원사업 선정</div>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">07</div>
                                                        <div class="history-item-six-content">한국청년기업가정신재단, "K-Global 창업 멘토링" 기업 선정</div>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">05</div>
                                                        <div class="history-item-six-content">교육부, K-스타트업 "전국 창업유망 300팀" 선정</div>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">04</div>
                                                        <div class="history-item-six-content">활동전용 클라우드 서비스 "TpSquare" 서비스 시작</div>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">04</div>
                                                        <div class="history-item-six-content">한국연구재단, 쌍방향 소통 교육환경 조성을 위한 국책연구과제 선정</div>
                                                    </div>
                                                    <div class="history-item-six">
                                                        <div class="history-item-six-year">01</div>
                                                        <div class="history-item-six-content">서울창조경제혁신센터 인큐베이팅센터, 독립공간 보육기업 선정</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-seven">
                                                    <div class="year-base-history-group-year-seven">
                                                        <span class="year-line-seven"></span>
                                                        <span class="year-pointer-seven"></span>
                                                        <span class="year-year-seven">2015</span>
                                                    </div>
                                                    <div class="history-item-seven">
                                                        <div class="history-item-seven-year">06</div>
                                                        <div class="history-item-seven-content">서울시, "서울 앱 창업센터" 보육기업 선정</div>
                                                    </div>
                                                    <div class="history-item-seven">
                                                        <div class="history-item-seven-year">04</div>
                                                        <div class="history-item-seven-content">실시간 질의응답 시스템 "큐에이(QA)" 서비스 시작</div>
                                                    </div>
                                                    <div class="history-item-seven">
                                                        <div class="history-item-seven-year">01</div>
                                                        <div class="history-item-seven-content">SK텔레콤, "T-Open-Lab" 보육기업 선정</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-eight">
                                                    <div class="year-base-history-group-year-eight">
                                                        <span class="year-line-eight"></span>
                                                        <span class="year-pointer-eight"></span>
                                                        <span class="year-year-eight">2014</span>
                                                    </div>
                                                    <div class="history-item-eight">
                                                        <div class="history-item-eight-year">12</div>
                                                        <div class="history-item-eight-content">SK텔레콤, 스마트 서비스 개발 공모전 장려상 수상</div>
                                                    </div>
                                                    <div class="history-item-eight">
                                                        <div class="history-item-eight-year">10</div>
                                                        <div class="history-item-eight-content">Microsoft, "BizSpark" 회원사 선정</div>
                                                    </div>
                                                    <div class="history-item-eight">
                                                        <div class="history-item-eight-year">09</div>
                                                        <div class="history-item-eight-content">틴플(현 틴플레이) 법인 설립</div>
                                                    </div>
                                                    <div class="history-item-eight">
                                                        <div class="history-item-eight-year">07</div>
                                                        <div class="history-item-eight-content">중소벤처기업부, "스마트창작터" 창업 지원사업 선정</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="history-content-more-btn">
                                            <div class="more-btn">More Histories..</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-teams">
                                    <div class="teams-container">
                                        <div class="teams-container-inner">
                                            <div class="teams-inner-top">
                                                <div class="teams-top-box"># The Team</div>
                                            </div>
                                            <div class="teams-all-member-box">
                                                <div class="member">
                                                    <div class="member-profile-image-box">
                                                        <div class="member-image-background">
                                                            <img class="image-background-logo" src="{% static 'public/web/images/company_info/seogyeong_song.png' %}" alt="주식회사 틴플" />
                                                        </div>
                                                        <div class="member-image-picture" style="background-image: url({% static 'public/web/images/company_info/seogyeong_song.png' %})"></div>
                                                    </div>
                                                    <div class="member-name">Seogyeong Song</div>
                                                    <div class="member-position">AI 국비 1팀</div>
                                                    <div class="member-appointment">팀장</div>
                                                </div>
                                                <div class="member">
                                                    <div class="member-profile-image-box">
                                                        <div class="member-image-background">
                                                            <img class="image-background-logo" src="{% static 'public/web/images/company_info/hyun_yang.png' %}" alt="주식회사 틴플" />
                                                        </div>
                                                        <div class="member-image-picture" style="background-image: url({% static 'public/web/images/company_info/hyun_yang.png' %})"></div>
                                                    </div>
                                                    <div class="member-name">Hyun Yang</div>
                                                    <div class="member-position">AI 국비 1팀</div>
                                                    <div class="member-appointment">부팀장</div>
                                                </div>
                                                <div class="member">
                                                    <div class="member-profile-image-box">
                                                        <div class="member-image-background">
                                                            <img class="image-background-logo" src="{% static 'public/web/images/company_info/gyeongdeok_seo.png' %}" alt="주식회사 틴플" />
                                                        </div>
                                                        <div class="member-image-picture" style="background-image: url({% static 'public/web/images/company_info/gyeongdeok_seo.png' %})"></div>
                                                    </div>
                                                    <div class="member-name">Gyeongdeok Seo</div>
                                                    <div class="member-position">AI 국비 1팀</div>
                                                    <div class="member-appointment">팀원</div>
                                                </div>
                                                <div class="member">
                                                    <div class="member-profile-image-box">
                                                        <div class="member-image-background">
                                                            <img class="image-background-logo" src="{% static 'public/web/images/company_info/gwanik_cho.png' %}" alt="주식회사 틴플" />
                                                        </div>
                                                        <div class="member-image-picture" style="background-image: url({% static 'public/web/images/company_info/gwanik_cho.png' %})"></div>
                                                    </div>
                                                    <div class="member-name">Gwanik Cho</div>
                                                    <div class="member-position">AI 국비 1팀</div>
                                                    <div class="member-appointment">팀원</div>
                                                </div>
                                                <div class="member member-display hidden">
                                                    <div class="member-profile-image-box">
                                                        <div class="member-image-background">
                                                            <img class="image-background-logo" src="{% static 'public/web/images/company_info/gyusan_kim.png' %}" alt="주식회사 틴플" />
                                                        </div>
                                                        <div class="member-image-picture" style="background-image: url({% static 'public/web/images/company_info/gyusan_kim.png' %})"></div>
                                                    </div>
                                                    <div class="member-name">Gyusan Kim</div>
                                                    <div class="member-position">AI 국비 1팀</div>
                                                    <div class="member-appointment">팀원</div>
                                                </div>
                                                <div class="member member-display hidden">
                                                    <div class="member-profile-image-box">
                                                        <div class="member-image-background">
                                                            <img class="image-background-logo" src="{% static 'public/web/images/company_info/jiwon_park.png' %}" alt="주식회사 틴플" />
                                                        </div>
                                                        <div class="member-image-picture" style="background-image: url({% static 'public/web/images/company_info/jiwon_park.png' %})"></div>
                                                    </div>
                                                    <div class="member-name">Jiwon Park</div>
                                                    <div class="member-position">AI 국비 1팀</div>
                                                    <div class="member-appointment">팀원</div>
                                                </div>
                                            </div>
                                            <div class="member-more-btn-box">
                                                <div class="more-btn">More Team.. (4/6)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teams-member-pop">
                                        <div class="member-pop-background"></div>
                                        <div class="member-pop-inner">
                                            <div class="pop-member-profile-image">
                                                <div class="pop-member-profile-image-bg">
                                                    <img class="image-background-logo" src="{% static 'public/web/images/logo/logo1.png' %}" alt="주식회사 틴플" />
                                                </div>
                                                <div class="pop-member-image-picture" style="background-image: url('')"></div>
                                            </div>
                                            <div class="pop-member-name"></div>
                                            <div class="pop-member-position">AI 국비 1팀</div>
                                            <div class="pop-member-appointment"></div>
                                            <div class="pop-member-detail-content">
                                                <pre class="detail-content-list"></pre>
                                            </div>
                                            <div class="pop-member-btn-close"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-news">
                                    <div class="news-container">
                                        <div class="news-title-box">
                                            <div class="news-title"># Notices</div>
                                        </div>
                                        <div class="news-box">
{#                                            <a class="news-list" href="http://www.edaily.co.kr/news/newspath.asp?newsid=01292326638757064" target="_blank">#}
{#                                                <div class="news-head">#}
{#                                                    <div class="news-press">이데일리</div>#}
{#                                                    <div class="news-date">2024-01-12</div>#}
{#                                                </div>#}
{#                                                <div class="news-body">#}
{#                                                    <div class="news-subject">"'마이스 테크' 스타트업 첫 해외 진출 목표…타깃은 싱가포르" [MICE]</div>#}
{#                                                    <div class="news-description">#}
{#                                                        안영학 이벤터스 대표 (사진=이선우 기자) “병이 나으려면 반드시 복용해야 하는 아스피린(진통제)처럼 행사에 꼭 필요한 온라인 솔루션 제공이 목표입니다.” 마이스 테크 스타트업 이벤터스 안영학(사진) 대표는 “2024년 청룡의 해를 ‘해외 진출의 원년’으로#}
{#                                                        삼겠다”며 ...#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </a>#}
                                        </div>
                                        <div class="news-more-btn-box">
                                            <div class="news-more-btn"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-contact-us">
                                    <div class="contact-us-container">
                                        <!-- 지도 -->
                                        <div class="map" id="map"></div>
                                        <div class="contact-us-address">서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층</div>
                                        <div class="contact-us-email">teenplay.help@gmail.com</div>
                                    </div>
                                </div>
                            </section>
                            <footer class="footer">
                                <div class="footer-container">
                                    <div class="footer-box-left">
                                        <div class="copyright">
                                            <a class="advertise" href="https://app.zillinks.com/" target="_blank"> @TeenPlay </a>
                                            @CorporateTeenplayWeb
                                        </div>
                                    </div>
                                    <div id="footer-box-right">
                                        <div class="company-name">주식회사 틴플</div>
                                        <div class="footer-action-box">
                                            <a class="footer-btn" href="{% url 'club:intro' %}" target="_blank">
                                                모임 서비스 소개
                                                <i class="fa-arrow-circle-down"></i>
                                            </a>
                                            <a class="footer-company-detail-btn" href="/" target="_blank">
                                                메인 페이지
                                                <i class="fa-link-company-detail"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                            <div class="scroll-to-top" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
                                <i class="fa-arrow-up"></i>
                            </div>
                        </div>
                        <div class="z-alert">
                            <ul class="z-alert-ul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'public/web/js/company-web.js' %}"></script>
    <!-- 카카오 지도 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=45b14d1f35867ccb8958b2d44d2b6a26"></script>
    <script>
        var mapContainer = document.getElementById("map"), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.4994367, 127.0358496), // 지도의 중심좌표
                level: 3, // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다
        var markerPosition = new kakao.maps.LatLng(37.4994367, 127.0358496);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition,
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    </script>
</html>
