<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link rel="stylesheet" href="/staticfiles/css/notice/app/notice-app.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <title>틴플 :: 공지사항</title>
    </head>
    <body>
        <header></header>
        <main>
            <div class="main-notice-all">
                <div class="main-notice-choice">
                    <button class="main-notice-choice-pick">공지사항</button>
                    <button class="main-notice-choice-nonpick">자주묻는 질문</button>
                </div>
                <!-- 그냥 여기에 각각의 공지사항 넣습니당  -->
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-content-warp">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">[공지] [긴급] 일부 계정 이메일 수신 불가 안내 - 개선 완료</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">이메일 발송실패 문제를 개선 완료했습니다. 이메일 주소에 관계 없이 모든 이메일 정상 수신 가능합니다.</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">--------------------------------------------------------------------------------------------------------------------------</p>
                                <p class="main-notice-text">(이전 공지사항)</p>
                                <p class="main-notice-text">이벤트 테크 플랫폼, 이벤터스를 이용해 주셔서 감사합니다.</p>
                                <p class="main-notice-text">이메일 발신 서버와 수신 측 보안 정책 변경 등에 의해 이벤터스에서 보내는 이메일이 발송에 일부분 실패하고 있습니다.</p>
                                <p class="main-notice-text">수신자의 주소가 -@gmail.com인 경우 이벤터스에서 발송하는 이메일 수신이 불가할 수 있습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">그 외 다른 도메인을 사용하는 구글 계정과 구글 외 계정으로는 이메일 정상 수신 가능하니 착오 없으시길 바랍니다.</p>
                                <p class="main-notice-text">@gmail.com 주소로 회원가입 후 이메일 인증이 필요한 경우,채팅상담으로 개별 문의해 주시면 별도 처리 도와드리겠습니다.</p>
                                <p class="main-notice-text">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                                <p class="main-notice-text">빠르게 문제를 해결한 후 다시 공지 드릴 수 있도록 하겠습니다.</p>
                                <p class="main-notice-text">&nbsp;</p>
                                <p class="main-notice-text">감사합니다.</p>
                                <p class="main-notice-text">틴플 드림</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="main-notice-button" type="button">더보기</button>
                <!-- 자주묻는 질문 -->
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">참가인원 설정 방법이 궁금해요.</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">행사개설 혹은 내 채널>채널 바로가기>행사 수정의 그룹 항목에서 수량을 조절해주세요.</p>
                                <p class="main-notice-text">그룹별 수량만큼 참가자를 모집할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">문자 발송이 안돼요</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">발신 번호로 등록된 번호가 '번호도용문자 차단서비스 가입'되어 있을 수 있습니다.</p>
                                <p class="main-notice-text">서비스 가입 여부는 회선신청 시 자동으로 등록되는 경우가 있기에 가입 여부 등은 통신사에 직접 문의하여</p>
                                <p class="main-notice-text">해지해 주셔야 합니다.</p>
                                <p class="main-notice-text">상황에 따라 다른 발신번호를 이용하시거나, 통신사에 문의하여 서비스 해지 후 이용해 주셔야 합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">참가인원 설정 방법이 궁금해요.</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">행사개설 혹은 내 채널>채널 바로가기>행사 수정의 그룹 항목에서 수량을 조절해주세요</p>
                                <p class="main-notice-text">그룹별 수량만큼 참가자를 모집할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">문자 발송이 안돼요</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">발신 번호로 등록된 번호가 '번호도용문자 차단서비스 가입'되어 있을 수 있습니다.</p>
                                <p class="main-notice-text">서비스 가입 여부는 회선신청 시 자동으로 등록되는 경우가 있기에 가입 여부 등은 통신사에 직접 문의하여</p>
                                <p class="main-notice-text">해지해 주셔야 합니다.</p>
                                <p class="main-notice-text">상황에 따라 다른 발신번호를 이용하시거나, 통신사에 문의하여 서비스 해지 후 이용해 주셔야 합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">참가인원 설정 방법이 궁금해요.</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">행사개설 혹은 내 채널>채널 바로가기>행사 수정의 그룹 항목에서 수량을 조절해주세요</p>
                                <p class="main-notice-text">그룹별 수량만큼 참가자를 모집할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">문자 발송이 안돼요</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">발신 번호로 등록된 번호가 '번호도용문자 차단서비스 가입'되어 있을 수 있습니다.</p>
                                <p class="main-notice-text">서비스 가입 여부는 회선신청 시 자동으로 등록되는 경우가 있기에 가입 여부 등은 통신사에 직접 문의하여</p>
                                <p class="main-notice-text">해지해 주셔야 합니다.</p>
                                <p class="main-notice-text">상황에 따라 다른 발신번호를 이용하시거나, 통신사에 문의하여 서비스 해지 후 이용해 주셔야 합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">참가인원 설정 방법이 궁금해요.</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">행사개설 혹은 내 채널>채널 바로가기>행사 수정의 그룹 항목에서 수량을 조절해주세요</p>
                                <p class="main-notice-text">그룹별 수량만큼 참가자를 모집할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">문자 발송이 안돼요</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">발신 번호로 등록된 번호가 '번호도용문자 차단서비스 가입'되어 있을 수 있습니다.</p>
                                <p class="main-notice-text">서비스 가입 여부는 회선신청 시 자동으로 등록되는 경우가 있기에 가입 여부 등은 통신사에 직접 문의하여</p>
                                <p class="main-notice-text">해지해 주셔야 합니다.</p>
                                <p class="main-notice-text">상황에 따라 다른 발신번호를 이용하시거나, 통신사에 문의하여 서비스 해지 후 이용해 주셔야 합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">참가인원 설정 방법이 궁금해요.</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">업데이트: 2024년 2월 1일 15시 45분</p>
                                <p class="main-notice-text">행사개설 혹은 내 채널>채널 바로가기>행사 수정의 그룹 항목에서 수량을 조절해주세요</p>
                                <p class="main-notice-text">그룹별 수량만큼 참가자를 모집할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-notice-qu-warp hidden">
                        <div class="main-notice-content-container">
                            <div>
                                <div class="main-notice-content-container-title">
                                    <div class="main-notice-content-container-title-in">
                                        <div class="main-notice-content-container-title-text">문자 발송이 안돼요</div>
                                    </div>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="main-notice-content-container-title-svg">
                                        <path class="arrow" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <div class="main-notice-content-container-date">2024.02.06</div>
                            </div>
                        </div>
                        <div class="main-notice-content-container-content">
                            <div>
                                <p class="main-notice-text">발신 번호로 등록된 번호가 '번호도용문자 차단서비스 가입'되어 있을 수 있습니다.</p>
                                <p class="main-notice-text">서비스 가입 여부는 회선신청 시 자동으로 등록되는 경우가 있기에 가입 여부 등은 통신사에 직접 문의하여</p>
                                <p class="main-notice-text">해지해 주셔야 합니다.</p>
                                <p class="main-notice-text">상황에 따라 다른 발신번호를 이용하시거나, 통신사에 문의하여 서비스 해지 후 이용해 주셔야 합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="main-qu-button hidden" type="button">더보기</button>
            </div>
        </main>
        <footer></footer>
    </body>
    <script src="/staticfiles/js/notice/app/notice-add-app.js"></script>
    <script src="/staticfiles/js/notice/app/notice-change-app.js"></script>
    <script src="/staticfiles/js/notice/app/notice-question-add-app.js"></script>
    <script></script>
</html>
