<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png">
        <link rel="stylesheet" href="/staticfiles/css/login/app/password/password-app.css">
        <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
        <title>틴플 :: 비밀번호 찾기</title>
    </head>
    <body>
        <!-- 화면 부분 -->
        <div class="screen-all-wrap">
            <div class="screen-full-wrap">
                <div class="screen-wrap">
                    <div class="app-screen-wrap">
                        <div class="app-screen-divison-wrap">
                            <!-- 타이틀 부분 -->
                            <div class="title-wrap">
                                <h1 class="title">
                                    <span>비밀번호 찾기</span>
                                </h1>
                                <h2 class="title-explain">
                                    <span>가입하신 이메일로 비밀번호 재설정 URL을 전송해드립니다</span>
                                </h2>
                            </div>
                            <!-- 내용 부분 -->
                            <form class="content-all-wrap" novalidate>
                                <div class="content-wrap">
                                    <!-- 이메일 부분 -->
                                    <div class="email-input-wrap">
                                        <div class="input-container">
                                            <!-- 이메일 글씨 부분 -->
                                            <div class="input-text-item">
                                                <label class="input-text" for="input">
                                                    <span>이메일</span>
                                                </label>
                                            </div>
                                            <!-- 이메일 입력 부분 -->
                                            <input class="input-item input" id="input" autocomplete="off" type="email">
                                            <!-- 이메일 미입력 에러 메세지 -->
                                            <div class="input-error hidden">
                                                <div>항목을 입력하세요</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 재설정 메일 받기 버튼 부분 -->
                                    <button class="email-send disabled" type="button">
                                        <span>재설정 메일 받기</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="width-full">
                <!-- 푸터 부분 -->
                <footer>
                    <div class="footer-wrap">
                        <div class="fotter-divison-wrap">
                            <div class="footer-container">
                                <!-- 푸터 로고 부분 -->
                                <div class="footer-logo-item">
                                    <a href="https://event-us.kr/">
                                        <img class="footer-logo" src="/staticfiles/images/teenplay_logo/logo2.png" viewBox="0 0 56.965 25.467">
                                    </a>
                                </div>
                                <div class="footer-text">Every heartbeat at the Event, powered by TEENPLAY!</div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/staticfiles/js/login/app/password/password-app.js"></script>
</html>