@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

body {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
    opacity: 1;
}

html > body {
    top: 0 !important;
}

* {
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button, select {
    text-transform: none;
}

[role=button], button {
    cursor: pointer;
}

button {
    text-align: left;
}

[type=button], [type=reset], [type=submit], button {
    background-color: transparent;
    background-image: none;
}

[class*="hover\:"], a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

[class*="hover\:"]:focus, a:focus, button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

img, video {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.mypage-main {
    min-height: 100vh;
}

.mypage-wrap {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 1px;
}

.mypage-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 2rem;
}

.mypage-box {
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;
}

.service-title-box {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.service-title {
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.tab-list-box {
    justify-content: flex-end;
    display: flex;
}

.tab-list-contents {
    width: 8rem;
    text-align: left;
    display: inline-block;
    position: relative;
}

.tab-list-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.3rem;
    display: flex;
}

.tab-list-btn:hover, .tab-list-btn:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.tab-list {
    display: none;
    --tw-ring-color: rgba(0,0,0,.05);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    overflow: hidden;
    transform-origin: top right;
    min-width: 156px;
    margin-top: 0.5rem;
    z-index: 200;
    left: 0;
    position: absolute;
}

.tab {
    padding-left: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.tab:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.block {
    display: block;
}

.club-list {
    padding-top: 0.5rem;
    gap: 1rem;
    display: grid;
    margin-bottom: 2.5rem;
}

.club-box {
    padding: 0.125rem;
}

.club-items {
    padding: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: -1px;
}

.club-profile-img-contents {
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.club-profile-img-box {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h)/var(--tw-aspect-w)*100%);
    --tw-aspect-w: 1;
    --tw-aspect-h: 1;
}

.club-profile-img {
    object-fit: cover;
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.club-profile-img-gap {
    height: 1.5rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    --tw-translate-y: -1.25rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    display: flex;
}

.club-info-contents {
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 0.25rem;
}

.club-name {
    font-size: 1rem;
    line-height: 1.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.club-info-item {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    font-size: .9375rem;
    margin-bottom: 1rem;
}

.club-btn-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.club-btn-box {
    flex-direction: column;
    font-size: .9375rem;
    width: 100%;
    display: flex;
}

.club-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    border-color: #E1E1E1;
    border-width: 1px;
    color: #878D91;
    --tw-bg-opacity: 1;
    background-color: #ffffff;
    border-radius: 0.375rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
    cursor: default;
}

.management-btn {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-border-opacity: 1;
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    width: 50%;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    border-radius: 0.375rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    display: flex;
}

.management-btn:hover {
    background-color: #9F0D08;
}

.signal-on:hover, .signal-off:hover {
    --tw-bg-opacity: 1;
    background-color: #CDE3FC;
}

.check-svg, .signal-on-svg, .signal-off-svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.management-svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.25rem;
    --tw-text-opacity: 1;
    fill: rgb(255 255 255/var(--tw-text-opacity));
}

.signal-on, .signal-off {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(36 93 203/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.signal-off-svg{
    --tw-text-opacity: 1;
    color: rgb(206 211 214/var(--tw-text-opacity));
}

.management-btn {
    width: 100%;
}

.club-none-box {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 5rem;
    display: flex;
}

.club-none-ment {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    margin-bottom: 1rem;
}

.club-pr-link {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 3rem;
    display: flex;
}

.teenchin-more-btn {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.teenchin-more-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.more-text-box {
    align-items: center;
    display: flex;
}

.down-arrow-svg {
    width: 1rem;
    height: 1rem;
}

.message-maodal-container {
    z-index: 300;
    position: relative;
    display: none;
}

 .message-modal-shadow {
    background-color: rgba(0,0,0,.5);
    inset: 0;
    position: fixed;
}

.message-modal-box {
    justify-content: center;
    align-items: center;
    display: flex;
    inset: 0;
    position: fixed;
}

.message-modal-items {
    padding: 1.5rem;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.5rem;
    overflow-y: auto;
    max-width: 24rem;
    width: 100%;
    max-height: calc(100vh - 40px);
    margin-left: 1rem;
    margin-right: 1rem;
}

.modal-header-box{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.message-check-box {
    --tw-bg-opacity: 1;
    background-color: rgb(237 255 248/var(--tw-bg-opacity));
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.message-svg {
    --tw-text-opacity: 1;
    color: rgb(23 130 99/var(--tw-text-opacity));
    width: 1.5rem;
    height: 1.5rem;
}

.modal-header-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.message-guide-box {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    margin-top: 0.5rem;
}

.message-guide-ment {
    white-space: pre-line;
    margin-top: 0.5rem;
}

.modal-btn-box, .check-modal-btn-box, .move-btn-box {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    display: flex;
}

.close-btn, .send-close-btn, .back-btn, .continuously-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.close-btn:hover, .send-close-btn:hover, .back-btn:hover, .continuously-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.check-btn, .send-check-btn, .club-page-btn {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
    --tw-border-opacity: 1;
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.check-btn:hover, .send-check-btn:hover, .club-page-btn:hover {
    --tw-bg-opacity: 1;
    background-color: #9F0D08;
}

.club-wait-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    border-color: #FFF0EE;
    border-width: 1px;
    color: #CE201B;
    background-color: #FFF0EE;
    border-radius: 0.375rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
    cursor: default;
}