{% extends 'mypage/web/base.html' %}
{% load static %}
{% block static %}
        <link rel="stylesheet" href="{% static 'member/web/css/my-payment-web.css' %}">
{% endblock %}

{% block title %}틴플:: 결제 내역{% endblock %}
{% block content %}

        <!-- 메인 부분 -->
        <main class="mypage-main">
            <div class="mypage-wrap">
                <div class="mypage-container">
                    <div class="mypage-box">
                        <div class="side-bar">
                            <div class="side-bar-title">마이페이지</div>
                            <div class="side-bar-items">
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-wishlist/">나의 위시리스트</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-my-club/">나의 모임</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-reply/">나의 댓글</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-activity/">나의 활동</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-teenchin/">틴친 목록</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a class="target-color" href="/member/mypage-payment/">결제 내역</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-letter/">쪽지 목록</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-alram/">알림 목록</a>
                                </div>
                                <div>
                                    <!-- 주소 필요 -->
                                    <a href="/member/mypage-info/">내 정보 수정</a>
                                </div>
                            </div>
                        </div>
                        <div class="contents">
                            <div class="payment-title-box">
                                <div class="payment-title">결제 내역</div>
                            </div>
                            <div class="payment-activity-list" id="payment-activity-list"></div>
                            <button class="teenchin-more-btn" type="button">
                                <div class="more-text-box">
                                    <div style="margin-right: 0.5rem">더보기</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="down-arrow-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 푸터 부분 -->
        <footer></footer>
        <!-- 모달 부분 -->
        <div>
            <!-- 결제 취소 클릭 시 나타나는 모달 -->
            <div class="cancle-modal-wrap">
                <div class="cancle-modal-shadow"></div>
                <div class="cancle-modal-container">
                    <div class="cancle-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="cancle-modal-title">취소 사유<span class="red">*</span></div>
                            </h2>
                        </div>
                        <div class="cancle-content-area">
                            <textarea name="cancle-content" rows="10" placeholder="취소 사유를 작성해 주세요." id="pay-reason"></textarea>
                        </div>
                        <div class="modal-btn-box">
                            <button class="cancle-close-btn" type="button">닫기</button>
                            <button class="cancle-check-btn" type="button" disabled>결제 취소</button>
                        </div>
                    </div>
                </div>
                <div class="check-modal-container" style="display: none">
                    <div class="check-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="cancle-check-svg-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="cancle-check-svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="modal-header-title">결제 취소가 요청 되었습니다.</div>
                            </h2>
                        </div>
                        <div class="check-modal-btn-box">
                            <button class="check-btn" type="button">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block js %}
        <script>
    const csrf_Token = '{{ csrf_token }}';
    const member_id = '{{ request.session.member.id }}'
    </script>
    <script src="{% static 'member/web/js/my-payment-module-web.js' %}"></script>
    <script src="{% static 'member/web/js/my-payment-web.js' %}"></script>
{% endblock %}