html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body {
    position: relative;
    min-height: 100%;
    opacity: 1;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

html > body {
    top: 0 !important;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none!important;
}

input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(92 63 191/var(--tw-text-opacity));
}

[type=checkbox], [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563EB;
    background-color: #fff;
    border-color: #878d91;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button {
    text-align: left;
}

[role=button], button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

* {
    scrollbar-color: auto;
    scrollbar-width: auto;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
}

/* 화면 부분 */
.screen-all-wrap {
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.screen-full-wrap {
    align-items: center;
    flex: 1 1 0%;
    width: 100%;
    display: flex;
}

.screen-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.app-screen-wrap {
    display: flex;
}

.screen-divison-wrap {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 24rem;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* 로고 부분 */
.title-logo-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-logo {
    width: auto;
    height: 2.5rem;
    display: block;
    vertical-align: middle;
}

/* 타이틀 부분 */
.title-text {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

/* 로그인 정보 부분 */
.login-all-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
}

.login-wrap {
    text-align: left;
}

/* 아이디 입력 부분 */
.id-text-container {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

.id-text {
    display: block;
}

/* 비밀번호 입력 부분 */
.password-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

.password-text-container {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

.password-text {
    display: block;
}

/* 아이디 비밀번호 공통 적용 부분 */
.input {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-size: .9375rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    width: 100%;
    display: block;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    border-width: 1px;
}

.input:active {
    opacity: .8;
}

.input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #2563eb;
    --tw-ring-color: #2563eb;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.input:hover {
    background-color: #F2F4F5;
}

.input.color:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #CE201B;
    --tw-ring-color: #CE201B;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
} 

/* 로그인 실패 시 문구 출력 부분 */
.login-check {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
}

/* 로그인 부가 기능 부분 */
.login-items-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
}

.login-items-divison {
    justify-content: space-between;
    display: flex;
}

/* 로그인 유지 버튼 부분 */
.keep-wrap {
    justify-content: space-between;
    display: flex;
}

.keep-container {
    align-items: center;
    display: flex;
}

.keep-checkbox:checked:hover {
    border-color: transparent;
    background-color: #CE201B;
}

.keep-checkbox:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: #CE201B;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
}

.keep-checkbox:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
    border-color: #CE201B;
    background-color: #CE201B;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    
}

.keep-text {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    font-size: .9375rem;
    cursor: pointer;
    display: block;
}

.keep-error {
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
    font-size: .8125rem;
    margin-top: 0.25rem;
}

/* 비밀번호 찾기 버튼 부분 */
.password-find {
    text-decoration-line: underline;
    color: #CE201B;
}

.password-find:hover {
    color: #9F0D08;
}

/* 개인정보 관련 경고 메세지 */
.warning-message {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    margin-top: 0.25rem;
}

/* 로그인 버튼 부분 */
.login-button {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.login-button:hover {
    background-color: #9F0D08;
}

.login-button.disabled {
    border-color: #F2F4F5;
    background-color: #F2F4F5;
    cursor: not-allowed;
}

/*.login-button.disabled:hover {*/
/*    border-color: #C2C2C2;*/
/*    background-color: #C2C2C2;*/
/*}*/

/* SNS 로그인 부분 */
.sns-login-all-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
}

/* SNS 로그인 글씨 부분 */
.sns-text-container {
    font-size: .9375rem;
}

/* SNS 로그인 아이콘 부분 */
.sns-icon-container {
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin-top: 1rem;
}

.sns-icon {
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon-margin {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
}

/* 구글 로그인 부분 */
.google-button {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding: 0;
    background-color: #FFFFFF;
    border-color: #E1E4E6;
    border-width: 1px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.google-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    vertical-align: middle;
}

/* 네이버 로그인 부분 */
.naver-button {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(3 199 90/var(--tw-bg-opacity));
    border-style: none;
    border-width: 1px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.naver-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* 카카오 로그인 부분 */
.kakao-button {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(254 229 0/var(--tw-bg-opacity));
    border-style: none;
    border-width: 1px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.kakao-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* 회원가입 부분 */
.sign-up-wrap {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    flex-direction: column;
    display: flex;
}

/* 회원가입 버튼 */
.sign-up {
    outline-color: #CE201B;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    color: #CE201B;
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.sign-up:hover {
    background-color: #FFF0EE;
}

.oauth-wrap button {
    background: none;
    padding: 0;
}

div.oauth-wrap {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    margin-top: 100px;
}

.duplicate_error {
    color: #CE201B;
    margin-top: 30px;
}