@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

body {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
    opacity: 1;
}

html > body {
    top: 0 !important;
}

* {
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button, select {
    text-transform: none;
}

[role=button], button {
    cursor: pointer;
}

button {
    text-align: left;
}

[type=button], [type=reset], [type=submit], button {
    background-color: transparent;
    background-image: none;
}

[class*="hover\:"], a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

[class*="hover\:"]:focus, a:focus, button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}
.mypage-main {
    min-height: 100vh;
}

.mypage-wrap {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 1px;
}

.mypage-container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 72px;
    padding-bottom: 72px;
}

.mypage-box {
    grid-template-columns: repeat(12,minmax(0,1fr));
    display: grid;
}

.side-bar {
    grid-column: span 1/span 1;
    display: block;
}

.side-bar-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 2.25rem;
}

.side-bar-items {
    font-size: 1rem;
    line-height: 1.5rem;
}

.side-bar-items > div:not(:first-child) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem*var(--tw-space-y-reverse));
}

.target-color {
    --tw-text-opacity: 1;
    color: #CE201B;
}

.contents {
    --tw-space-x-reverse: 0;
    margin-right: calc(7rem*var(--tw-space-x-reverse));
    margin-left: calc(7rem*(1 - var(--tw-space-x-reverse)));
    grid-column: span 11/span 11;
}

.service-title-box {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.service-title {
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.send-letter-btn {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 600;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    --tw-border-opacity: 1;
    border-color: #CE201B;
    font-size: .95rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: 9999px;
    align-items: center;
    width: fit-content;
    display: flex;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    line-height: 2rem;
}

.send-letter-btn:hover {
    background-color: #9f0d08;
    border-color: #9f0d08;
}

.tab-list-box {
    justify-content: flex-end;
    display: flex;
}

.tab-list-contents {
    width: 10rem;
    text-align: left;
    display: inline-block;
    position: relative;
}

.tab-list-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.3rem;
    display: flex;
}

.tab-list-btn:hover, .tab-list-btn:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.tab-list {
    display: none;
    --tw-ring-color: rgba(0,0,0,.05);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    overflow: hidden;
    transform-origin: top right;
    min-width: 156px;
    margin-top: 0.5rem;
    z-index: 200;
    left: 0;
    position: absolute;
}

.tab {
    padding-left: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.tab:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.letter-box {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    border-radius: 0.375rem;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 1.5rem;
}

.letter-table {
    border-style: hidden;
    table-layout: fixed;
    width: 100%;
}

.letter-items {
    font-weight: 700;
    text-align: left;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    height: 3rem;
}

.letter-item-content {
    width: 360px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.letter-item-sender, .letter-item-receiver {
    display: table-cell;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 6rem;
}

.letter-item-time {
    display: table-cell;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 7.5rem;
}

.letter-item-gab {
    width: 4rem;
}

.letter-details {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    height: 3rem;
}

.letter-content {
    width: 310px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.letter-text {
    cursor: pointer;
}

.letter-sender, .letter-receiver, .letter-write-time {
    display: table-cell;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}

.letter-remove {
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
    cursor: pointer;
}

.test {
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    margin-top: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 15px;
}

.pagination-box {
    padding-top: 3rem;
    padding-bottom: 1.25rem;
}

.pagination-contents {
    justify-content: center;
    user-select: none;
    display: flex;
}

.pagination-items {
    font-size: .8125rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.prev-btn, .next-btn {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    height: 34px;
}

.next-btn {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
}

a.disabled, a:disabled, button.disabled, button:disabled {
    pointer-events: none!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    user-select: none!important;
    --tw-border-opacity: 1!important;
    border-color: rgb(242 244 245/var(--tw-border-opacity))!important;
    --tw-bg-opacity: 1!important;
    background-color: rgb(242 244 245/var(--tw-bg-opacity))!important;
    --tw-text-opacity: 1!important;
    color: rgb(206 211 214/var(--tw-text-opacity))!important;
    --tw-shadow: 0 0 #0000!important;
    --tw-shadow-colored: 0 0 #0000!important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important;
    --tw-ring-opacity: 1!important;
    --tw-ring-color: rgb(242 244 245/var(--tw-ring-opacity))!important;
}

.left-arrow-svg, .right-arrow-svg {
    width: 1rem;
    height: 1rem;
}

.prev-btn:hover, .next-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.page-numbers {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
}

.page-number-btn{
    --tw-space-x-reverse: 0;
    margin-right: calc(9px*var(--tw-space-x-reverse));
    margin-left: calc(9px*(1 - var(--tw-space-x-reverse)));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
}

.focus-page {
    --tw-space-x-reverse: 0;
    margin-right: calc(9px*var(--tw-space-x-reverse));
    margin-left: calc(9px*(1 - var(--tw-space-x-reverse)));
    --tw-text-opacity: 1;
    color: rgb(248 250 251/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    pointer-events: none;
}

.page-number {
    text-align: center;
    width: 1rem;
    height: 1rem;
}

.block {
    display: block;
}

.delete-modal-wrap, .letter-modal-wrap, .send-modal-wrap {
    z-index: 300;
    position: relative;
    display: none
}

.delete-modal-shadow, .letter-modal-shadow, .send-modal-shadow {
    background-color: rgba(0,0,0,.5);
    inset: 0;
    position: fixed;
}

.delete-modal-container, .letter-modal-container, .send-modal-container, .check-modal-container {
    justify-content: center;
    align-items: center;
    display: flex;
    inset: 0;
    position: fixed;
}

.delete-modal-box, .letter-modal-box, .send-modal-box, .check-modal-box {
    padding: 1.5rem;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.5rem;
    overflow-y: auto;
    max-width: 24rem;
    width: 100%;
    max-height: calc(100vh - 40px);
    margin-left: 1rem;
    margin-right: 1rem;
}

.modal-header-box{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.check-svg-box, .send-check-svg-box {
    --tw-bg-opacity: 1;
    background-color: rgb(237 255 248/var(--tw-bg-opacity));
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    display: none;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.send-check-svg-box {
    display: flex;
}

.check-svg, .send-check-svg {
    --tw-text-opacity: 1;
    color: rgb(23 130 99/var(--tw-text-opacity));
    width: 1.5rem;
    height: 1.5rem;
}

.modal-header-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.modal-btn-box, .check-modal-btn-box {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    display: flex;
}

.close-btn, .send-close-btn, .back-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.close-btn:hover, .send-close-btn:hover, .back-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.check-btn, .send-check-btn {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
    --tw-border-opacity: 1;
    border-color: #CE201B;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    line-height: 1;
    font-weight: 400;
    font-size: .8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: #CE201B;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.check-btn:hover, .send-check-btn:hover {
    --tw-bg-opacity: 1;
    background-color: #9f0d08;
}

.letter-modal-title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.sender-box, .receiver-box, .write-time-box {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 4px;
}

.sender-title, .receiver-title, .write-time-title {
    font-weight: 700;
}

.receiver-title, .receiver-email {
    line-height: 30px;
}

.sender-receiver-box {
    margin-top: 35px;
    margin-bottom: 10px;
}

.send-receiver-email {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-size: .9375rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    display: block;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    border-width: 1px;
}

.send-receiver-email:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.send-receiver-email:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: #2563EB;
    --tw-ring-opacity: 1;
    --tw-ring-color: #2563EB;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

textarea {
    border-radius: 0.375rem;
    width: 100%;
    resize: none !important;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    font-size: .9375rem;
    background-color: #fff;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    font-family: inherit;
    color: inherit;
    margin: 0;
    margin-top: 0.5rem;
    overflow: hidden;
    --tw-border-opacity: 1;
    outline-color: rgb(92 63 191/var(--tw-border-opacity));
}

textarea:focus {
    outline: #2563EB auto 1px;
}

textarea[name="send-content"]::-webkit-scrollbar {
    display: none;
}

.check-btn:hover, .send-check-btn:not(:disabled):hover {
    --tw-bg-opacity: 1;
    background-color: #9f0d08;
}

.send-check-btn:disabled {
    cursor: default;
    background-color: rgb(225 228 230/var(--tw-bg-opacity));
    border-color: rgb(225 228 230/var(--tw-border-opacity));
}