@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

body {
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
    opacity: 1;
}

html > body {
    top: 0 !important;
}

* {
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button, select {
    text-transform: none;
}

[role=button], button {
    cursor: pointer;
}

button {
    text-align: left;
}

[class*="hover\:"], a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

[type=button], [type=reset], [type=submit], button {
    background-color: transparent;
    background-image: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.mypage-main {
    min-height: 100vh;
}

.mypage-wrap {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 1px;
}

.mypage-container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 72px;
    padding-bottom: 72px;
}

.mypage-box {
    grid-template-columns: repeat(12,minmax(0,1fr));
    display: grid;
}

.side-bar {
    grid-column: span 1/span 1;
    display: block;
}

.side-bar-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 2.25rem;
}

.side-bar-items {
    font-size: 1rem;
    line-height: 1.5rem;
}

.side-bar-items > div:not(:first-child) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem*var(--tw-space-y-reverse));
}

.target-color {
    --tw-text-opacity: 1;
    color: #ce201b;
}

.contents {
    --tw-space-x-reverse: 0;
    margin-right: calc(7rem*var(--tw-space-x-reverse));
    margin-left: calc(7rem*(1 - var(--tw-space-x-reverse)));
    grid-column: span 11/span 11;
}

.service-title {
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 4rem;
}

.signal-box {
    font-size: .9375rem;
    margin-bottom: 2rem;
}

.signal-top-box {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-bottom: 0.75rem;
}

.type-title {
    flex-direction: row;
    width: 67%;
    display: flex;
}

.signal-type {
    --tw-text-opacity: 1;
    color: #ce201b;
    font-weight: 700;
    min-width: 60px;
    width: 10%;
    margin-right: 0.5rem;
}

.target-title {
    width: 90%;
    font-weight: 700;
}

.check-date {
    display: flex;
}

.signal-delete {
    --tw-text-opacity: 1;
    color: rgb(191 69 69/var(--tw-text-opacity));
    cursor: pointer;
    height: fit-content;
    margin-right: 0.625rem;
}

.signal-delete:hover {
    color: #9f0d08
}

.signal-date {
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    min-width: 78px;
}

.signal-bottom-text {
    line-height: 1.5rem;
    margin-left: 7.4%;
}

.signal-delete-modal {
    z-index: 200;
    position: relative;
}

.signal-delete-shadow {
    background-color: rgba(0,0,0,.5);
    inset: 0;
    position: fixed;
}

.signal-delete-box {
    justify-content: center;
    align-items: center;
    display: flex;
    inset: 0;
    position: fixed;
}

.signal-delete-items {
    padding: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.5rem;
    overflow-y: auto;
    max-width: 24rem;
    width: 100%;
    max-height: calc(100vh - 40px);
    margin-left: 1rem;
    margin-right: 1rem;
}

.signal-delete-title {
    text-align: center;
}

.signal-delete-ask {
    --tw-text-opacity: 1;
    color: rgb(54 58 60/var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-top: 0.25rem;
}

.signal-delete-btns {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    font-size: .9375rem;
    justify-content: space-between;
    display: flex;
}

.delete-cancle-btn, .delete-check-btn {
    --tw-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 3rem;
    display: flex;
}

.delete-cancle-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.delete-check-btn {
    color: rgb(255 255 255/var(--tw-text-opacity));
    background-color: #ce201b;
    font-weight: 700;
}

.delete-check-btn:hover {
    --tw-bg-opacity: 1;
    background-color: #9f0d08;
}

.signal-none {
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: center;
    width: 100%;
    display: flex;
}

.teenchin-more-btn {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    line-height: 1;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
}

.teenchin-more-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 251/var(--tw-bg-opacity));
}

.more-text-box {
    align-items: center;
    display: flex;
}

.down-arrow-svg {
    width: 1rem;
    height: 1rem;
}