{% extends 'terms/web/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'public/web/css/service-terms-web.css' %}">
{% endblock %}
{% block title %}틴플 :: 이메일 주소 무단수집 거부{% endblock %}
{% block content %}
    {% include 'fix/web/header-web.html' %}
    <!-- 취소 및 환불규정 페이지 시작 -->
    <main class="terms-wrap">
        <div class="email-terms-container">
            <div>
                <div>
                    <h5 class="terms-title">[이메일 주소 무단수집 거부]</h5>
                    <div class="terms-top-border"></div>
                    <br />
                    본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반시 정보통신망법에 의해 처벌될 수 있음을 유념하시기 바랍니다.
                    <br />
                    <br />
                    이메일무단수집거부 안내
                    <br />
                    <br />
                    – 이메일의 주체에게 사전동의를 받지 않고 본 홈페이지에 게시된 이메일 주소를 수집하여 영리목적의 광고를 하는 행위는 정보통신망법 제 50조제1항에 의하여 3천만원 이하의 과태료가 부과될 수 있습니다.
                    <br />
                    <br />
                    – 정보통신망법 제50조(영리목적의 광고성 정보 전송 제한) ① 누구든지 전자적 전송매체를 이용하여 영리목적의 광고성 정보를 전송하려면 그 수신자의 명시적인 사전 동의를 받아야 한다.
                </div>
            </div>
        </div>
    </main>
    {% include 'fix/web/footer-web.html' %}
{% endblock %}
{% block js %}{% endblock %}
