{% extends 'terms/web/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'public/web/css/information-web.css' %}">
{% endblock %}
{% block title %}틴플 :: 회원가입 수집·이용 동의서{% endblock %}
{% block content %}
    <!-- 전체 화면 -->
    <div class="screen-all-wrap">
        <div class="screen-wrap">
            <div class="screen-container">
                <!-- 본문 부분 -->
                <div class="service">
                    <span>
                        <br />
                        <br />
                        <br />
                    </span>
                    <!-- 제목 부분 -->
                    <section>
                        <h3 class="title">회원가입 수집·이용 동의서</h3>
                    </section>
                    <!-- 페이지 설명 부분 -->
                    <section>
                        <label>● 틴플레이(주식회사 틴플레이)의 개인정보 수집 이용 목적은 다음과 같습니다. 내용을 자세히 읽어 보신 후 동의 여부를 결정하여 주시기 바랍니다.</label>
                        <div class="content-items">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>수집목적</th>
                                        <th>필수항목</th>
                                        <th>선택항목</th>
                                        <th>보유·이용기간</th>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>회원가입 및 이용자 식별</td>
                                        <td>이름, 이메일, 비밀번호, 카카오톡ID, 네이버ID</td>
                                        <td>전화번호, 소속, 부서, 직급/직할, 출생년도, 성별, 활동지역, 관심분야</td>
                                        <td class="textImport">회원탈퇴 까지</td>
                                    </tr>
                                    <tr>
                                        <td>서비스관련 각종 고지 안내</td>
                                        <td>이름, 이메일, 휴대전화번호</td>
                                        <td></td>
                                        <td class="textImport">회원탈퇴 까지</td>
                                    </tr>
                                    <tr>
                                        <td>고객 관계 관리(CRM)</td>
                                        <td>이름, 이메일</td>
                                        <td>전화번호, 소속 및 직함, 연령, 성별</td>
                                        <td class="textImport">회원탈퇴 까지</td>
                                    </tr>
                                    <tr>
                                        <td>활동 참가자 식별 및 행사 운영</td>
                                        <td>이메일, 이름</td>
                                        <td>휴대전화번호, 기타 호스트가 요청하는 정보</td>
                                        <td class="textImport">회원탈퇴 까지</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="explain-text" style="word-break: break-all">원활한 서비스 운영을 위해 개인정보처리업무를 주식회사 스티비(대한민국), 네이버 N클라우드(대한민국), (주)다우기술(대한민국), 롯데 정보통신(대한민국), 허브스팟(미국)가 대행하고 있습니다. 자세한 내용은 
                            <a href="{% url 'terms:privacy' %}" target="_blank"> 
                                개인정보처리방침(링크)</a>을 확인해주세요.
                            </p>
                        <p class="explain-text">귀하는 위와 같이 개인정보를 수집·이용하는데 동의를 거부할 권리가 있습니다. 필수 수집 항목에 대한 동의를 거절하는 경우 서비스 이용이 제한 될 수 있습니다. 선택 수집 항목에 동의를 하지 않으시는 경우 별도의 불이익은 없습니다.</p>
                        <p class="explain-text"></p>
                        <p class="bottom-text">
                            <a href="https://www.catchsecu.com">Powered by Catchsecu</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}
