{% extends 'terms/web/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'public/web/css/service-terms-web.css' %}">
{% endblock %}
{% block title %}틴플 :: 취소 및 환불규정{% endblock %}
{% block content %}
    {% include 'fix/web/header-web.html' %}
    <!-- 취소 및 환불규정 페이지 시작 -->
    <main class="terms-wrap">
        <div class="terms-container">
            <div class="terms-boxes">
                <div class="terms-box-term">
                    <h5 class="terms-title">취소 및 환불규정(2024. 2. 5 부터 유효)</h5>
                    <div class="terms-top-border"></div>
                    <div class="terms-content-wrap">
                        <p class="terms-subtitle">제1조 (목적 및 적용대상)</p>
                        <ul class="terms-subcontent">
                            <li>① 본 약관은 주식회사 틴플레이(이하 ‘회사’라 합니다)가 제공하는 전자지급결제대행서비스, 선불전자지급수단의 발행 및 관리서비스(이하 ‘전자금융거래서비스’라 합니다)를 취소/환불함에 있어, 회사와 회원간 권리, 의무 및 회원의 이용절차 등에 관한 사항을 규정하는 것을 그 목적으로 합니다.</li>
                            <li>② 회사는 통신판매중개자이며 개설된 활동의 주최 및 당사자가 아닙니다.</li>
                            <li>③ 회사가 제공하는 결제서비스를 이용한 유료활동은 결제금액의 환불 시 회사가 정한 취소/환불약관에 따릅니다.</li>
                            <li>④ 개설자 통장입금 방식, 외부/현장신청 방식을 통한 결제금액의 환불은 본 약관의 적용대상에 해당하지 않습니다.</li>
                        </ul>

                        <p class="terms-subtitle">제2조 (정의)</p>
                        <ul class="terms-subcontent">
                            <li>
                                <ul>
                                    <li>① 본 약관에서 정한 용어의 정의는 아래와 같습니다.</li>
                                    <li class="terms-sublist">1. ‘전자금융거래’라 함은 회사가 전자적 장치를 통하여 전자금융업무를 제공하고, 회원이 회사의 종사자와 직접 대면하거나 의사소통을 하지 아니하고 자동화된 방식으로 이를 이용하는 거래를 말합니다.</li>
                                    <li class="terms-sublist">2. ‘회원’이라 함은 본 약관에 동의하고 본 약관에 따라 회사가 제공하는 전자금융거래서비스를 이용하는 이용자를 말합니다.</li>
                                    <li class="terms-sublist">3. ‘개설자’라 함은 개설된 활동의 주최자를 이야기합니다.</li>
                                    <li class="terms-sublist">4. ‘신청자’라 함은 개설된 활동의 참여자를 이야기합니다.</li>
                                    <li class="terms-sublist">5. ‘대기자’라 함은 결제를 완료하였으나 활동의 접수방법, 신청현황 등에 따라 대기자로 신청된 자를 이야기합니다.</li>
                                </ul>
                            </li>
                            <li>② 본 조 및 본 약관의 다른 조항에서 정의한 것을 제외하고는 전자금융거래법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관련 법령에 정한 바에 따릅니다.</li>
                        </ul>

                        <p class="terms-subtitle">제3조 (취소/환불 신청 기간)</p>
                        <ul class="terms-subcontent">
                            <li>① 회사 전자금융거래 서비스를 이용하는 유료활동의 취소/환불 신청기간은 개설자가 설정한 활동의 신청기간과 동일합니다.</li>
                            <li>② 신청기간 마감 이후에는 회사에서 취소/변경/환불이 불가능합니다.</li>
                            <li>③ 신청기간 마감 이후의 취소/변경/환불은 개설자에게 문의해야 하며, 개설자의 결정에 따릅니다.</li>
                            <li>④ 신청기간은 개설자의 설정에 의하여 변경될 수 있습니다.</li>
                        </ul>

                        <p class="terms-subtitle">제4조 (취소/환불 방법)</p>
                        <ul class="terms-subcontent">
                            <li>
                                <ul>
                                    <li>① 신청자는 신청기간 마감 전까지 아래의 방법으로 환불을 이용할 수 있습니다.</li>
                                    <li class="terms-sublist">가. 로그인 → 관리 → 결제내역 → 신청내역 → 결제취소</li>
                                    <li class="terms-sublist">나. 고객센터 문의하기</li>
                                </ul>
                            </li>
                            <li>② 결제수단, 환불신청 시점, 환불 사유에 따라 환불 수수료가 부과될 수 있습니다.</li>
                            <li>
                                <ul>
                                    <li>③ 결제수단, 환불 신청 시점에 따라 환불 방식은 결제취소 또는 환불신청으로 다를 수 있습니다.</li>
                                    <li class="terms-sublist">가. 결제취소는 PG사를 통해 자동 환불 처리가 되는 방식입니다.</li>
                                    <li class="terms-sublist">나. 환불신청은 회사 고객센터로 환불 계좌를 접수하여 계좌입금 되는 환불 방식입니다.</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>④ 결제 수단별 환불 시점 및 환불방식은 아래와 같습니다.</li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>가. 신용카드</li>
                                            <li class="terms-sublist">1) 회사에서의 환불 처리가 완료되고 카드사를 통해 결제승인이 취소되면 환불(한도액 복구)가 완료됩니다.</li>
                                            <li class="terms-sublist">2) 결제당일 이후 결제취소 시 카드사를 통한 결제승인 취소 확인은 3~7일 가량 소요될 수 있으며, 이는 카드사마다 다를 수 있습니다.</li>
                                        </ul>
                                    </li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>나. 실시간 계좌이체</li>
                                            <li class="terms-sublist">1) 회사에서의 환불 처리가 완료되면 결제에 이용한 계좌로 자동 입금되며, 평일 기준 1~2일 가량 소요될 수 있습니다.</li>
                                            <li class="terms-sublist">2) 입금 시점은 활동의 사정에 따라 달라질 수 있습니다.</li>
                                        </ul>
                                    </li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>다. 무통장입금(가상계좌), 휴대전화결제, 별도 계좌입금</li>
                                            <li class="terms-sublist">1) 환불은 환불 계좌 접수 후 5~7일 내에 접수된 계좌로 취소/환불수수료를 공제한 금액으로 입금됩니다.</li>
                                            <li class="terms-sublist">2) 접수 계좌 오류, 증빙서류 미접수 등의 사유로 환불이 유보 또는 지연될 수 있으며, 이 경우 이메일 등을 통해 별도 안내합니다.</li>
                                        </ul>
                                    </li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>라. 환불 계좌의 접수</li>
                                            <li class="terms-sublist">
                                                <ul>
                                                    <li>1) 환불은 반드시 신청자 본인 명의의 계좌로 접수해야 합니다.</li>
                                                    <li class="terms-sublist">신청자와 명의가 일치하지 않을 경우 회사는 증빙서류를 요청할 수 있습니다.</li>
                                                </ul>
                                            </li>
                                            <li class="terms-sublist">2) 증빙서류는 활동을 신청한 아이디(이메일)로만 접수받으며 다른 이메일로 접수하거나 증빙서류 미접수 시 환불이 유보될 수 있습니다.</li>
                                            <li class="terms-sublist">
                                                <ul>
                                                    <li>3) 잘못된 환불 계좌 또는 증빙서류를 접수하여 발생한 문제에 대하여 회사는 책임지지 않습니다.</li>
                                                    <li class="terms-sublist">
                                                        <ul>
                                                            <li>※ 타명의 계좌로의 환불 접수 시 증빙서류</li>
                                                            <li class="terms-sublist">* 개인계좌 : 명의가 일치하는 신분증 사본, 통장 사본</li>
                                                            <li class="terms-sublist">* 사업자계좌 : 명의가 일치하는 사업자등록증 사본, 통장 사본</li>
                                                            <li class="terms-sublist">* 결제에 이용한 계좌로 환불을 희망할 경우 : 은행명, 계좌번호가 확인되는 입금확인증</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <p class="terms-subtitle">제5조 (취소/환불 수수료)</p>
                        <ul class="terms-subcontent">
                            <li>①취소/환불 수수료는 결제수단, 환불시점, 신청상태, 환불사유에 따라 다르게 적용 및 공제됩니다.</li>
                            <li>
                                <ul>
                                    <li>②취소/환불 수수료 공제에 대한 세금계산서 또는 현금영수증을 희망하는 경우 고객센터로 문의 바랍니다.</li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>가. 참가자 환불</li>
                                            <li class="terms-sublist">1) 참가자 상태의 신청자가 단순 변심 등 본인의 사정으로 인해 환불을 할 경우에 해당합니다.</li>
                                            <li class="terms-sublist">2) 무통장입금(가상계좌)는 결제금액이 1,100원 미만일 경우 환불이 불가능합니다.</li>
                                            <li class="terms-sublist">
                                                <ul>
                                                    <li>3) 휴대전화결제 후 번호이동, 해지 등 휴대전화 정보가 변경된 경우 결제일자, 신청상태, 환불시점에 따라 약관 내용이 적용됩니다.</li>
                                                    <li class="terms-sublist">
                                                        <div class="terms-table-container">
                                                            <div class="terms-table-boxes">
                                                                <div class="terms-table-box">
                                                                    <table class="terms-refund-table">
                                                                        <thead>
                                                                            <tr class="terms-table-row">
                                                                                <th scope="col" class="terms-table-head-left refund"></th>
                                                                                <th scope="col" class="terms-table-head-center refund">결제당일</th>
                                                                                <th scope="col" class="terms-table-head-center refund">결제익일 ~ 참여신청기간 마감 전</th>
                                                                                <th scope="col" class="terms-table-head-right refund">참여신청기간 마감 후</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="terms-table-body">
                                                                            <tr>
                                                                                <td class="terms-table-body-left refund">신용카드</td>
                                                                                <td colspan="3" class="refund-table-body-center">수수료 없음</td>
                                                                            </tr>
                                                                            <tr class="terms-table-row">
                                                                                <td class="refund-table-body-left">실시간 계좌이체</td>
                                                                                <td class="refund-table-body-center">수수료 없음</td>
                                                                                <td class="refund-table-body-center">10% (신청취소수수료)</td>
                                                                                <td class="refund-table-body-right">10% (신청취소수수료)</td>
                                                                            </tr>
                                                                            <tr class="terms-table-row">
                                                                                <td class="refund-table-body-left">무통장입금 (가상계좌)</td>
                                                                                <td class="refund-table-body-center">수수료 없음</td>
                                                                                <td class="refund-table-body-center">10% (신청취소수수료)</td>
                                                                                <td class="refund-table-body-right">10% (신청취소수수료)</td>
                                                                            </tr>
                                                                            <tr class="terms-table-row">
                                                                                <td class="terms-table-body-left refund">휴대전화결제 (결제당월환불)</td>
                                                                                <td colspan="3" class="refund-table-body-center">수수료 없음</td>
                                                                            </tr>
                                                                            <tr class="terms-table-row">
                                                                                <td class="refund-table-body-left">휴대전화결제 (결제익월환불)</td>
                                                                                <td class="refund-table-body-center">수수료 없음</td>
                                                                                <td class="refund-table-body-center">10%(신청취소수수료) +500원(계좌이체수수료)</td>
                                                                                <td class="refund-table-body-right">10%(신청취소수수료) +500원(계좌이체수수료)</td>
                                                                            </tr>
                                                                            <tr class="terms-table-row">
                                                                                <td class="refund-table-body-left">별도 계좌입금</td>
                                                                                <td class="refund-table-body-center">3%(신청취소수수료) +500원(계좌이체수수료)</td>
                                                                                <td class="refund-table-body-center">10%(신청취소수수료) +500원(계좌이체수수료)</td>
                                                                                <td class="refund-table-body-right">10%(신청취소수수료) +500원(계좌이체수수료)</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>나. 대기자 환불</li>
                                            <li class="terms-sublist">1) 활동기간 종료 후 회사에서 결제완료 대기자의 환불 여부를 별도 확인하여 안내하고 있습니다.</li>
                                            <li class="terms-sublist">2) 대기자는 결제수단, 환불시점에 관계없이 환불 수수료가 부과되지 않습니다.</li>
                                        </ul>
                                    </li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>다. 결제수단 변경 환불</li>
                                            <li class="terms-sublist">1) 이전 결제 시 이용한 결제수단에 따라 환불 수수료가 부과될 수 있습니다.</li>
                                            <li class="terms-sublist">
                                                <ul>
                                                    <li>2) 휴대전화결제 후 번호이동, 해지 등 휴대전화 정보가 변경된 경우 결제일자와 관계없이 ‘결제 익월’ 환불 수수료가 적용됩니다.</li>
                                                    <li>
                                                        <div class="terms-table-container">
                                                            <div class="terms-fee-table-wrap">
                                                                <div class="terms-fee-table-boxes">
                                                                    <table class="terms-fee-table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col" class="terms-fee-head-left">신용카드</th>
                                                                                <th scope="col" class="terms-fee-head-center">실시간 계좌이체, 별도 계좌입금</th>
                                                                                <th scope="col" class="terms-fee-head-center">무통장입금 (가상계좌)</th>
                                                                                <th scope="col" class="terms-fee-head-center">휴대전화 (결제 당월)</th>
                                                                                <th scope="col" class="terms-fee-head-right">휴대전화 (결제 익월)</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="terms-fee-body">
                                                                            <tr>
                                                                                <td class="terms-fee-body-left">수수료 없음</td>
                                                                                <td class="terms-fee-body-center">결제금액의 1.7%</td>
                                                                                <td class="terms-fee-body-center">결제금액의 2.5%</td>
                                                                                <td class="terms-fee-body-center">수수료 없음</td>
                                                                                <td class="terms-fee-body-right">결제금액의 4%</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <p class="terms-subtitle">제6조 (활동 개설자의 활동 중도 취소/변경 시 환불)</p>
                        <ul class="terms-subcontent">
                            <li>① 회사 결제서비스를 이용하는 유료활동을 개설하여 참가비 결제가 발생한 후, 개설자의 사정으로 인해 활동이 중도 변경 또는 취소 등이 이루어질 경우 신청자에 대한 환불 수수료는 개설자가 부담합니다.</li>
                            <li>② 개설자가 회사로 취소/환불 수수료 입금 후에 신청자에 대한 환불 절차가 진행됩니다.</li>
                            <li>
                                <ul>
                                    <li>③ 신청자에 대한 환불은 신청자가 이용한 결제수단과 결제일시에 관계 없이 전액 환불됩니다.</li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>가. 활동 중도 취소/변경 환불 절차</li>
                                            <li class="terms-sublist">1) 개설자가 신청자(참가자, 대기자)에게 활동 취소/변경 사실 안내 및 환불 절차 안내</li>
                                            <li class="terms-sublist">2) 활동 신청기간 마감 처리</li>
                                            <li class="terms-sublist">3) 회사 고객센터로 취소/환불수수료 입금 및 신청자 환불 신청 접수</li>
                                        </ul>
                                    </li>
                                    <li class="terms-sublist">
                                        <ul>
                                            <li>나. 유료활동 중도 취소/변경 수수료</li>
                                            <li>
                                                <div class="terms-table-container">
                                                    <div class="activity-table-wrap">
                                                        <div class="activity-table-container">
                                                            <table class="terms-fee-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" class="activity-table-head-left">결제수단</th>
                                                                        <th scope="col" class="activity-table-head-right">수수료</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="activity-table-body">
                                                                    <tr>
                                                                        <td class="activity-table-body-left">신용카드 (국내/해외)</td>
                                                                        <td class="activity-table-body-right">수수료 없음</td>
                                                                    </tr>
                                                                    <tr class="terms-table-row">
                                                                        <td class="activity-table-body-left">실시간 계좌이체</td>
                                                                        <td class="activity-table-body-right">실시간계좌이체 총 결제금액의 2% X 신청인원</td>
                                                                    </tr>
                                                                    <tr class="terms-table-row">
                                                                        <td class="activity-table-body-left">무통장입금(가상계좌)</td>
                                                                        <td class="activity-table-body-right">800원 X 신청인원</td>
                                                                    </tr>
                                                                    <tr class="terms-table-row">
                                                                        <td class="activity-table-body-left">휴대전화</td>
                                                                        <td class="activity-table-body-right">휴대전화 총 결제금액의 5% X 신청인원</td>
                                                                    </tr>
                                                                    <tr class="terms-table-row">
                                                                        <td class="activity-table-body-left">별도 계좌입금</td>
                                                                        <td class="activity-table-body-right">별도 계좌입금 총 결제금액의 2% X 신청인원</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="terms-subcontent">
                            <li>(시행일) 본 약관은 2024 년 2월 5일 부터 시행됩니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'fix/web/footer-web.html' %}
{% endblock %}
{% block js %}{% endblock %}
