@import url('https://webfontworld.github.io/sunn/SUIT.css');

#main-festival-category-event-left-input:checked {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2016%2016%27%20fill%3D%27%23fff%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M12.207%204.793a1%201%200%200%201%200%201.414l-5%205a1%201%200%200%201-1.414%200l-2-2a1%201%200%200%201%201.414-1.414L6.5%209.086l4.293-4.293a1%201%200%200%201%201.414%200z%27%2F%3E%3C%2Fsvg%3E');
    border-color: transparent;
    background-color:  #CE201B;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
   
}

#main-festival-category-event-right-input:checked {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2016%2016%27%20fill%3D%27%23fff%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M12.207%204.793a1%201%200%200%201%200%201.414l-5%205a1%201%200%200%201-1.414%200l-2-2a1%201%200%200%201%201.414-1.414L6.5%209.086l4.293-4.293a1%201%200%200%201%201.414%200z%27%2F%3E%3C%2Fsvg%3E');
    border-color: transparent;
    background-color:  #CE201B;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
   
}

#main-festival-category-event-right-input:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: #CE201B;

    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
}

#main-festival-category-event-left-input:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: #CE201B;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
}




*{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    scrollbar-color: auto;
    scrollbar-width: auto;
    letter-spacing: -.03125em;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
    font-family: SUIT,sans-serif;
}

html{
    font-size: 16px;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    font-family: SUIT,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body{
    position: relative;
    min-height: 100%;
    
    opacity: 1;
    top: 0 !important;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    margin: 0;
    line-height: inherit;
    top: 0px;
}

main{
    min-height: 100vh;
}

.main-festival{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.main-festival-search{
    margin-top: 1rem;
    position: relative;
}

.main-festival-search-button{
    --tw-text-opacity: 1;
    color: rgb(169 175 179/var(--tw-text-opacity));
    top: 1rem;
    left: 1rem;
    position: absolute;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.main-festival-search-svg{
    width: 1rem;
    height: 1rem;
    display: block;
    vertical-align: middle;
}

.main-festival-search-input{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    padding-left: 2.5rem;
    border-radius: 0.375rem;
    width: 100%;
    height: 3rem;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    font-size: .9375rem;
    background-color: #fff;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
}

.main-festival-category-select:focus{
    --tw-border-opacity: 1;
    border-color:  #CE201B;
    --tw-ring-opacity: 1;
    --tw-ring-color:  #CE201B;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}


.main-festival-search-input:focus{
    --tw-border-opacity: 1;
    border-color:  #CE201B;
    --tw-ring-opacity: 1;
    --tw-ring-color:  #CE201B;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.main-festival-category-date-input:focus{
    --tw-border-opacity: 1;
    border-color:  #CE201B;
    --tw-ring-opacity: 1;
    --tw-ring-color:  #CE201B;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.main-festival-count{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 2.5rem;
}

.main-festival-count-number{
    --tw-text-opacity: 1;
    color: #CE201B;

}

.main-festival-category{
    flex-direction: column;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-festival-category-select{
    font-size: .9375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-radius: 0.375rem;
    width: 100%;
    display: block;
    appearance: none;
    border-color: rgba(0,0,0,.1);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23878D91' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    background-color: #fff;
    padding-left: 0.75rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    text-transform: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    margin-bottom: 1.5rem;
}

.main-festival-category-date{
    width: 100%;
    margin-bottom: 1.5rem;
}

.main-festival-category-date-warp{
    width: 100%;
    position: relative;
}

.main-festival-category-date-label{
    display: block;
    position: relative;
}

.main-festival-category-date-input{
    --tw-border-opacity: 1;
    border-color: rgb(225 228 230/var(--tw-border-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    font-size: .9375rem;
    line-height: 1;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    appearance: none;
    --tw-shadow: 0 0 #0000;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
}

.main-festival-category-date-span{
    border-radius: 0.375rem;
    overflow: hidden;
    align-items: center;
    display: inline-flex;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.main-festival-category-date-span-button{
    border-radius: 0.375rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    margin-right: 0.25rem;
}

.main-festival-category-date-span-button-svg{
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    vertical-align: middle;
}

.main-festival-category-event{
    align-items: center;
    display: flex;
}

.main-festival-category-event-left{
    margin-right: 4.5rem;
}

.main-festival-category-event-left-warp{
    justify-content: space-between;
    display: flex;
}

.main-festival-category-event-left-container{
    align-items: center;
    display: flex;
}

#main-festival-category-event-left-input{
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(92 63 191/var(--tw-text-opacity));
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    --tw-shadow: 0 0 #0000;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}

.main-festival-category-event-left-label{
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    font-size: .9375rem;
    cursor: pointer;
    display: block;
}

.main-festival-category-event-right{
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
}

.main-festival-category-event-right-warp{
    justify-content: space-between;
    display: flex;
}

.main-festival-category-event-right-container{
    align-items: center;
    display: flex;
}

#main-festival-category-event-right-input{
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(92 63 191/var(--tw-text-opacity));
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    --tw-shadow: 0 0 #0000;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}

.main-festival-category-event-right-label{
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    font-size: .9375rem;
    cursor: pointer;
    display: block;
}

.main-festival-main{
    grid-auto-rows: 0.5rem;
    gap: 1rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;
}

.main-festival-main-content{
    grid-row-end: span 14;
    visibility: visible;
    width: 100%;
}

.main-festival-main-img{
    border-radius: 0.375rem;
    overflow: hidden;
    position: relative;
}

.main-festival-main-img-a{
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    color: inherit;
    text-decoration: inherit;
}

.main-festival-main-img-photo{
    transition-duration: .3s;
    object-fit: contain;
    border-radius: 0.375rem;
    width: 100%;
    height: auto;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.main-festival-main-img-status{
    --tw-text-opacity: 1;
    color:  #CE201B;
    font-size: .8125rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: #FFF0EE;
    border-radius: 0.375rem;
    display: inline-block;
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
}

.main-festival-main-place{
    font-size: .8125rem;
    align-items: center;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-festival-main-place-in{
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
}

.main-festival-main-place-bet{
    --tw-text-opacity: 1;
    color: rgb(225 228 230/var(--tw-text-opacity));
    border-right-width: 1px;
    height: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.main-festival-main-place-date{
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    display: flex;
}

.point{
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem*var(--tw-space-x-reverse));
    margin-left: calc(0.25rem*(1 - var(--tw-space-x-reverse)));
}

.main-festival-main-title{
    font-weight: 700;
}

.main-festival-main-title-text{
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    color: inherit;
    text-decoration: inherit;
}

.main-festival-main-button{
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-text-opacity: 1;
    color: rgb(135 141 145/var(--tw-text-opacity));
    line-height: 1;
    font-weight: 400;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-style: none;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    display: flex;
    -webkit-appearance: button;
    background-image: none;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    text-align: left;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 5rem;
}

.main-festival-main-button-span{
    margin-right: 0.5rem;
}

.main-festival-main-button-svg{
    width: 1rem;
    height: 1rem;
    display: block;
    vertical-align: middle;
}

.main-festival-main-give{
    margin-top: 1.5rem;
}

.main-festival-main-give-a{
    --tw-text-opacity: 1;
    color: #CE201B;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    text-decoration: inherit;
}