<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/staticfiles/css/activity/activity-app/activity-join-app.css" />
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" />
        <title>틴플 : 활동 참가 신청</title>
    </head>
    <body>
        <main class="main-activity-write">
            <div class="main-body-app">
                <div class="body-container">
                    <form>
                        <div class="body-divide">
                            <div>
                                <div class="content-section">
                                    <div class="content-top">
                                        <div>
                                            <img class="content-top-image" src="https://eventusstorage.blob.core.windows.net/evs/Image/kihome/72061/ProjectInfo/Cover/c5a531d59d6a42ee93b85425c70b29f1.png" />
                                        </div>
                                        <div class="content-top-title-box">
                                            <a class="content-top-title" href="/kihome/event/72061"> (무료 세미나) 챗GPT 활용해서 생산성 300% 향상! 인스타그램/유튜브/프롬프트 적용하기 </a>
                                        </div>
                                    </div>
                                    <div class="content-middle">
                                        <div class="content-middle-date">
                                            <span> 02월 28일(수) 20:00 ~ 02월 28일(토) 21:00 </span>
                                        </div>
                                    </div>
                                    <div class="content-bottom">
                                        <span>온라인으로 진행하는 행사입니다.</span>
                                    </div>
                                </div>
                            </div>
                            <section class="group-list">
                                <div>
                                    <div class="group-box">
                                        <div class="group-box-items">
                                            <div class="group-overflow-auto">
                                                <div class="group-bg-gray">
                                                    <input class="group-item-id" type="hidden" />
                                                    <input class="group-item-number" type="hidden" />
                                                    <div class="group-content-box">
                                                        <div class="group-content-center-item">
                                                            <div class="text-date-base">
                                                                <span style="display: none">[]</span>
                                                                <span>2월 28일(수) 20:00시 무료 세미나</span>
                                                            </div>
                                                        </div>
                                                        <div class="group-content-center-item-text">
                                                            <div class="group-content-item-center">
                                                                <div class="group-content-item-inline-border">
                                                                    <button class="content-minus-button" type="button">-</button>
                                                                    <div class="content-count">1</div>
                                                                    <button class="content-plus-button" type="button">+</button>
                                                                </div>
                                                                <div class="group-content-item-leftover">
                                                                    <div class="leftover-text">
                                                                        <span>잔여 수량</span>
                                                                        <span>: 184</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="activity-pay">무료</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="userinfo">
                                <div class="userinfo-container">
                                    <div class="userinfo-title">
                                        <div class="userinfo-title-text">
                                            <span>신청자 정보</span>
                                        </div>
                                        <div class="userinfo-title-sub-text-box">
                                            <div class="userinfo-title-sub-flex">
                                                <div class="userinfo-sub-text">
                                                    <span>신청 정보는 신청내역 페이지에서 확인할 수 있습니다.</span>
                                                </div>
                                                <div class="userinfo-sub-text-link">
                                                    <a href="/mypage/allevent" target="_blank">
                                                        <span>신청 내역 확인하기 &gt;</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="userinfo-bg-white">
                                            <div>
                                                <div>
                                                    <div class="userinfo-name-title">
                                                        <label class="name-title-tie" for="name">
                                                            <span>이름</span>
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                    <input class="input-name" type="text" autocomplete="off" />
                                                    <div class="name-max-count">0/50</div>
                                                    <div class="name-hidden-display">
                                                        <div>항목을 입력하세요.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="userinfo-email-container">
                                        <div class="userinfo-email-bg">
                                            <div class="userinfo-disabled">
                                                <div class="userinfo-email-box">
                                                    <div class="userinfo-email-title">
                                                        <label class="email-title-tie" for="email">
                                                            <span class="email-text-gray">이메일</span>
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                    <input class="input-email" type="email" autocomplete="off" />
                                                    <div class="email-max-count">0 / 50</div>
                                                    <div class="email-hidden-display">
                                                        <div>항목을 입력하세요.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="survey">
                                <div class="survey-bg">
                                    <div class="survey-name-title">
                                        <div class="survey-title">
                                            <span>사전설문</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="survey-content-box">
                                            <div class="survey-content-title">
                                                개인정보 제3자 제공에 대한 동의
                                                <span class="text-danger">*</span>
                                            </div>
                                            <div class="survey-content-text" style="line-height: 150%">
                                                ①개인정보를 제공받는 자 : 수이 파운데이션<br />②개인정보를 제공받는 자의 개인정보 이용 목적 : 설문조사 및 프로모션, 이벤트 경품 제공, 영업 및 마케팅 자료 활용, 행사 관련 마케팅 <br />③제공하는 개인정보의 항목 : 성명, 회사명, 직위, 부서명,
                                                휴대폰번호,e-mail주소 <br />④개인정보의 보유 및 이용 기간 : 개인정보 취급 목적을 달성하여 더 이상 개인정보가 불필요하게 된 경우 지체 없이 해당 정보를 파기할 것입니다. <br />* 정보주체는 해당 개인정보 제3자 제공 동의에 대한 거부 권리가 있습니다. <br />
                                                (단, 개인정보 제3자 제공 동의를 하지 않으실 경우에는 참가 신청을 하실 수 없습니다.)
                                            </div>
                                            <div class="survey-check-box">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div class="survey-radio-tie">
                                                                    <input class="ev-radio-111" type="radio" value="true" />
                                                                    <label class="label-ev-radio-111" for="ev-radio-111">동의합니다.</label>
                                                                </div>
                                                                <div class="survey-danger-text">이 항목은 필수 입니다.</div>
                                                            </div>
                                                        </div>
                                                        <div class="survey-no-aggreement-box">
                                                            <div>
                                                                <div>
                                                                    <input class="ev-input-112" type="text" autocomplete="off" />
                                                                    <div class="survey-max-text">0 /</div>
                                                                    <div class="survey-danger-hidden">
                                                                        <div>항목을 입력하세요.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="survey-important-text">
                                                <span class="text-danger-survey">필수 설문입니다.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="right-body-divide">
                                <div class="divide-sticky">
                                    <div class="sticky-padding">
                                        <div>
                                            <div class="sticky-activity-price-title">
                                                <span>금액</span>
                                            </div>
                                            <div class="activity-price">
                                                <span>
                                                    <span>무료</span>
                                                </span>
                                            </div>
                                            <!-- 결제방법 -->
                                            <div class="activity-price-no-free">
                                                <div class="price-choice-text">결제방법</div>
                                                <div>
                                                    <div class="choice-price-tie">
                                                        <div class="price-credit-card">신용카드/간편결제</div>
                                                        <div class="price-vm-account">가상계좌</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="aggreement-check-box">
                                                <div class="aggreement-all-text-item">
                                                    <div>
                                                        <div class="aggreement-between">
                                                            <div class="aggreement-between-center">
                                                                <input class="aggreement-all-checks" name="check-all" id="ev-checkbox-117" type="checkbox" />
                                                                <label class="aggreement-all-checks-text" for="ev-checkbox-117">
                                                                    <span>전체 동의하기</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="aggreement-border-line"></div>
                                                <div class="aggreement-items-box">
                                                    <div>
                                                        <div class="aggreement-item-first">
                                                            <div class="aggreement-between-center">
                                                                <input class="aggreement-age-check" name="check" type="checkbox" id="age-checks" />
                                                                <label class="aggreement-age-check-text" for="age-checks">
                                                                    <span class="text-age">(필수) 만 14세 이상입니다.</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="aggreement-text-danger">이 항목은 필수 입니다</div>
                                                    </div>
                                                    <div class="aggreement-item">
                                                        <div>
                                                            <div>
                                                                <div class="aggreement-between">
                                                                    <div class="aggreement-between-center">
                                                                        <input class="aggreement-personerinfo-check" name="check" type="checkbox" id="personerinfo-check" />
                                                                        <label class="aggreement-personerinfo-check-text" for="personerinfo-check">
                                                                            <span class="text-personerinfo">(필수) 개인정보 수집 이용 동의서</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aggreement-text-danger">이 항목은 필수 입니다</div>
                                                        </div>
                                                        <div>
                                                            <a class="personer-check-link" target="_blank" href="https://app.catchsecu.com/document/C/a5e0b9ef995f95c">
                                                                <span class="find-content">내용보기</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="aggreement-item">
                                                        <div>
                                                            <div>
                                                                <div class="aggreement-between">
                                                                    <div class="aggreement-between-center">
                                                                        <input class="aggreement-service-check" name="check" type="checkbox" id="service-check" />
                                                                        <label class="aggreement-service-check-text" for="service-check">
                                                                            <span class="text-service">(필수) 서비스 이용 약관 동의</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="aggreement-text-danger">이 항목은 필수 입니다</div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a class="service-check-link" target="_blank" href="/Legal/Service">
                                                                <span class="find-content">내용보기</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="aggreement-item">
                                                        <div>
                                                            <div>
                                                                <div class="aggreement-between">
                                                                    <div class="aggreement-between-center">
                                                                        <input class="aggreement-privacy-check" name="check" type="checkbox" id="privacy-check" />
                                                                        <label class="aggreement-privacy-check-text" for="privacy-check">
                                                                            <span class="text-service">(필수) 제 3자 제공 동의서</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="aggreement-text-danger">이 항목은 필수 입니다</div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a class="privacy-check-link" target="_blank" href="https://app.catchsecu.com/document/C/0379a605c05b8f2">
                                                                <span class="find-content">내용보기</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="aggreement-item">
                                                        <div>
                                                            <div>
                                                                <div class="aggreement-between">
                                                                    <div class="aggreement-between-center">
                                                                        <input class="aggreement-pay-check" name="check" type="checkbox" id="pay-check" />
                                                                        <label class="aggreement-pay-check-text" for="pay-check">
                                                                            <span class="text-service">(필수) 구매조건 확인 및 결제대행 약관 동의</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="aggreement-text-danger">이 항목은 필수 입니다</div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a class="pay-check-link" target="_blank" href="/Legal/E_Banking">
                                                                <span class="find-content">내용보기</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sticky-button-box">
                                            <button class="no-pay-button" type="button">
                                                <span>신청하기</span>
                                            </button>
                                            <!-- 과금 필요 시 생기는 버튼 -->
                                            <button class="pay-button" type="button">
                                                <span>결제하기</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
    <script src="/staticfiles/js/activity/app/activity-join-app.js"></script>
</html>
